.schema-content
	.schema.schema__dark
		.container
			.row
				.col-md-12
					.schema__card-bg
						.container
							.row
								.col-lg-6.mb-3
									.h2.text-white.mb-3 Схема
									.schema__card-bg-item.mb-4 «Выделить бюджет на Директ/Adwords и получить в 10 раз больше прибыли»
									.h2.text-white.mb-0.schema__card-bg-main-text
										span.yellow-red(data-text="уже не работает") уже не работает
								.col-lg-6.d-flex.flex-column.justify-content-between.align-items-start.mb-3
									p.text-white.mt-2 Теперь все больше конкурентов участвуют в алгоритме, цены растут, а посетителей больше не становится, рынок переполнен. Сегодня необходим системный подход к Performance маркетингу. Об этом говорит Яндекс и наш опыт.
									.d-flex.align-items-center.mb-4
										img(src="picture/upload/unicorn.svg", alt="").mr-1
										p.mb-0.text-white Но легенда о волшебном контексте еще жива...
									button.btn.btn-warning.data-scroll(data-scroll="form-content") Сделать системный Performance
			.row
				.col-md-12.pb-5.pb-sm-4
					+bloquote('Александра Тихомирова','специалист отдела трафика', 'tihomirova.png', 'Важно вовремя провести углубленный анализ трафика, выявить нюансы по ЦА, изучить изменение спроса, чтобы не тратить деньги на рекламу впустую, чтобы даже в сложный период бизнес смог выстоять эту борьбу.', 'white')
	section.schema.schema-gradient.pt-2.schema__dark.pt-5
		.container.mt-lg-5
			.row.align-items-end
				.col-lg-5.mb-4
					h2.h2.mb-4.mt-4.schema__special-text
						span.yellow-red.text-white(data-text="Медиаплан") Медиаплан
					p.text-white.mb-4 Мы строим медиаплан для каждого используемого канала привлечения, просчитывая актуальные для вашего бизнеса показатели, а не опираясь на сухую статистику.
					p.text-white.mb-4 В рамках медиаплана мы прогнозируем:
					ul.pl-4.mb-2.text-white
						li.mb-2 Окупаемость инвестиций (ROI)
						li.mb-2 Прибыль от одного клиента (LTV)
						li.mb-2 Стоимость клика (CPC)
						li.mb-2 Среднее время до покупки
						li.mb-2 Стоимость лида
				.col-lg-7.d-none.d-lg-block.mb-4
					img(src="picture/upload/performance-notebook.png", alt="").w-100
	section.schema.schema__special.schema__dark.pb-sm-5
		.container
			.row
				.col-lg-5.mt-4.schema__dark-z-index
					h2.h2.mb-4
						span.yellow-red.text-white.double-text(data-text="Думаем о качестве") Думаем о качестве 
						span.text-white трафика
					p.text-white.mb-4 Мы — маркетинговое агентство, поэтому у наших специалистов в списке мотивирующих kpi - количество заявок, звонков, продаж и других целевых действий.
					p.h3.font-weight-normal.mb-4.text-warning Мы приводим трафик, который конвертируется в заявки.
					button.btn.btn-warning.data-scroll(data-scroll="form-content").mb-4 Привлечь трафик по системе!
				.col-lg-7.mt-4.schema__dark-z-index
					.schema__absolute
						.schema__absolute-item.schema__absolute-item-1.text-white в Москве
							sup (2100)
						.schema__absolute-item.schema__absolute-item-2.big.text-white автомобиль
							sup (2100)
						.schema__absolute-item.schema__absolute-item-3.text-white пицца
							sup (5592)
						.schema__absolute-item.schema__absolute-item-4.text-white бизнес
							sup (3301)
						.schema__absolute-item.schema__absolute-item-5.big.text-white техника
							sup (5340)
						.schema__absolute-item.schema__absolute-item-6.big.text-white продажа
							sup (2151)
						.schema__absolute-item.schema__absolute-item-7.big.text-white курсы
							sup (5642)
	section.schema.schema__dark.pb-5
		.container
			.row
				.col-md-12.col-lg-10.col-xl-8
					h2.h2.mb-4
						span.text-white Уникальные 
						span.yellow-red.text-white.double-text(data-text="кейсы Performance") кейсы Performance 
						br
						span.text-white от наших специалистов 
			.row
				.col-lg-3.col-md-6.mb-3
					a(href="https://www.completo.ru/cases/email-marketing-dlya-zavoda/" target="_blank").seo-system__card-traffic
						.seo-system__card-traffic-img
							img(src="picture/upload/quality_1.jpg", alt="").w-100
						.seo-system__card-traffic-foot
							p.mb-4.seo-system__card-traffic-text Email-маркетинг для производителя - 3 млн продаж из рассылок
							.seo-system__card-traffic-foot-item
								.h2.text-warning.mb-0 +25%
								p.text-warning.mb-2 выше конверсия в покупку из рассылок
				.col-lg-3.col-md-6.mb-3
					a(href="https://blog.completo.ru/keys-kak-bez-peredelki-sayta-ispolzuya-pravilnuyu-internet-reklamu-i-analitiku-zarabotat-15-000-000-dlya-klienta/" target="_blank").seo-system__card-traffic
						.seo-system__card-traffic-img
							img(src="picture/upload/quality_2.jpg", alt="").w-100
						.seo-system__card-traffic-foot
							p.mb-4.seo-system__card-traffic-text 15 млн руб продаж светового оборудования
							.seo-system__card-traffic-foot-item
								.h2.text-warning.mb-0 700% ROI
								p.text-warning.mb-2 за 6 месяцев работы
				.col-lg-3.col-md-6.mb-3
					a(href="https://www.completo.ru/cases/kontekstnaya-reklama-dlya-finansovoj-kompanii/" target="_blank").seo-system__card-traffic
						.seo-system__card-traffic-img
							img(src="picture/upload/quality_3.jpg", alt="").w-100
						.seo-system__card-traffic-foot
							p.mb-4.seo-system__card-traffic-text 8 млн руб. сэкономленного бюджета на рекламу для финансовой компании
							.seo-system__card-traffic-foot-item
								.h2.text-warning.mb-0 -91%
								p.text-warning.mb-2 снижение стоимости лида
				.col-lg-3.col-md-6.mb-3
					a(href="https://blog.completo.ru/marketing-dlya-klinik/" target="_blank").seo-system__card-traffic
						.seo-system__card-traffic-img
							img(src="picture/upload/quality_4.jpg", alt="").w-100
						.seo-system__card-traffic-foot
							p.mb-4.seo-system__card-traffic-text Снижение стоимости ключевых показателей в медицинской компании
							.seo-system__card-traffic-foot-item
								.h2.text-warning.mb-0 -20%
								p.text-warning.mb-2 стоимость цели
			.row
				.col-md-12.d-flex.justify-content-center
					button.btn.btn-warning.data-scroll.my-4(data-scroll="form-content").mb-4 Сделать нормальный Performance