.education
	.container.education__container
		.row
			.col-lg-8
				.education__sub-title.sub-title.text-uppercase Instructions and video courses
				.h3.mb-4.education__main-title We teach for free
		.row
			.col-md-12
				.custom-scrollbar
					.d-flex.education-container
						.education__card.animation.big_shadow_before.visible(data-animate="big_shadow")
							a(target="_blank" href="https://www.completo.ru/checklist-strategy-online-marketing/").education__link
								img(src="picture/upload/check-list.png", alt="").education__card-img
							.education__card-title
								a(target="_blank" href="https://www.completo.ru/checklist-strategy-online-marketing").text-dark Checklist for digital marketing and sales strategy
							.education__card-text
								i.icon.icon-upload
								span 4 000 downloads
							a(target="_blank" href="https://www.completo.ru/checklist-strategy-online-marketing/").btn.btn-white.text-dark.education__btn Watch
						.education__card.animation.big_shadow_before.visible(data-animate="big_shadow")
							a(target="_blank" href="https://blog.completo.ru/videocourse/").education__link
								img(src="picture/upload/beginer.png", alt="").education__card-img
							.education__card-title
								a(target="_blank" href="https://blog.completo.ru/videocourse/").text-dark Internet marketing video course for beginners
							.education__card-text
								i.icon.icon-eye
								span 25 500 participants
							a(target="_blank" href="https://blog.completo.ru/videocourse/").btn.btn-white.text-dark.education__btn Watch
						.education__card.animation.big_shadow_before.visible(data-animate="big_shadow")
							a(target="_blank" href="https://blog.completo.ru/videocourse-for-managers/").education__link
								img(src="picture/upload/video-course.png", alt="").education__card-img
							.education__card-title
								a(target="_blank" href="https://blog.completo.ru/videocourse-for-managers/").text-dark Digital business transformation video course
							.education__card-text
								i.icon.icon-eye
								span 7 200 participants
							a(target="_blank" href="https://blog.completo.ru/videocourse-for-managers/").btn.btn-white.text-dark.education__btn Watch
						.education__card.animation.big_shadow_before(data-animate="big_shadow")
							a(target="_blank" href="https://www.completo.ru/edu/").education__link
								img(src="picture/upload/edu.png", alt="").education__card-img
							.education__card-title
								a(target="_blank" href="https://www.completo.ru/edu/").text-dark Completo.EDU: a project for boosting your knowledge
							.education__card-text
								i.icon.icon-eye
								span 9 000 views
							a(target="_blank" href="https://www.completo.ru/edu/").btn.btn-white.text-dark.education__btn Watch
						.education__card.animation.big_shadow_before.visible(data-animate="big_shadow")
							a(target="_blank" href="https://blog.completo.ru/white-paper/seo/").education__link
								img(src="picture/upload/seo.png", alt="").education__card-img
							.education__card-title
								a(target="_blank" href="https://blog.completo.ru/white-paper/seo/").text-dark SEO Guides
							.education__card-text
								i.icon.icon-upload
								span 17 000 downloads
							a(target="_blank" href="https://blog.completo.ru/white-paper/seo/").btn.btn-white.text-dark.education__btn Watch
						.education__card.animation.big_shadow_before(data-animate="big_shadow")
							a(target="_blank" href="https://blog.completo.ru/white-paper/competitor-analysis/").education__link
								img(src="picture/upload/analystic.png", alt="").education__card-img
							.education__card-title
								a(target="_blank" href="https://blog.completo.ru/white-paper/competitor-analysis/").text-dark A guideline for competitor analysis
							.education__card-text
								i.icon.icon-upload
								span 7 000 downloads
							a(target="_blank" href="https://blog.completo.ru/white-paper/competitor-analysis/").btn.btn-white.text-dark.education__btn Watch
						.education__card.animation.big_shadow_before.visible(data-animate="big_shadow")
							a(target="_blank" href="https://www.completo.ru/white-paper/kak-razrabotat-site/").education__link
								img(src="picture/upload/site.png", alt="").education__card-img
							.education__card-title
								a(target="_blank" href="https://www.completo.ru/white-paper/kak-razrabotat-site/").text-dark A guideline for website development
							.education__card-text
								i.icon.icon-upload
								span 8 000 downloads
							a(target="_blank" href="https://www.completo.ru/white-paper/kak-razrabotat-site/").btn.btn-white.text-dark.education__btn Watch



