.new-cases-result#results
	.container
		.row
			.col-md-12
				h2.h1.mt-5.mb-4 Результаты
		.row
			.col-md-12
				.d-flex.align-items-center.justify-content-center
					.new-cases-result__tablet.visible.animation(data-animate="big_shadow")
						.new-cases-result__tablet-display
							img(src="../../picture/upload/case-amfibia-1.jpg", alt="")

					.new-cases-result__card-container.d-none.d-md-block
						.row
							.col-md-12.mb-4
								.card.new-cases-result__card.border-warning.rounded-0
									.new-cases-result__card-num x18
									.new-cases-result__card-text количество заявок
							.col-md-12.mb-4
								.card.new-cases-result__card.border-warning.rounded-0
									.new-cases-result__card-num +68%
									.new-cases-result__card-text поисковый трафик
							.col-md-12.mb-4
								.card.new-cases-result__card.border-warning.rounded-0
									.new-cases-result__card-num -22%
									.new-cases-result__card-text показатель отказов
							.col-md-12.mb-4
								.card.new-cases-result__card.border-warning.rounded-0
									.new-cases-result__card-num 5
									.new-cases-result__card-text целевых аудиторий
		.row.d-flex.d-md-none
			.col-md-12
				.custom-scrollbar
					.d-flex
						.col-md-12.mb-4.p-0.mr-4
							.card.new-cases-result__card.border-warning.rounded-0
								.new-cases-result__card-num х18
								.new-cases-result__card-text количество заявок
						.col-md-12.mb-4.p-0.mr-4
							.card.new-cases-result__card.border-warning.rounded-0
								.new-cases-result__card-num +68%
								.new-cases-result__card-text поисковый трафик
						.col-md-12.mb-4.p-0.mr-4
							.card.new-cases-result__card.border-warning.rounded-0
								.new-cases-result__card-num -22%
								.new-cases-result__card-text показатель отказов
						.col-md-12.mb-4.p-0.mr-4
							.card.new-cases-result__card.border-warning.rounded-0
								.new-cases-result__card-num 5
								.new-cases-result__card-text целевых аудиторий
