.community
	.container
		.row
			.col-md-9
				.community__sub-title.sub-title.text-uppercase.d-inline.pl-2.pr-2 We grow a community
		.row.mb-4.mt-4
			.col-md-8.col-lg-7
				.h4.mb-2.community-main-title Join
					span.font-weight-normal  the professional community
				p.community-secondary-title.mb-5 #UareMarketingManagerг  — more than 25000 participants
				a(href="https://www.facebook.com/groups/tyzhmarketolog/" target="_blank").btn.btn-warning.pr-5.pl-5.community__btn Join
			.col-md-4.col-lg-5.d-none.d-md-flex.justify-content-center.align-items-start
				.community-mouse-paralax
					img(src="picture/upload/fb-svg.svg", alt="").community-mouse-paralax__img
					.community-mouse-paralax__block.rounded-circle