section.nesessary-system
	.container
		.row.justify-content-center
			.col-md-12.col-xl-8.text-center
				h2.mb-1
					span.heading-gradient Система незаменима
					span 
					span для завода и торговых представителей
		.row.mt-4
			.col-xl-12
				.row.justify-content-center
					.col-xl-7.col-lg-8.col-md-11
						img(src="picture/upload/ipad.png", alt="").w-100
			.col-xl-4.col-md-6.nesessary-system__absolute.nesessary-system__absolute-1
				.nesessary-system__card
					i.icon.icon-franchise.h1.font-weight-normal.text-warning.mr-3
					.nesessary-system__card-text
						.h4 Дилерам:
						ul.pl-3.mb-0
							li классные и стильные сайты
							li простота в управлении — не нужны программисты!
							li дозаказ с завода в 1 клик
			.col-xl-4.col-md-6.nesessary-system__absolute.nesessary-system__absolute-2
				.nesessary-system__card
					i.icon.icon-robot-arm.h1.font-weight-normal.text-warning.mr-3
					.nesessary-system__card-text
						.h4 Заводу:
						ul.pl-3.mb-0
							li стандарты работы — не надо краснеть за дилеров!
							li дашборды для управленцев
							li рейтинг дилеров для распределения заказов
		.row.mt-4
			.col-md-12
				.dealers-problems__main-card.nesessary-system__main-card.p-0
					.row
						.col-lg-7.col-md-6
							.p-4
								.h3.text-white Система дилерских сайтов наведет порядок в онлайн продажах
								button.btn.btn-warning.data-scroll.mb-4.mt-4(data-scroll="form-content") Заказать демонстрацию системы
						.col-lg-5.col-md-6.d-none.d-md-block
							img(src="picture/backgrounds/for-banner.jpg", alt="").nesessary-system__main-card-img
