.nesessary-system {
	padding: 60px 0;
	background-image: url(../picture/backgrounds/spiral.png);
	background-position-y: top;
	background-repeat: repeat-x;
	position: relative;
	@include media-breakpoint-down(xs) {
		h2 {
			font-size: 1.8rem;
		}
	}
	&__main-card {
		background-image: linear-gradient(170.59deg,#003541 21.62%,#014D5E 44.48%);
		&-img {
			width: 100% !important;
			height: 100%;
			object-fit: cover;
		}
	}
	&__card {
		background-color: white;
		border: 1px solid $yellow;
		padding: 20px;
		box-shadow: 0 3px 15px rgba(0,0,0,.15);
		display: flex;
		align-items: flex-start;
		@include media-breakpoint-down(md) {
			height: 180px;
		}
		@include media-breakpoint-down(sm) {
			height: initial;
		}
	}
	&__absolute {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		max-width: 400px;
		z-index: 2;
		@include media-breakpoint-down(md) {
			position: initial;
			margin-top: -100px;
		}
		@include media-breakpoint-down(sm) {
			margin-top: 20px;
			max-width: initial;
		}
		&-1 {
			top: 270px;
			left: -600px;
		}
		&-2 {
			top: 470px;
			right: -600px;
		}
	}
}