section.dealers-problems.bg-white
	.container
		.row
			.col-md-12.col-xl-8
				h2.mb-4 Знаем мы ваши CRMы! Внедряли...
				p.mb-5 Возможно вы уже пытались внедрить CRM в свою организацию, но есть ряд ошибок без решения которых система становится почти бесполезна.
		.row.dealers-problems__card-container-main.mobile_slider
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-1
					p.h4.mb-3
						span Интеграцию получил 
						span.text-danger в подарок 
						span к лицензии.
					p Интеграция сложных бизнес процессов - сложная задача. Бесплатно и качественно её никто не сделает.
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card
					p.h4.mb-3
						span Программу купил - 
						span.text-danger процессы не купил.
					p Если нет регламента процессов - программа не поможет. Нужно делать всё в комплексе.
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card
					p.h4.mb-3
						span Программу купил - 
						span.text-danger автоматизацию процессов не купил
					p Переносить заявки из мессенджеров и почты в CRM - дополнительная работа.
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-2
					p.h4.mb-3
						span Программу купил - 
						span.text-danger интеграцию с другим ПО забыл. 
					p Перенос информации между системами увеличивает вероятность ошибки.
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-3
					p.h4.mb-3
						span Программу купил - 
						span.text-danger поддержку не купил. 
					p Процессы меняются - CRM меняется следом. Без поддержки она быстро устареет.
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card
					p.h4.mb-3
						span Программу купил - 
						span.text-danger контроль и планерки не купил. 
					p 60 мин/нед. контроля за отделом продаж для прозрачности в СRM - необходимое условие.
			.col-md-6.col-lg-6.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-4
					p.h4.mb-3
						span Программу купил, доработки купил, 
						span.text-danger и решил сделать из 1С автомат Калашникова 
					p Важное условие работы с CRM - удобство. Когда функций слишком много - становится неудобно работать.
		.row
			.col-md-12
				.dealers-problems__main-card
					img(src="picture/upload/crm-itog.png" alt="").dealers-problems__main-card__img
					.dealers-problems__quote
						.h2.text-dark Подведем итог:
						.dealers-problems__quote-text.h5.text-secondary
							span.text-dark Даже самую сложную проблему можно решить с помощью грамотной постановки задачи. С этим мы вам поможем.