.container
	.row
		.col-lg-9
			.row
				.col-lg-4.col-md-6.mb-4
					+blog-link('https://blog.completo.ru/s-chego-nachinaetsya-razrabotka-strategii-internet-marketinga-ili-zachem-nuzhen-brifing-dlya-b2b-kompanii/', 'news_1+.jpg', 'С чего начинается разработка стратегии интернет-маркетинга')
				.col-lg-4.col-md-6.mb-4
					+blog-link('https://blog.completo.ru/pravilnaya-postanovka-tseley-pered-internet-marketingom/', 'news_2+.jpg', 'Как ставить Цели и задачи интернет-магазина для стратегии')
				.col-lg-4.col-md-6.mb-4
					+blog-link('https://blog.completo.ru/digital-strategiya-dlya-b2b-kompanij/', 'news_3+.jpg', 'Особенности digital-стратегии для b2b-компаний')
				.col-lg-4.col-md-6.mb-4
					+blog-link('https://blog.completo.ru/matematicheskij-prognoz-finotdachi/', 'news_4+.jpg', 'Как считать отдачу от digital-стратегии')
				.col-lg-4.col-md-6.mb-4
					+blog-link('https://blog.completo.ru/kak-provesti-audit-internet-marketinga/', 'news_5+.jpg', 'Как провести аудит интернет-маркетинга')
				.col-lg-4.col-md-6.mb-4
					+blog-link('https://blog.completo.ru/digital-voronka-kak-vyrastit-pribyl-bez-uvelichenija-chisla-tekushhih-zajavok/', 'news_6+.jpg', 'Как "греть" клиентов')
		.col-lg-3.d-none.d-lg-block
			.blog__card-item
				img(src="picture/upload/performance-checklist-top.png", alt="").w-100
				.bg-white.pl-3.pr-3.pt-3.pb-4
					h3 Чек-лист разработки digital-стратегии
					p Скачайте бесплатно наш чек-лист - именно по нему мы разрабатываем стратегии digital-маркетинга и продаж.
					a(href="https://docs.google.com/spreadsheets/d/1LH2p-8NeiZuxnU20N_pvJExx3b-6IV8tPxXdCoDb6EA/edit#gid=105119052" target="_blank").btn.btn-warning.text-warning
						span.text-dark Скачать