.bg-warning.py-5
	.container
		.row
			.col-lg-3.col-sm-5
				.h4.text-white.mb-2 Результаты внедрения CRM
					br
					span.text-dark для федерального производителя с сетью дилеров
				.d-flex.slick-example-margin.pt-4.mb-4.pb-3
					img(src="picture/upload/el_black_graph.svg", alt="").mr-2.slick-example-margin-img
					.d-block
						.h6.mb-0 Увеличение продаж после внедрения CRM
						p.mb-0.slick-example-text на
							span.h1.slick-example-text-title 26%
			.col-lg-9.col-sm-7
				img(src="picture/upload/crm-implement-1.png", alt="").w-100