.research
	.container
		.row
			.col-md-9
				.sub-title.text-uppercase.pt-5 глубоко копаем
		.row
			.col-md-8.col-lg-9
				.h3.mb-2 Проводим исследования
				p Прежде чем приступить к работе, мы изучаем бизнес, рынок, клиентов. Читайте наши готовые  исследования комплекса интернет-маркетинга рынков производителей с сетями дилеров
		.row.mt-5
			.col-lg-8.d-none.d-md-block
				.row.no-gutters
					.col-md-3
						.research__card
							img(src="picture/upload/thermo.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Теплоизоляция
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
					.col-md-3
						.research__card
							img(src="picture/upload/noise.svg", alt="").w-100.d-block.research__card-img
							.h5.text-center.research__card-text Звукоизоляция
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
					.col-md-3
						.research__card
							img(src="picture/upload/laminat.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Ламинат
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
					.col-md-3
						.research__card.mr-0
							img(src="picture/upload/fire.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Печи
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
					.col-md-3
						.research__card
							img(src="picture/upload/metal.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Металлическая
								br
								| кровля
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
					.col-md-3
						.research__card
							img(src="picture/upload/steel.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Металлические
								br
								| ворота
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
					.col-md-3
						.research__card
							img(src="picture/upload/chair.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Металлическая 
								br
								| мебель
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
					.col-md-3
						.research__card.mr-0
							img(src="picture/upload/video.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Видео-
								br
								| наблюдение
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
			.col-lg-8.d-block.d-md-none
				.research__scroll-content
					.row.no-gutters.research__scroll
						.col-md-3
							.research__card
								img(src="picture/upload/thermo.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Теплоизоляция
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
						.col-md-3
							.research__card
								img(src="picture/upload/noise.svg", alt="").w-100.d-block.research__card-img
								.h5.text-center.research__card-text Звукоизоляция
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
						.col-md-3
							.research__card
								img(src="picture/upload/laminat.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Ламинат
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
						.col-md-3
							.research__card.mr-0
								img(src="picture/upload/fire.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Печи
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
						.col-md-3
							.research__card
								img(src="picture/upload/metal.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Металлическая
									br
									| кровля
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
						.col-md-3
							.research__card
								img(src="picture/upload/steel.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Металлические
									br
									| ворота
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
						.col-md-3
							.research__card
								img(src="picture/upload/chair.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Металлическая 
									br
									| мебель
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
						.col-md-3
							.research__card.mr-0
								img(src="picture/upload/video.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Видео-
									br
									| наблюдение
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Читать 
			.col-lg-4
				.row.no-gutters
					.col-lg-12.col-md-4.mb-3
						.research__card-big.mb-0
							img(src="picture/upload/flat.png", alt="").research__card-big-img
							a(href="https://www.completo.ru/research-estate/" target="_blank").research__card-big-link
								small Аудит рынка жилой недвижимости (.pdf)
					.col-lg-12.col-md-4.mb-3
						.research__card-big.research__card-big-center.mb-0
							img(src="picture/upload/clinic.png", alt="").research__card-big-img
							a(href="https://www.completo.ru/research-medicine/" target="_blank").research__card-big-link
								small Аудит рынка многопрофильных клиник  (.pdf)
					.col-lg-12.col-md-4.mb-3
						.research__card-big.research__card-big-custom.mb-0
							img(src="picture/upload/banks.png", alt="").research__card-big-img
							a(href="https://www.completo.ru/research-finance/" target="_blank").research__card-big-link
								small Аудит рынка российских банков  (.pdf)