.bg-warning.py-5
	.container
		.row
			.col-lg-3.col-md-5
				.h4.text-white.mb-1 Пример оформления.
				.h4.mb-4 проведенных онлайн конференций EMB2B 
				.h4.mb-1 2013
				p.mb-1 Зарегистрировалось: 1353
				p.mb-4 Слушателей: 231
				.h4.mb-1 2014
				p.mb-1 Зарегистрировалось: 1891
				p.mb-4 Слушателей: 340
				.h4.mb-1 2015
				p.mb-1 Зарегистрировалось: 2124
				p.mb-4 Слушателей: 563
				a(href="https://www.youtube.com/playlist?list=PLmgzuXOHkZ6Tr8an6FSrGV15uwhCLypqw" target="_blank") 
					u Посмотреть, как это было
			.col-lg-9.slick-example-main.col-md-7
				+slick-example('Group_538.jpg', 'Group_537.jpg', 'Group_536.jpg')