section.marketing-digital-strategy
	.container
		.row
			.col-md-12
				h2.mb-4.text-white Сколько стоит разработка digital-стратегии?
		.row.mt-3.justify-content-between
			.col-lg-5.col-md-6.mb-4
				p.text-white Стратегия разрабатывается на 1-2 года в зависимости от темпов развития бизнеса и рынка. Могут быть корректировки раз в 3 месяца, если появляется новый инструмент интернет-маркетинга.
			.col-lg-5.col-md-6.mb-4
				p.text-white В зависимости от исследований, которые надо провести для разработки digital-стратегии, стоимость составляет от 350 000 руб.
		.row.mt-3
			.col-md-12
				button.btn.btn-warning.data-scroll(data-scroll="form-content") Заказать консультацию