.kit.pt-5
.container.pt-5
	.row.pt-5.border-top.pb-5.border-bottom
		.col-md-4
			h4.mb-4 h1, PT Sans, 50px
		.col-md-8
			h1 Разрабатываем и развиваем коммерческие сайты
	.row.pt-5.border-top.pb-5.border-bottom.bg-dark
		.col-md-4
			h4.mb-4.text-white h1, Montserrat, 50px
		.col-md-8
			h2.h1.main-title.montserrat Разрабатываем и развиваем коммерческие сайты 
	.row.pt-5.border-top.pb-5.border-bottom
		.col-md-4
			h4.mb-4 h2, PT Sans, 48px
		.col-md-8
			h2 Сделайте сайт инструментом для достижения бизнес-целей
	.row.pt-5.border-top.pb-5.border-bottom
		.col-md-4
			h4.mb-4 h3, PT Sans, 28px
		.col-md-8
			h3 Разрабатываем и развиваем коммерческие сайты
	.row.pt-5.border-top.pb-5.border-bottom
		.col-md-4
			h4.mb-4 h4, PT Sans, 24px
		.col-md-8
			h4 Сделайте сайт инструментом для достижения бизнес-целей
	.row.pt-5.border-top.pb-5.border-bottom
		.col-md-4
			h4.mb-4 p, PT Sans, 16px
		.col-md-8
			p Сделайте сайт инструментом для достижения бизнес-целей
	.row.pt-5.border-top.pb-5.border-bottom
		.col-md-4
			h4.mb-4 Ссылки
		.col-md-8
			a(href="#")
				u 2. Исследуем спрос на продукт
	.row.pt-3.border-top.pb-3.border-bottom
		.col-md-4.pt-3.pb-3
			h4.mb-4 Кнопки
		.col-md-4.pt-3.pb-3.align-items-center.justify-content-center.d-flex.d-md-block
			button.btn.btn-warning Желтая кнопка
		.col-md-4.bg-dark.pt-3.pb-3.d-flex.align-items-center.justify-content-center
			button.btn.btn-white Белая кнопка
	.row.pt-5.border-top.pb-5.border-bottom
		.col-md-4
			h4.mb-4 Карусель
		.col-md-8
			.slick
				img(src="picture/upload/do-site.png", alt="")
				img(src="picture/upload/do-site.png", alt="")
				img(src="picture/upload/do-site.png", alt="")
	.row.pt-5.border-top.pb-5.border-bottom.bg-dark
		.col-md-4
			h4.mb-4.text-white Карусель для главной
		.col-md-8
			.slick.slick-white
				img(src="picture/upload/do-site.png", alt="")
				img(src="picture/upload/do-site.png", alt="")
				img(src="picture/upload/do-site.png", alt="")
	.row.pt-5.border-top.pb-5.border-bottom
		.col-md-4
			h4.mb-4 Карточка с бордерами
		.col-md-8
			.border-card.bg-white.d-flex.p-3.w-100
				p Здесь какой-то важный текст
	.row.pt-5.border-top.pb-5.border-bottom
		.col-md-4
			h4.mb-4 Скролл
		.col-md-8
			.custom-scrollbar
				.d-flex
					img(src="picture/upload/do-site.png", alt="")
					img(src="picture/upload/do-site.png", alt="")
					img(src="picture/upload/do-site.png", alt="")
	.row.pt-5.border-top.pb-5.border-bottom
		.col-md-4
			h4.mb-4 Форма
		.col-md-12
			form.form.validate.p-4(method="post" id="new-form" novalidate="novalidate")
				.row
					.col-lg-4.mb-4
						.form-group
							label(for="text-01") Как вас зовут
							input#text-01(type="text" placeholder="Введите ваше имя" requared name="name")
					.col-lg-4.mb-4
						.form-group
							label(for="text-02") Контактный телефон
							input#text-02(type="text" placeholder="+7 (___) ___ __-__" requared name="phone")
					.col-lg-4.mb-4
						.form-group
							label(for="text-03") Электронная почта
							input#text-03(type="email" placeholder="Введите ваш E-mail" name="email")
					.col-lg-8.mb-4
						.form-group
							label(for="text-04") Введите название или сайт компании
							input#text-04(type="text" placeholder="Введите название или сайт компании" name="name-company")
					.col-lg-4.mb-4
						.form-group
							label(for="text-05") Колличество дистрибьюторов
							input#text-05(type="text" placeholder="Введите ваш бюджет в рублях" name="money")
					.col-lg-12.mb-4
						.form-group
							label(for="text-06") Колличество дистрибьюторов
							textarea#text-06( placeholder="Опишите ваши задачи и вопросы, кто принимает решение..." name="message")
					.col-lg-12.mb-4
						.form__alarm
							i.icon.icon-warning
							p.mb-2 Мы оставляем за собой право не ответить на заявку, если она недостаточно подробно заполнена
					.col-lg-12
						.row
							.col-md-6.col-lg-4
								button.btn.btn-warning.form_btn Поехали
							.col-md-6.col-lg-8.d-flex.align-items-center
								p.mb-4 Нажимая кнопку, 
									a(href="#")
										u вы соглашаетесь с правилами обработки персональных данных
	.row.pt-5.border-top.pb-5.border-bottom
		.col-md-4
			h4.mb-4 Попап
		.col-md-12
			.modal-expample
				.modal.fade(tabindex="-1" role="dialog")
					.modal-dialog(role="document")
						.modal-content
							.modal-header
								.modal-title
									h2.text-center.mb-4 Спасибо!
								button.close(type="button" data-dismiss="modal" aria-label="Close")
									span.modal__close-btn(aria-hidden="true")
							.modal-body.text-center
								p.mb-5.text-center Мы свяжемся с вами в течение рабочего дня. Если у вас срочная задача, 
									a(href="#")
										u напишите нам 
									| или позвоните: +7(495) 640-89-97
								img(src="picture/upload/logo.png", alt="").mb-3.modal__completo-logo
								p.text-center Если вам нужно эффективное продвижение уже существующего сайта, посмотрите наши
									a(href="#")
										u услуги по СЕО 
									| и 
									a(href="#")
										u контекстной рекламе.
							
							

