.case-cost__time
	.case-cost__time-header
		.case-cost__time-icon
			img(src="assets/images/case-cost/case-cost-time.svg", alt="")
		.case-cost__time-title.case-cost__title
			span.case-cost__line Сроки реализации кейса:
		.case-cost__time-content
			span.case-cost__time-value 3
			span.case-cost__time-label Месяца