section.payback
	.paralax-item.paralax-item-2
		img(src="picture/upload/dotted-group.png", alt="")
	.container
		.row
			.col-md-12
				.payback__card
					h3.mb-4 Как мы считаем окупаемость сайта
					.row
						.col-md-6
							.row
								.col-lg-6.mb-3
									h4.h3.text-warning Суммируем
									p.mb-2 Берем полную стоимость разработки сайта.
									p.mb-2 Включая контент, дизайн, веб-аналитику, тестирование, поддержку
								.col-lg-6.mb-3
									h4.h3.text-warning Выявляем
									p.mb-2 Выявляем проблемы, которые предстоит исправлять и на новом сайте.
									p.mb-2 Например, старый сайт под фильтрами поисковых систем
								.col-lg-6.mb-3
									h4.h3.text-warning Считаем
									p.mb-2 Считаем бизнес-показатели старого и нового сайта:
									p.font-weight-bold.mb-2 Лиды, Продажи, Доход, Маржа с клиента, Конверсия в заявку, Конверсия в лид-продажу, Маржа
								.col-lg-6.mb-3
									h4.h3.text-warning Планируем
									p.mb-2 Составляем графики расходов и доходов с рекламы и контент- маркетинга:
									ul.list-disk.pl-3.small
										li.mb-1 Если задействовать SEO
										li.mb-1 Если делать сайт + SEO + контекстную рекламу
										li.mb-1 Если задействовать другие каналы привлечения
								.col-lg-12.mb-3
									button.btn.btn-warning.data-scroll.mt-4.mb-4(data-scroll="form-content") Заказать консультацию
						.col-md-6
							img(src="picture/upload/graph_14.gif", alt="").w-100.payback__img.mb-4
							p.mb-2
								span.font-weight-bold Пример. 
								span Мы сопоставили текущую и прогнозируемую воронки продаж 
							a(href="https://blog.completo.ru/matematicheskij-prognoz-finotdachi/").text-underline Калькулятор расчета финотдачи маркетинга
							