section.how-to-make-site
	.container.mt-4
		.row
			.col-lg-8.col-xl-7.mt-4
				h2.h2.mb-4.form-h2 Digital-стратегия поможет
					br
					span.yellow-border ответить на вопросы
						span.border-container.animation.visible.animated(data-animate="newline")
		.row
			.col-lg-9.col-md-8
				.row
					.col-lg-4.col-sm-6.mt-3
						img(src="picture/upload/icon_market_new.svg", alt="").mb-2.mx-auto.mx-sm-0.d-block
						.h4.mb-3 Рынок
						ul.pl-3
							li.mb-2 Насколько конкурентоспособен?
							li.mb-2 Какую долю можно захватить?
							li.mb-2 Какое положение моей компании на рынке?
					.col-lg-4.col-sm-6.mt-3
						img(src="picture/upload/icon_customer_new.svg", alt="").mb-2.mx-auto.mx-sm-0.d-block
						.h4.mb-3 Потребитель
						ul.pl-3
							li.mb-2 Объем спроса в интернете?
							li.mb-2 Какие сегменты аудитории есть?
							li.mb-2 Какие боли/возражения/триггеры к покупке?
					.col-lg-4.col-sm-6.mt-3
						img(src="picture/upload/icon_products_new.svg", alt="").mb-2.mx-auto.mx-sm-0.d-block
						.h4.mb-3 Продукт
						ul.pl-3
							li.mb-2 Отвечает ли требованиям клиентов?
							li.mb-2 В чем конкурентное преимущество?
							li.mb-2 Как выбрать маркетинговые посылы?
					.col-lg-4.col-sm-6.mt-3
						img(src="picture/upload/icon_seo_new.svg", alt="").mb-2.mx-auto.mx-sm-0.d-block
						.h4.mb-3 Продвижение
						ul.pl-3
							li.mb-2 Какие интернет-каналы эффективней?
							li.mb-2 Как оценить результат и отдачу?
							li.mb-2 Как использовать воронку продаж?
					.col-lg-4.col-sm-6.mt-3
						img(src="picture/upload/icon_resources_new.svg", alt="").mb-2.mx-auto.mx-sm-0.d-block
						.h4.mb-3 Ресурсы
						ul.pl-3
							li.mb-2 Сколько сотрудников и денег нужно?
							li.mb-2 Какие kpi поставить персоналу?
							li.mb-2 Каков пошаговый план реализации стратегии?
					.col-lg-4.col-sm-6.mt-3
						img(src="picture/upload/icon_income_new.svg", alt="").mb-2.mx-auto.mx-sm-0.d-block
						.h4.mb-3 Прибыль
						ul.pl-3
							li.mb-2 Как уменьшить нецелевые лиды?
							li.mb-2 Как увеличить конверсию в продажи?
							li.mb-2 Как увеличить оборот в руб.?
					.col-lg-3.col-md-4.mt-3.d-block.d-md-none
						.h4.mb-3.text-center Из чего состоит digital-стратегия:
						+steps-graph('70%', 'стратегия digital- <br> инструментов', '20%', 'маркетинг', '10%', 'исследования')
			.col-lg-3.col-md-4.mt-3.d-none.d-md-block
				.h4.mb-3 Для нас создание сайта выглядит так:
				+steps-graph('70%', 'стратегия digital- <br> инструментов', '20%', 'маркетинг', '10%', 'исследования')
	.mt-4
		+bloquote('Андрей Гавриков,', 'вождь маркетинговой группы &#171;Комплето&#187;', 'andrey.png', 'Однажды клиент хотел уйти от нас - продажи не росли. Но аудит отдела продаж показал, что менеджеры сливают клиентов. С тех пор мы вникаем во все бизнес-процессы клиентов.', true)