.case-detail-paralax-block
    .case-detail-paralax-block__bg
        img(src="../../picture/upload/cases-detail-white-logo-bg.png", alt="")
    .case-detail-paralax-block__content
        img(src="../../picture/upload/cases-detail-logo-white.png", alt="").case-detail-paralax-block__content-logo
        canvas(width="1924" height="1090")
