.what-we-do
	.container
		.row
			.col-md-12
				.sub-title.text-uppercase Our specialization
				.h2.mb-4.what-we-do-main-title What we do
		.row
			.col-md-6
				.what-we-do__card.what-we-do__card-main.pt-4.pb-4.mb-4.rounded.animation.big_shadow_before.visible(data-animate="big_shadow")
					.what-we-do__display
						.main-section__case-link-circle.what-we-do-btn-prev.what-we-do-btn
							i.icon.icon-arrow-left
						.main-section__case-link-circle.what-we-do-btn-next.what-we-do-btn
							i.icon.icon-arrow-right
						.what-we-do__display-slider
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-1.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Building equipment
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-2.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Metallurgy
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-3.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Concrete plants
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-4.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Medical equipment
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-5.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Light
									br
									| equipment
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-6.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Laboratory
									br
									| complexes
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-7.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white System's and
									br
									| IT-generators
					.what-we-do__content.what-we-do__content-main
						.what-we-do__content-text.pt-1
							p.what-we-do__title.what-we-do__title-big.mb-2 Digital transformation of manufacturing companies
							p We automate industrial and b2b companies
							button.btn.btn-warning(data-scroll="digital-transformation").data-scroll Transform now
			.col-md-6.flex-column.justify-content-between.d-none.d-lg-flex
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.visible(data-animate="big_shadow")
					.what-we-do__card-icon
						i.icon.icon-digital-marketing
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 Complex Digital
							p We make marketing and web sales
							button.btn.btn-warning.what-we-do__button(data-scroll="marketing").data-scroll Boost your sales
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.visible(data-animate="big_shadow")
					.what-we-do__card-icon
						i.icon.icon-setting
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 SaaS-software
							p Developed 6 our own software tools
							button.btn.btn-warning.what-we-do__button(data-scroll="saas").data-scroll Learn more
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.visible(data-animate="big_shadow")
					.what-we-do__card-icon
						i.icon.icon-brain
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 Training and certification
							p 15 online courses for managers, marketing and web specialists
							button.btn.btn-warning.what-we-do__button(data-scroll="maed").data-scroll Learn more
			.col-md-6.d-flex.d-lg-none.flex-column.justify-content-between
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.data-scroll.visible(data-animate="big_shadow" data-scroll="marketing")
					.what-we-do__card-icon
						i.icon.icon-digital-marketing
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 Complex Digital
							p We make marketing and web sales
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.data-scroll.visible(data-animate="big_shadow" data-scroll="saas")
					.what-we-do__card-icon
						i.icon.icon-setting
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 SaaS-software
							p Developed 6 our own software tools
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.data-scroll.visible(data-animate="big_shadow" data-scroll="maed")
					.what-we-do__card-icon
						i.icon.icon-brain
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 Training and certification
							p 15 online courses for managers, marketing and web specialists
							