section.seo-system
	.container
		.row
			.col-md-12
				h2.h2.mb-4
					span.green-red(data-text="SEO") SEO 
					span по системе: что хорошего в работе с нами?
		.row
			.col-lg-12.mb-2
				p Мы — маркетинговая группа, и это влияет на наш подход к SEO-оптимизации сайтов. SEO от Комплето растит спрос на ваши услуги в интернете, выводит в топ по нишевым запросам и дает самый дешевый трафик. Наши специалисты подскажут, как формировать спрос и находить трафик там, где ваши конкуренты не думали искать.
		.row
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/strategy.svg", alt="")
					p
						span.font-weight-bold.text-warning Разрабатываем SEO-стратегию 
						span для каждого проекта с учетом особенностей бизнеса
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/planning.svg", alt="")
					p
						span.font-weight-bold.text-warning Отчитываемся за каждые 30 минут: 
						span будьте в курсе всех работ
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/internet.svg", alt="")
					p
						span.font-weight-bold.text-warning Не компрометируем ваш сайт: 
						span используем только «белые» приемы
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/thumb_up.svg", alt="")
					p
						span.font-weight-bold.text-warning Делаем упор на качество трафика: 
						span приводим не сеансы, а лиды на сайт
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/analysis-seo.svg", alt="")
					p
						span.font-weight-bold.text-warning Считаем продажи из органики: 
						span аналитика до прибыли
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/profit.svg", alt="")
					p
						span.font-weight-bold.text-warning Делаем прогнозы результатов. 
						span И следуем плану
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/scroll.svg", alt="")
					p
						span.font-weight-bold.text-warning Никаких SEO-текстов:  
						span пишем качественные полезные статьи с экспертами по теме
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/planning_2.svg", alt="")
					p
						span.font-weight-bold.text-warning Полная аналитика SEO: 
						span считаем эффективность до заявок и продаж*
		.row
			.col-lg-3.col-md-6.mb-3
				p
					small * если есть сквозная аналитика
		.row
			.col-lg-12
				.seo-system__card-white.mb-4
					.h4.mb-3 Поисковый маркетинг от Комплето:
					.container
						.row
							.col-xl-3.col-md-6.mb-3
								.row.align-items-center
									.seo-system__card-white-img
										img(src="picture/upload/strategies.svg", alt="")
									p Увеличит позиции
										br
										| сайта в выдаче
							.col-xl-3.col-md-6.mb-3
								.row.align-items-center
									.seo-system__card-white-img
										img(src="picture/upload/save.svg", alt="")
									p Принесет самый дешевый
										br
										| трафик
							.col-xl-3.col-md-6.mb-3
								.row.align-items-center
									.seo-system__card-white-img
										img(src="picture/upload/structure.svg", alt="")
									p Приведет лояльных
										br
										| клиентов из органики
							.col-xl-3.col-md-6.mb-3
								.row.align-items-center
									.seo-system__card-white-img
										img(src="picture/upload/cooperation.svg", alt="")
									p Будьте уверены
										br
										| в каждом шаге подрядчика
		.row
			.col-xl-6.col-lg-8
				h2.h2.mb-4.mt-5.d-none.d-sm-block
					span Увеличили 
					span.green-red(data-text="SEO-") SEO-
					span.green-red(data-text="трафик") трафик 
					span нашим клиентам
				h2.h2.mb-4.mt-5.d-block.d-sm-none
					span Увеличили 
					span.green-red(data-text="SEO-") SEO-
					br
					span.green-red(data-text="трафик") трафик 
					span нашим клиентам
				p.mb-4 Лучшие результаты нашей работы — когда SEO приносит реальные продажи, генерирует заказы и формирует спрос там, где его не было.
		.row
			.col-lg-3.col-md-6.mb-3
				a(href="https://www.completo.ru/cases/seo-dlya-zavoda/" target="_blank").seo-system__card-traffic
					.seo-system__card-traffic-img
						img(src="picture/upload/quality_1.jpg", alt="").w-100
					.seo-system__card-traffic-foot
						p.mb-4.seo-system__card-traffic-text Стройматериалы
						.seo-system__card-traffic-foot-item
							.h2.text-warning.mb-0 +700% &uarr;
							p.text-warning.mb-2 трафик в среднем
			.col-lg-3.col-md-6.mb-3
				a(href="https://blog.completo.ru/keys-kak-bez-peredelki-sayta-ispolzuya-pravilnuyu-internet-reklamu-i-analitiku-zarabotat-15-000-000-dlya-klienta/" target="_blank").seo-system__card-traffic
					.seo-system__card-traffic-img
						img(src="picture/upload/quality_2.jpg", alt="").w-100
					.seo-system__card-traffic-foot
						p.mb-4.seo-system__card-traffic-text Сетевое оборудование
						.seo-system__card-traffic-foot-item
							.h2.text-warning.mb-0 +200% &uarr;
							p.text-warning.mb-2 трафик в выдаче
			.col-lg-3.col-md-6.mb-3
				a(href="https://blog.completo.ru/keys-kak-rabotat-s-nesformirovannyim-sprosom/" target="_blank").seo-system__card-traffic
					.seo-system__card-traffic-img
						img(src="picture/upload/quality_3.jpg", alt="").w-100
					.seo-system__card-traffic-foot
						p.mb-4.seo-system__card-traffic-text Вездеходы
						.seo-system__card-traffic-foot-item
							.h2.text-warning.mb-0 68% &uarr;
							p.text-warning.mb-2 небрендовый трафик
			.col-lg-3.col-md-6.mb-3
				a(href="https://www.youtube.com/watch?v=ck2GogvXtMk&t=60s" target="_blank").seo-system__card-traffic
					.seo-system__card-traffic-img
						img(src="picture/upload/quality_4.jpg", alt="").w-100
					.seo-system__card-traffic-foot
						p.mb-4.seo-system__card-traffic-text Входные двери
						.seo-system__card-traffic-foot-item
							.h2.text-warning.mb-0 +400% &uarr;
							p.text-warning.mb-2 трафик по сайту
		.row
			.col-md-12.d-flex.justify-content-center
				button.btn.btn-warning.data-scroll.mt-4.mb-4(data-scroll="form-content") Делать нормальное SEO
		.row
			.col-xl-7.col-lg-9
				h2.h2.mt-5.mb-4.d-none.d-md-block
					span Самая полная 
					span.green-red(data-text="SEO-") SEO-
					span.green-red(data-text="отчетность") отчетность 
					span на рынке
				h2.h2.mt-5.mb-4.d-block.d-md-none
					span Самая полная
					br
					span.green-red(data-text="SEO-") SEO-
					span.green-red(data-text="отчетность") отчетность 
					span на рынке
		.row
			.col-md-6
				p.mb-4 С нами вы будете точно знать, на что идут ваши деньги: мы отчитываемся за каждый час времени. В штате работают сильные аналитики, они помогут узнать причины падения трафика, а SEO-специалисты — скорректировать действия и направить усилия на рост позиций.
				ul.pl-3.mb-4
					li.mb-2.text-warning
						span.text-dark составляем отчет о работе по шагам
					li.mb-2.text-warning
						span.text-dark планируем kpi по проекту и идем к ним
					li.mb-2.text-warning
						span.text-dark отслеживаем динамику спроса в нише
					li.mb-2.text-warning
						span.text-dark сравниваем динамику конкурентов
					li.mb-2.text-warning
						span.text-dark анализируем причины падения трафика
			.col-md-6
				.seo-system__card.mb-4.p-3
					.container
						.row.align-items-center.justify-content-center
							.col-lg-4.col-xl-3
								.h2.mb-0 90%
							.col-lg-8.col-xl-6 
								.h5.mb-0 прогнозов
									br
									span.font-weight-normal выполняем по трафику, заявкам, конверсииям
				button.btn.btn-warning.data-scroll.mt-4.mb-4(data-scroll="form-content") Заявка на SEO-аудит
