.py-5.position-relative.contact-us__office
	.container.my-md-4.position-relative
		img(src="picture/upload/subscribe-big.png", alt="").contact-us__office-img.contact-us__office-img-new
		.row
			.col-md-12
				nav.breadcrumb
					ol.breadcrumb
						li.breadcrumb-item
							a(href="/").text-secondary Главная
						li.breadcrumb-item.active.text-dark(aria-current="page") Email-рассылка Депеша от Комплето
			.col-md-12.col-lg-10.col-xl-8.mt-5.mt-md-0
				.d-flex
					.dealers-level__card-icon-block
						i.icon.dealers-level__card-icon.icon-dealers-cooperation
					.dealers-level__bloquote.mt-5.mt-md-0
						.text-secondary.mb-2.font-weight-bold.dealers-level__bloquote-title Дорогие друзья!
						span.h4.font-weight-normal У нас есть много интересного, чем мы каждую неделю делимся с 
							span.font-weight-bold 100 000 
							span наших подписчиков!
		.row.justify-content-center.d-lg-none
			.col-md-6.col-sm-8.col-10.mt-5
				img(src="picture/upload/subscribe-big.png", alt="").w-100
		.row.mb-4.contact-us__office-row
			.col-md-12.mt-5.mt-sm-0
				+form-new('Вы еще ', 'не с нами?', 'Присоединяйтесь!')
