.py-5
	.container.my-md-4
		.row
			.col-md-12
				nav.breadcrumb
					ol.breadcrumb
						li.breadcrumb-item
							a(href="/").text-secondary Главная
						li.breadcrumb-item.active.text-dark(aria-current="page") CRM-система
			.col-md-12
				h1.h2.mb-4.form-h2
					| Зачем вам нужна CRM-система 
					br
					span.yellow-border
						| и какие задачи
						span.border-container.animation.visible.animated(data-animate='newline')
					|  она поможет решить?
		.row
			.col-lg-6.mb-4
				p.font-weight-normal
					| Самая основная задача CRM системы - контроль и автоматизация отдела продаж. 
				p.font-weight-normal
					| Но текущие реалии бизнеса заставляют внедрять в CRM различные бизнес процессы,  такие как управленческая отчетность, планирование и прогнозирование результатов работы коммерческого департамента, контроль дилеров или торговых представителей, сбор заказов и их распределение, и так далее. 
				p.font-weight-normal
					| Качественно продуманная CRM система позволяет руководителю видеть не только этапы работы над каждой сделкой, но также понимать куда движутся продажи компании и что необходимо сделать для достижения целевых показателей.
				p.h3.text-warning Вам нужна CRM-система, если:
				.row
					.col-md-6
						ul.mb-0.pl-3
							li.text-warning.mb-3
								span.text-dark
									| Не фиксируются все 
									strong заявки из разных источников
							li.text-warning
								span.text-dark
									strong Рутина демотивирует
									|  и отнимает время у ваших продавцов

					.col-md-6
						ul.mb-0.pl-3
							li.text-warning.mb-3
								span.text-dark
									| Сложно 
									strong контролировать продавцов
							li.text-warning
								span.text-dark
									strong Не видны слабые места 
									| в ваших бизнес-процессах
				.row.align-items-center.mt-4
					.col-md-6.mb-4
						button.btn.btn-warning.data-scroll.d-block(data-scroll='form-content') Хочу всё знать
			.col-lg-6.mb-4
				.form__alarm.w-100
					p.text-dark.mr-2.mb-0.ml-0.text--semibold До
					.h1.mb-2 50%
					p.mb-2.text-dark.make-sites__custom-item.text--semibold рост прибыли после внедрения
						br
						|  CRM-систем*
				+video-item('https://www.youtube.com/watch?v=fqF6eb8bQfs', 'crm-background-top.png')
				.mt-2
					a.text-underline(href='https://www.youtube.com/watch?v=fqF6eb8bQfs' data-fancybox='')
						u Михаил Федоров рассказывает как усилить отдел продаж в кризис
