section.no-alternative
	.container.pt-4.pb-4
		.row
			.col-lg-6.col-md-4
				img(src="picture/upload/image-fade.png", alt="" data-animate="fadeIn").w-100.h-100.animation
			.col-lg-6.col-md-8
				h2.mb-4 Альтернативы нет
				p Теоретически вы можете сделать 100 сайтов в конструкторе. Это будет стоить огромных денег, но теоретически возможно.
				p И тогда вы не решите ни одну проблему бизнеса:
				.row
					.no-alternative-circle
						i.icon.icon-m.text-dark.h1.font-weight-normal
					.col-md-8.col-lg-9.col-sm-7.col-8
						ul.pl-0.price__list.mb-3
							li.mb-2 Как свести все сайты в одну систему
							li.mb-2 Как контролировать дилеров
							li.mb-2 Как увеличить продажи дилеров
							li.mb-2 Как отслеживать эффективность дилеров
							li.mb-2 Как подключать аналитику и сводить её в единый дашборд.
					.col-md-12
						.no-alternative__card.mb-4
							h4.mb-0 Мы разрабатываем систему с 2013 года и постоянно модернизируем её для наших клиентов. Аналогов её нет на рынке России!
						.row.align-items-center
							.col-md-6
								button.btn.btn-warning.data-scroll.mb-4(data-scroll='form-content') Заказать демонстрацию системы
							.col-md-6
								p.mb-4.mt-2 Если найдете — пишите нам, мы расскажем, почему это все-таки не так.