.research
	.container
		.row
			.col-md-9
				.sub-title.text-uppercase.pt-5 We examine in depth
		.row
			.col-md-8.col-lg-9
				.h3.mb-2 We make researches
				p Before we get started, we study business, market and clients.  Read our cases of complex online marketing for manufacturers with a dealers net.
		.row.mt-5
			.col-lg-8.d-none.d-md-block
				.row.no-gutters
					.col-md-3
						.research__card
							img(src="picture/upload/thermo.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Insulation
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
					.col-md-3
						.research__card
							img(src="picture/upload/noise.svg", alt="").w-100.d-block.research__card-img
							.h5.text-center.research__card-text Soundproofing
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
					.col-md-3
						.research__card
							img(src="picture/upload/laminat.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Laminate
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
					.col-md-3
						.research__card.mr-0
							img(src="picture/upload/fire.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Ovens
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
					.col-md-3
						.research__card
							img(src="picture/upload/metal.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Steel
								br
								| roofs
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
					.col-md-3
						.research__card
							img(src="picture/upload/steel.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Steel
								br
								| gates
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
					.col-md-3
						.research__card
							img(src="picture/upload/chair.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Steel
								br
								| furniture
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
					.col-md-3
						.research__card.mr-0
							img(src="picture/upload/video.svg", alt="").w-50.d-block.research__card-img
							.h5.text-center.research__card-text Video-
								br
								| Surveillance
							a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
			.col-lg-8.d-block.d-md-none
				.research__scroll-content
					.row.no-gutters.research__scroll
						.col-md-3
							.research__card
								img(src="picture/upload/thermo.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Insulation
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
						.col-md-3
							.research__card
								img(src="picture/upload/noise.svg", alt="").w-100.d-block.research__card-img
								.h5.text-center.research__card-text Soundproofing
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
						.col-md-3
							.research__card
								img(src="picture/upload/laminat.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Laminate
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
						.col-md-3
							.research__card.mr-0
								img(src="picture/upload/fire.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Ovens
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
						.col-md-3
							.research__card
								img(src="picture/upload/metal.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Steel
									br
									| roofs
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
						.col-md-3
							.research__card
								img(src="picture/upload/steel.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Steel
									br
									| gates
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
						.col-md-3
							.research__card
								img(src="picture/upload/chair.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Steel
									br
									| furniture
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
						.col-md-3
							.research__card.mr-0
								img(src="picture/upload/video.svg", alt="").w-50.d-block.research__card-img
								.h5.text-center.research__card-text Video-
									br
									| surveillance
								a(href="https://www.completo.ru/research-dealers/" target="_blank").btn.btn-white.text-dark.research__card-btn Read more
			.col-lg-4
				.row.no-gutters
					.col-lg-12.col-md-4
						.research__card-big
							img(src="picture/upload/flat.png", alt="").research__card-big-img
							a(href="https://www.completo.ru/research-estate/" target="_blank").research__card-big-link
								small Residential real estate market audit (.pdf)
					.col-lg-12.col-md-4
						.research__card-big.research__card-big-center
							img(src="picture/upload/clinic.png", alt="").research__card-big-img
							a(href="https://www.completo.ru/research-medicine/" target="_blank").research__card-big-link
								small Multi-disciplinary clinic market audit  (.pdf)
					.col-lg-12.col-md-4
						.research__card-big.research__card-big-custom
							img(src="picture/upload/banks.png", alt="").research__card-big-img
							a(href="https://www.completo.ru/research-finance/" target="_blank").research__card-big-link
								small Russian banks market audit  (.pdf)