.schema-content
	.schema
		.container
			.row
				.col-md-12
					.schema__card-bg
						.container
							.row
								.col-lg-6.mb-3
									.h2.text-white.mb-3 Схема
									.schema__card-bg-item.mb-4 &laquo;Выделить бюджет на SEO и получить в 10 раз больше прибыли&raquo;
									.h2.text-white.mb-0.schema__card-bg-main-text
										span.green-red(data-text="уже не работает") уже не работает
								.col-lg-6.d-flex.flex-column.justify-content-between.align-items-start.mb-3
									p.text-white.mt-2 Теперь алгоритмы изменились — поисковые системы проверяют качество сайтов и релевантность для пользователей. Сегодня SEO невозможно без улучшения сайта и бизнеса. Об этом говорит Яндекс и наш опыт.
									.d-flex.align-items-center.mb-4
										img(src="picture/upload/unicorn.svg", alt="").mr-1
										p.mb-0.text-white Но легенда о волшебном SEO еще жива.
									button.btn.btn-warning.data-scroll(data-scroll="form-content") Делать SEO нормально
			.row
				.col-md-12.d-flex
					.container.quote.mb-5
						.row.align-items-center.justify-content-center
							.col-lg-3.col-md-4.mb-3
								.quote__img
									img(src="picture/upload/vladimir.png", alt="")
								p.font-weight-bold.mb-0.text-center Владимир Давыдов,
								p.text-center.mb-0 главный по цифрам
							.col-xl-7.col-md-8.mb-3
								.quote__text Мы строим весь комплекс маркетинга, встраиваем SEO-стратегию в ваш интернет-маркетинг и развиваем сайт. Чтобы трафик увеличивался вместе с вашей прибылью
	section.schema.schema-gradient.pt-2
		.container
			.row
				.col-lg-6
					h2.h2.mb-4.mt-4.schema__special-text
						span.green-red(data-text="Ставим цель") Ставим цель 
						span продвижения и идем к ней
			.row.align-items-end
				.col-lg-5
					p Делаем цифровые прогнозы по росту трафика и заявок из органического поиска после сбора семантики сайта и тактического плана необходимых работ по продвижению в поисковиках. За годы работы сделали нескольких клиентов лидерами в их отраслях. Выполняем до 90% прогнозов по росту позиций сайта и трафику.
					.row
						.col-xl-9
							a(href="https://www.youtube.com/watch?v=ck2GogvXtMk" data-fancybox).seo-front__video
								img(src="picture/upload/video_cover.jpg", alt="").w-100
							p.mt-3.mb-3 Кейс: как мы вырастили трафик в 5 раз и сделали клиента лидером
				.col-lg-7.d-none.d-lg-block
					img(src="picture/upload/image-notebook.png", alt="").w-100.mb-4
	section.schema.schema__special
		.container
			.row
				.col-lg-5.mt-4
					h2.h2.mb-4.schema__special-text
						span.green-red(data-text="Приводим") Приводим
						br
						span.green-red(data-text="качественный") качественный 
						span трафик
					p Позиции в Яндексе и Google — это же не всё, что нужно бизнесу. А бизнес больше заинтересован, чтобы вместе с SEO-продвижением сайта росли заявки. Вот почему наши SEO-специалисты отчитываются по росту трафика, заявок, звонков, продаж и других целевых действий. Ваш нужен трафик, который дает больше продаж!
					p.h3.font-weight-normal.mb-4 Мы добиваемся роста трафика, который конвертируется в заявки.
					button.btn.btn-warning.data-scroll(data-scroll="form-content").mb-4 Заявка на SEO-аудит
				.col-lg-7.mt-4
					.schema__absolute
						.schema__absolute-item.schema__absolute-item-1 в Москве
							sup (2100)
						.schema__absolute-item.schema__absolute-item-2.big автомобиль
							sup (2100)
						.schema__absolute-item.schema__absolute-item-3 пицца
							sup (5592)
						.schema__absolute-item.schema__absolute-item-4 бизнес
							sup (3301)
						.schema__absolute-item.schema__absolute-item-5.big техника
							sup (5340)
						.schema__absolute-item.schema__absolute-item-6.big продажа
							sup (2151)
						.schema__absolute-item.schema__absolute-item-7.big курсы
							sup (5642)
						.schema__absolute-item.schema__absolute-item-8 где купить
							sup (2100)
						.schema__absolute-item.schema__absolute-item-9 мебель
							sup (11433)