.follow
	.container
		.row
			.col-lg-8.mb-4
				.sub-title.text-uppercase.bg-white.d-inline.pt-0 follow me
				.h3.follow__title Follow Completo in social networks
		.row
			.col-lg-4.col-sm-6.mb-5#fb-container
			.col-lg-4.col-sm-6
				.row
					.col-md-12.mb-5(style="overflow:hidden;")
						#vk_groups.w-100
					.col-md-12.mb-5
						.g-ytsubscribe(data-channel="Completoru" data-layout="full" data-count="default")



