.container.py-5.my-4.position-relative
	.absolute-text__b2b.absolute-text__b2b-2 b2b
	.row 
		.col-lg-8
			h2.h2__b2b.mb-4.text-uppercase.mb-lg-5.d-block.d-md-none
				span.yellow-border Разрабатываем
					span.border-container.animation.visible.animated(data-animate="newline")
				span 
				span сАЙТЫ и B2B-порталы
			h2.h2__b2b.mb-4.text-uppercase.mb-lg-5.d-none.d-md-block
				span Разрабатываем 
				span.yellow-border сАЙТЫ и B2B-порталы
					span.border-container.animation.visible.animated(data-animate="newline")
			.row 
				.col-md-3.mb-4
					+check__dot('Разработка', 'сайта')
				.col-md-3.mb-4
					+check__dot('Разработка', 'мобильных приложений')
				.col-md-3.mb-4
					+check__dot('Система', 'дилерских сайтов')
				.col-md-3.mb-4
					+check__dot('Быстрый запуск', '(посадочная + трафик)')
				.col-md-3.mb-4
					+check__dot('Техническая', 'поддержка')
				.col-md-3.mb-4
					+check__dot('B2B-', 'порталы')
				//- .col-md-12.d-block.d-sm-none
				//- 	.bg-dark-yellow.p-3.h4.mb-4
				//- 		span.font-weight-normal Разработаем, опубликуем и 
				//- 		span начнем продвигать приоритетные страницы 
				//- 		span.font-weight-normal в первую очередь – начните зарабатывать 
				//- 		span на новом сайте еще до окончания работ!
			.d-lg-none.position-relative
				img(src="picture/upload/b2b__qote.svg", alt="").b2b__right-quote
				img(src="picture/upload/Group_24169.png", alt="").w-100.position-relative.z-index-2
				p.h5.mb-4
					span.font-weight-normal Маркетинговая 
					span разработка сайта на 70% состоит из стратегии и исследований, 
					span.font-weight-normal и только 30% составляет техническое воплощение
				p 
					span.h6.mb-0 Владимир Давыдов, 
					br
					span.text-opacity-5 сооснователь COMPLETO
			.h4.pt-3.mb-4.pb-lg-3 Работы над сайтом включают:
			.row.align-items-center
				.col-md-8.col-xl-9
					.row.no-gutters
						.col-xl-3.col-md-6.px-md-2
							+b2b__icon-block('tic-tac-toe_b2b1', '<span class="font-weight-bold">SEO-</span><br/>проработку')
						.col-xl-3.col-md-6.px-md-2
							+b2b__icon-block('focus_b2b1', '<span class="font-weight-bold">Анализ</span><br/> конкурентов')
						.col-xl-3.col-md-6.px-md-2
							+b2b__icon-block('idea_b2b1', '<span class="font-weight-bold">Проработку УТП</span><br/> и позиционирования')
						.col-xl-3.col-md-6.px-md-2
							+b2b__icon-block('strategy_b2b1', '<span class="font-weight-bold">Концепт продвижения</span><br/>и медиаплан')
				.col-md-4.mb-4.col-xl-3
					.pr-lg-2
						button.btn.btn-warning.w-100.px-2.data-scroll(data-scroll="form-content")
							small.font-weight-bold Сделать сайт для B2B
			//- .row.d-none.d-sm-flex
			//- 	.col-md-12
			//- 		.bg-dark-yellow.p-3.h4.mb-4
			//- 			span.font-weight-normal Разработаем, опубликуем и 
			//- 			span начнем продвигать приоритетные страницы 
			//- 			span.font-weight-normal в первую очередь – начните зарабатывать 
			//- 			span на новом сайте еще до окончания работ!
			.row.align-items-center
				.col-lg-5.mb-4 
					span.h4
						span.yellow-border Маркетинговый подход
							span.border-container.animation.visible.animated(data-animate="newline")
						br
					span.h5.font-weight-normal к разработке сайта способен:
				.col-lg-7
					.row
						.col-md-4.mb-4
							span.h5.font-weight-normal в 
							span.h3.h3__big.form-h2
								span.yellow-border 18
									span.border-container.animation.visible.animated(data-animate="newline")
								span 
							span.h5.font-weight-normal раз
							p.mb-0
								small увеличить количество заявок 
						.col-md-4.mb-4
							span.h5.font-weight-normal в 
							span.h3.h3__big.form-h2
								span.yellow-border 10
									span.border-container.animation.visible.animated(data-animate="newline")
								span 
							span.h5.font-weight-normal раз
							p.mb-0
								small увеличить объем продаж 
						.col-md-4.mb-4
							span.h5.font-weight-normal на 
							span.h3.h3__big.form-h2
								span.yellow-border 36%
									span.border-container.animation.visible.animated(data-animate="newline")
								span 
							p.mb-0
								small увеличить конверсию в заявку
		.col-lg-4.d-none.d-lg-block
			.position-relative
				img(src="picture/upload/b2b__qote.svg", alt="").b2b__right-quote
				img(src="picture/upload/Group_24169.png", alt="").w-100.position-relative.z-index-2
				p.h5.mb-4
					span.font-weight-normal Маркетинговая 
					span разработка сайта на 70% состоит из стратегии и исследований, 
					span.font-weight-normal и только 30% составляет техническое воплощение
				p 
					span.h6.mb-0 Владимир Давыдов, 
					br
					span.text-opacity-5 сооснователь COMPLETO
	.row.pt-4.align-items-end
		.col-lg-3.mb-3.pb-3
			.h4.mb-md-4.mb-0 Как мы это делаем, читайте в наших кейсах:
			a(href="#").btn.btn-warning.px-4.d-none.d-md-inline-block.text-warning
				span.text-dark Все кейсы по разработке
		.col-lg-9
			.d-md-none
				.slick-slider-mob.b2b__slider-mob.mb-4
					+b2b-case('Rectangle_2875.jpg', 'alta-2.png', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
					+b2b-case('Rectangle_2876.jpg', 'logo_site.svg', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
					+b2b-case('Rectangle_2877.jpg', 'Motorola_new_logo.svg', 'Разработка landing-page для сбора заявок в России заявок в России и Европе для СИБУР')
				a(href="#").btn.btn-warning.px-4.b2b__header__btn-full.text-warning
					span.text-dark Все кейсы по разработке
			.row.d-none.d-md-flex
				.col-md-4.mb-4
					+b2b-case('Rectangle_2875.jpg', 'alta-2.png', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
				.col-md-4.mb-4
					+b2b-case('Rectangle_2876.jpg', 'logo_site.svg', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
				.col-md-4.mb-4
					+b2b-case('Rectangle_2877.jpg', 'Motorola_new_logo.svg', 'Разработка landing-page для сбора заявок в России заявок в России и Европе для СИБУР')