mixin carousel-list-block(...lists)
	ul.carousel__list-block
		each list, index in lists
			if index == 0
				li.carousel__list-block-item.active.mb-4
					a(href="#" data-link=index).carousel__list-block-item-link= index + 1 + '. ' + list
			else
				li.carousel__list-block-item.mb-4
					a(href="#" data-link=index).carousel__list-block-item-link= index + 1 + '. ' + list
mixin carousel-list-main(...images)
	.carousel__list-carousel.pb-0
		each img in images
			img(src="picture/upload/"+img, alt="").w-100
.bg-lightyellow.border-top.border-secondary.py-5.position-relative.make-sites-section.overflow-hidden
	.paralax-item.paralax-item-1
		img(src="picture/upload/dotted_box.png", alt="")
	.container
		.row
			.col-xl-3.col-lg-4.col-md-4
				.h4 Как мы создаем сайты и как не делают другие
				+carousel-list-block('Изучаем продукт с точки зрения маркетинга', 'Исследуем спрос на продукт', 'Находим новые аудитории, о которых вы и не подозревали', 'Исследуем, как пользователи находят продукт', 'Настраиваем аналитику исходя из KPI и целей бизнеса')
				button.btn.btn-warning.data-scroll.mt-4.mb-4.w-100.d-none.d-md-inline-block(data-scroll="form-content") Хочу
			.col-xl-9.col-lg-8.col-md-8
				+carousel-list-main('block3_slide1.jpg', 'block3_slide2.jpg', 'block3_slide3.jpg', 'block3_slide4.jpg', 'block3_slide5.jpg')
			.col-md-12.d-block.d-md-none
				button.btn.btn-warning.data-scroll.mt-4.mb-4.w-100(data-scroll="form-content") Хочу
	.container.mt-4
		.row
			.col-lg-8.col-xl-7.mt-4
				h2.h2.mb-4.make-sites-section__h2 Что входит в маркетинговую разработку сайта
		.row
			.col-lg-9.col-md-8
				.row
					.col-lg-4.mt-3
						img(src="picture/upload/el_black_graph.svg", alt="").mb-2
						.h4.mb-3 Расширяем структуру спроса
						p Изучаем рынок, подбираем сформированный и несформированный спрос. Если спрос на продукт в интернете невелик, предложим другие варианты продвижения
					.col-lg-4.mt-3
						img(src="picture/upload/el_black_voronka.svg", alt="").mb-2
						.h4.mb-3 Разрабатываем воронку продаж
						p Исследуем аудиторию, ищем новые сегменты, узнаем возражения, разрабатываем воронку продаж по стадиям принятия решения и пути захода на сайт по источникам.
					.col-lg-4.mt-3
						img(src="picture/upload/el_black_box.svg", alt="").mb-2
						.h4.mb-3 Прорабатываем продукт
						p Разрабатываем позиционирование, УТП, контент с учетом потребностей и возражений аудитории. Обрабатываем причины отвала и варианты возврата в воронку продаж через сайт.
					.col-lg-3.col-md-4.mt-3.d-block.d-md-none
						.h4.mb-3.text-center Для нас создание сайта выглядит так:
						+steps-graph('70%', 'маркетинговая <br> проработка', '20%', 'дизайн', '10%', 'техническое <br> воплощение')
				.row
					.col-lg-10.mb-4
						.traffic__graph-container.make-sites-section__graph.mt-4
							.traffic__graph
								.traffic__graph-x.text-white
								.traffic__graph-y.text-white
								img(src="picture/upload/graph_block10.png", alt="").traffic__graph-img
								.traffic__graph-mark.traffic__graph-mark-2
									.traffic__graph-mark-num 94%
									.traffic__graph-mark-text При первом знакомстве 94% людей смотрят только на дизайн
								.traffic__graph-mark.traffic__graph-mark-1
									.traffic__graph-mark-num 17%
									.traffic__graph-mark-text При взаимодействии лишь 17% аудитории важен дизайн
							.make-sites-section__graph-card.d-none.d-md-block
								.h4.text-uppercase.text-warning Содержание
								p.h5.font-weight-normal на первом месте при желании купить, позвонить, оставить заявку
			.col-lg-3.col-md-4.mt-3.d-none.d-md-block
				.h4.mb-3 Для нас создание сайта выглядит так:
				+steps-graph('70%', 'маркетинговая <br> проработка', '20%', 'дизайн', '10%', 'техническое <br> воплощение')
	.mt-4
		+bloquote('Ирина Давыдова,', 'арт-директор &#171;Комплето&#187;', 'irina_davydova.png', 'К нам обращаются клиенты, которые переделывали сайт по 2-3 раза. На страницах —  3D-модели, красивая анимация. А продажи не растут', true)