.py-5.overflow-hidden.price-consulting
	.container
		.row
			.col-md-12
				h2.h2.mb-4.mb-xl-5.position-relative.z-index-2.form-h2
					span.yellow-border Уже работали
						span.border-container.animation.visible.animated(data-animate="newline")
					span 
					span с агенствами интернет-маркетинга?
		.row#accordion-b2b
			.col-md-7.mb-4(class="collapse show" aria-labelledby="collapseTwoB2b" data-parent="#accordion-b2b" id="collapseTwoB2b")
				.row.justify-content-center 
					.col-sm-6.col-8
						img(src="picture/upload/b2b-plane.svg", alt="").w-100
				.row.justify-content-between.mb-5
					.col-6.col-lg-5
						button.btn.btn-warning.mt-4.d-block.w-100.b2b-test__btn(data-toggle="collapse" data-target="#collapseOneB2b" aria-expanded="true" aria-controls="collapseOneB2b") Да
					.col-6.col-lg-5
						button.btn.btn-warning.data-scroll.mt-4.d-block.w-100.b2b-test__btn(data-scroll="form-content") Нет
				img(src="picture/upload/b2b-Frame.png", alt="").d-block.mx-auto.b2b-test__img.mb-4
				.text-center.b2b-test__text Узнайте, почему другие агентства <br> Вам не помогут
			.col-md-7.mb-4(id="collapseOneB2b" class="collapse" aria-labelledby="collapseOneB2b" data-parent="#accordion-b2b")
				.row 
					.col-lg-8
						.h4.mb-4.mb-lg-5 Тогда вам это знакомо:
						ul.mb-5.b2b-test__list
							li.mb-4 Работают с любым типом компаний (от стартапов до брендов)
							li.mb-4 Оказывают услуги на потоке (мы работаем выделенными командами)
							li.mb-4 Отсутствуют знания в маркетинге для B2B-сегмента
							li.mb-4 Фокусируются на повышении конверсии, лидов, звонков (что недостаточно для B2B)
							li.mb-4 Не проводят сквозную веб-аналитику для продаж длительных циклов
							li.mb-4 Разрабатывают сайты, не учитывая специфику B2B
				.row.justify-content-between
					.col-6
						button.btn.btn-warning.data-scroll.mt-4.d-block.w-100.b2b-test__btn(data-scroll="form-content") Запросить предложение
					.col-6
						button.btn.btn-warning.mt-4.d-block.w-100.b2b-test__btn(data-toggle="collapse" data-target="#collapseTwoB2b" aria-expanded="true" aria-controls="collapseTwoB2b") Вернуться к голосованию
			.col-md-5.mb-4.d-none.d-md-block
				img(src="picture/upload/b2b-hand.png", alt="").w-100