section.price__wrapper
	.container
		.row
			.col-md-12
				h2 Схемы, которые мы разработали
	.big-slick
		+scheme-item('Для производителя стройматериалов с сетями дилеров и субдилеров', 'dealers_stroy.jpg', '500+', 'дилеров по всей России')
		+scheme-item('Для производителя входных дверей с сетями дилеров и субдилеров', 'dealers_doors.jpg', '300+', 'дилеров по всей России')
		+scheme-item('Для производителя кухонь с сетью фирменных магазинов', 'dealers_kitchen.jpg', '50+', 'магазинов по России')
		+scheme-item('Для производителя оконных профилей с дилерской сетью', 'dealers_window.jpg', '100+', 'дилеров по всей России')