.price {
	&__wrapper {
			padding-top: 80px;
			@include media-breakpoint-down(xs)  {
					background-image: none;
					padding-top: 60px;
			}
			.custom-ul {
					margin-left: -20px;
					@include media-breakpoint-down(xs)  {
							margin-left: 0;
					}
			}
			@include media-breakpoint-down(md)  {
					background-position: 100% 440px;
					background-size: 830px 290px;
			}
	}
	&__year {
			font-size: 64px;
			color: white;
			font-weight: bold;
			@include media-breakpoint-down(md)  {
					font-size: 40px;
			}
			&-text {
					max-width: 300px;
					margin-bottom: 0;
			}
	}
	&__flex-content {
			margin-top: 50px;
			@include media-breakpoint-down(xs)  {
					margin-top: 10px;
			}
			.dealer__container-gradient {
					flex-direction: column;
			}
			.button__cube {
					max-width: 300px;
			}
	}
	&__w-50 {
			width: 50%;
			background-color: white;
			@include media-breakpoint-down(xs)  {
					width: 100%;
					margin-bottom: 20px;
			}
			.dealer__text-content {
					width: 100%;
			}
	}
	&__term {
			margin-bottom: 0;
			padding-top: 14px;
			border-top: 1px solid #D1D1D1;
			text-align: right;
			font-size: 24px;
			font-weight: bold;
			color: #FECC2F;
			width: 100%;
	}
	&__card-no-shadow {
			&.install-site__card-shadow.no-shadow {
					margin-top: 0;
					height: 100%;
					display: flex;
					justify-content: space-between;
					flex-direction: column;
					box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
					.text-content {
							margin-bottom: 20px;
					}
					h4 {
							margin-bottom: 10px;
							font-size: 24px;
					}
					@include media-breakpoint-down(md)  {
							margin-top: 40px;
							margin-bottom: 20px;
							height: initial;
							.text-content {
									margin-bottom: 50px;
							}
					}
					@include media-breakpoint-down(md)  {
							max-width: initial;
					}
			}
	}
	&__flex-container {
			display: flex;
			align-items: flex-start;
			@include media-breakpoint-down(xs)  {
					flex-direction: column;
			}
	}
	&__flex-text {
			margin-left: 15px;
			@include media-breakpoint-down(xs)  {
					margin-left: 0;
					margin-top: 15px;
			}
			p strong {
					font-weight: bold;
					font-size: 18px;
			}
			p {
					margin-bottom: 10px;
			}
			ul li:last-child p {
					margin-bottom: 0;
			}
	}
}
.big-slick {
	margin-top: 20px;
	.slick-slide {
		width: 727px;
		position: relative;
		margin: 0 10px;
		@include media-breakpoint-down(md)  {
			width: calc(100% - 20px);
		}
	}
	&__children {
			max-width: 727px;
			position: relative;
			margin: 0 10px;
			margin-bottom: 130px;
			@include media-breakpoint-down(md)  {
					max-width: 100%;
					margin: 0 0 150px 0;
			}
			@include media-breakpoint-down(xs)  {
					margin-bottom: 60px;
			}
			&-line {
					background-color: #FECC2F;
					padding: 20px;
					padding-right: calc(70% + 30px);
					width: 100%;
					margin-bottom: 16px;
					box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
					transition: 0.2s ease all;
					p {
							margin-bottom: 0;
							@include media-breakpoint-down(md)  {
									margin-bottom: 25px;
							}
					}
					@include media-breakpoint-down(xs)  {
							padding-right: 20px;
							&-last {
									padding-bottom: 100px;
							}
					}
					&-white {
							background-color: #FEFDF2;
							color: rgba(0,0,0,0.5);
							&:first-child {
									min-height: 160px;
									@include media-breakpoint-down(md)  {
											min-height: initial;
									}
							}
							@include media-breakpoint-down(md)  {
									background-color: #fecc2f;
									color: black;
							}
					}
					h2 {
							margin-bottom: 0px;
					}
			}
	}
	&__img {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 67%;
			box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
			transition: 0.3s ease all;
			@include media-breakpoint-down(md)  {
					max-width: 500px;
			}
			@include media-breakpoint-down(xs)  {
					position: initial;
					margin-top: -100px;
					max-width: initial;
					display: block;
					margin-left: auto;
					margin-right: auto;
					width: calc(100% - 30px);
			}
	}
	.slick-next {
			transform: rotate(-90deg);
			bottom: 61px;
			width: 26px;
			left: -370px;
			right: 0;
			margin: auto;
			top: auto;
			svg {
				width: 18px;
			}
			svg path {
					fill: #0082F9;
			}
			@include media-breakpoint-down(md)  {
					margin-left: 0;
					left: 160px;
			}
			@include media-breakpoint-down(xs)  {
					bottom: 0;
			}
	} 
	.slick-dots {
			bottom: 60px;
			width: 170px;
			left: -550px;
			right: 0;
			margin: auto;
			@include media-breakpoint-down(md)  {
					margin-left: 0;
					left: 0;
			}
			@include media-breakpoint-down(xs)  {
					bottom: 0;
			}
			li {
					height: initial;
					button {
							background-color: transparent;
							color: #00B3FF;
							font-size: 16px;
							line-height: 1;
							height: initial;
							&:before {
									display: none;
							}
					}
					&.slick-active {
							button {
									background-color: rgba(255, 229, 0, 0.1);
									color: black;
									font-weight: bold;
							}
					}
			}
	}
}
.slick-center .big-slick__children-line.big-slick__children-line-white {
	background-color: #fecc2f;
	color: black;
}