section.system-consist
	.container
		.row
			.col-lg-6.col-md-8
				h2.mb-4
					span Из чего состоит
					br
					span.heading-gradient cистема дилерских сайтов
				p В базовой конфигурации система состоит из модуля создания сайтов с подключенной веб-аналитикой и личного кабинета дилера — это минимальный набор функций, без которых ничего не полетит.
				p Не пугайтесь многокомпонентности системы! Мы поможем подобрать нужные интеграции для задач вашего бизнеса. Стоимость будет зависеть от итоговой конфигурации системы и настроек каждого модуля.
				p.font-weight-bold Чем больше модулей, тем больше инструментов в ваших руках.
			.col-lg-6.col-md-4
				.system-consist__img-container
					img(src="picture/upload/graph-img.png", alt="")
				.row
					.col-lg-6.col-md-12.col-sm-6
						.gradient-text 33 млн.
						p рублей дохода в год приносит система нашим клиентам (с партнерской сетью 3000+)
					.col-lg-6.col-md-12.col-sm-6
						.gradient-text на 26%
						p увеличились продажи дилеров после внедрения системы
.system-consist.system-consist__modules
	.container
		.row
			.col-md-12
				.h4.mb-4 Модули системы:
		.row.mobile_slider
			.col-lg-4.col-md-6.system-consist__card-container
				.system-consist__card.bg-warning
					i.icon.icon-analysis.h1.font-weight-normal
					.system-consist__card-text
						.h5 Генератор дилерских сайтов
						p.mb-0 страницы: главная, о компании, каталог, где купить
			.col-lg-4.col-md-6.system-consist__card-container
				.system-consist__card.bg-warning
					i.icon.icon-analysis.h1.font-weight-normal
					.system-consist__card-text
						.h5 Личный кабинет дилера
						p.mb-0 обучающие методички, заказ маркетинговых материалов, заказ продукции с завода
			.col-lg-4.col-md-6.system-consist__card-container
				.system-consist__card.bg-warning
					i.icon.icon-growth.h1.font-weight-normal
					.system-consist__card-text
						.h5 Веб-аналитика
						p.mb-0 коллтрекинг, посетители, отказы по сайту
			.col-lg-4.col-md-6.system-consist__card-container
				.system-consist__card
					i.icon.icon-internet.h1.font-weight-normal.text-warning
					.system-consist__card-text
						.h5 Дашборд по всем сайтам
						p.mb-0 заявки, посетители, доходы руб.
			.col-lg-4.col-md-6.system-consist__card-container
				.system-consist__card
					i.icon.icon-internet.h1.font-weight-normal.text-warning
					.system-consist__card-text
						.h5 SEO
						p.mb-0 подстройка продвижения сайта под регион
			.col-lg-4.col-md-6.system-consist__card-container
				.system-consist__card
					i.icon.icon-website-2.h1.font-weight-normal.text-warning
					.system-consist__card-text
						.h5 Шаблоны рекламных кампаний
						p.mb-0 рекламные кампании в один клик
			.col-lg-4.col-md-6.system-consist__card-container
				.system-consist__card
					i.icon.icon-internet.h1.font-weight-normal.text-warning
					.system-consist__card-text
						.h5 Баннерная крутилка
						p.mb-0 промоушн товаров по одному или всем сайтам дилеров
			.col-lg-4.col-md-6.system-consist__card-container
				.system-consist__card
					i.icon.icon-internet.h1.font-weight-normal.text-warning
					.system-consist__card-text
						.h5 Система управления заказами
						p.mb-0 распределение заявок по дилерам, качество работы партнеров
			.col-lg-4.col-md-12.system-consist__card-container
				.system-consist__card
					i.icon.icon-website-2.h1.font-weight-normal.text-warning
					.system-consist__card-text
						.h5 CRM с телефонией для колл-центра дилеров
						p.mb-0 запись разговоров, источники звонков с полным путём клиента
		.row
			.col-md-12
				.d-flex.align-items-center.justify-content-center
					button.btn.btn-warning.data-scroll.mb-4.mt-4(data-scroll="dealers-content") Какие модули нужны мне?
section.system-consist.system-consist-bad-dealers
	.container
		.row
			.col-md-12.col-xl-7.col-lg-10
				h2.mb-4 Но так уж нужна система?
				p.mb-5 Чтобы продажи дилеров росли, им нужно помогать с маркетингом, контролировать и давать рабочие инструменты. 
					a(href="https://blog.completo.ru/internet-marketing-dilerskih-setej/" target="_blank").system-consist__link Система упрощает эти задачи
		.row
			.col-lg-6.col-md-10
				.h4.font-weight-normal.mb-5 Суровая реальность дилерской сети без обучения, мотивации и контроля:
		.mobile_slider
			.row.justify-content-end
				.col-md-4
					.system-consist__absolute.system-consist__absolute-1.animation(data-animate="zoomIn")
						img(src="picture/upload/dealer-04.png", alt="").mr-3
						p.mb-0 Оператор дилера
							br
							| в Ангарске
			.row.justify-content-center
				.col-md-4
					.system-consist__absolute.system-consist__absolute-2.animation(data-animate="zoomIn")
						img(src="picture/upload/dealer-02.png", alt="").mr-3
						p.mb-0 Дилер в Челябинске
			.row
				.col-md-4.system-consist__absolute-container-3
					.system-consist__absolute.system-consist__absolute-3.animation(data-animate="zoomIn")
						img(src="picture/upload/dealer-01.png", alt="").mr-3
						p.mb-0 Дилер в Бийске
			.row.justify-content-center
				.offset-md-2.col-md-4.system-consist__absolute-container-4
					.system-consist__absolute.system-consist__absolute-4.animation(data-animate="zoomIn")
						img(src="picture/upload/dealer-03.png", alt="").mr-3
						p.mb-0 Дилер в Бийске
section.system-consist-end
	.container
		.row
			.col-md-12
				.price__main-card
					.row.justify-content-center
						.col-lg-10.col-xl-8
							h3.text-center.mb-4 Хватит краснеть за дилеров! Наведите порядок, как другие наши клиенты!
					.row
						.col-md-4.mb-4.system-consist-end__card
							.system-consist-end__card-num с 60% до 6%
							p.text-center уменьшились пропущенные звонки по дилерской сети
						.col-md-4.mb-4.system-consist-end__card
							.system-consist-end__card-num 1 217 933
							p.text-center уникальных посетителя привлекает система из органики для производителя с сетью 100+
						.col-md-4.mb-4.system-consist-end__card.border-right-0
							.system-consist-end__card-num на 27%
							p.text-center выросла эффективность дилеров наших клиентов