.main-section.slick-white.pb-0.mb-0
	.main-section_children.main-section_children_1
		.container
			.row.align-items-center
				.col-md-7.col-lg-8
					.main-section__main-text
						.main-section__children-1-content.animated.delay-2s.bounceInLeft
							.main-section__lang.active-eng
								a(href="/").main-section__lang-ru RU
								a(href="/eng").main-section__lang-eng ENG
							p.main-section_top-text.text-white Marketing group "Completo"
								br
								small is in the market since 2007
							.h1.main-title.main-section__main-title Digital marketing and sales transformation for industrial and
								br
								| b2b companies
						button.btn.btn-warning.pr-5.pl-5.mt-4.animated.delay-2s.fadeIn(data-scroll="new-form-main").data-scroll Discuss a project
						br
						a(data-fancybox href="https://www.youtube.com/watch?v=EUS7KhS7m9o" target="_blank").main-section__case-link.align-items-center.text-white.animated.delay-2s.fadeIn
							span.main-section__case-link-circle
								i.icon.icon-case
							u.display-inline-block.ml-3.main-section__automatization-case The automation case
								svg#Capa_1-2(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 31.49 31.49' style='enable-background:new 0 0 31.49 31.49;')
									path(style='fill:white;' d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
				.col-md-5.col-lg-4.main-section__right-col
					.d-flex.align-items-start.animated.delay-2s.bounceInRight
						img(src="picture/upload/Runet.png", alt="").main-section__icon
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-5 developers
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text of online shops (building materials)
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Runet 2019
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						img(src="picture/upload/Ruward.png", alt="").main-section__icon.main-section__ruward
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-20 digital agencies
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text (end-to-end analytics)
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Ruward 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						img(src="picture/upload/Runet.png", alt="").main-section__icon.main-section__ruward
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Тop-20 developers
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text of online shops
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Runet 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						.main-section__icon-container.d-flex.align-items-center.justify-content-center
							i.icon.icon-offer.main-section__icon-font.text-white
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-40 agencies
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text (performance marketing)
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Tagline 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						img(src="picture/upload/Ruward.png", alt="").main-section__icon.main-section__ruward
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-50
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text digital-strategy
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em Ruward 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						.main-section__icon-container
							i.icon.icon-win.main-section__icon-font.text-white.main-section__icon-font__small
						.main-section__text-container.ml-2
							h5.text-white.mb-0 The top
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text digital persons
							p.text-white.mb-2
								em CEO
	.main-section_children.main-section_children_2
		.container
			.row.align-items-center
				.col-md-7.col-lg-8
					.main-section__lang.active-eng
						a(href="/").main-section__lang-ru RU
						a(href="/eng").main-section__lang-eng ENG
					.main-section__main-text
						p.main-section_top-text.text-white Marketing group "Completo"
							br
							small is in the market since 2007
						.h1.main-title.main-section__main-title Digital marketing and sales transformation for industrial and
							br
							| b2b companies
						br
						button.btn.btn-warning.pr-5.pl-5.mt-4(data-scroll="new-form-main").data-scroll Discuss a project
						br
						a(href="https://blog.completo.ru/kak-internet-marketing-pomog-sistematizirovat-prodazhi-dlya-proizvoditelya-s-dilerskoy-setyu-100/" target="_blank").main-section__case-link.align-items-center.text-white
							span.main-section__case-link-circle
								i.icon.icon-case
							u.display-inline-block.ml-3.main-section__automatization-case The sales automation case for manufacturers
								svg#Capa_1-3(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 31.49 31.49' style='enable-background:new 0 0 31.49 31.49;')
									path(style='fill:white;' d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
				.col-md-5.col-lg-4.main-section__right-col
					.d-flex.align-items-start.animated.delay-2s.bounceInRight
						img(src="picture/upload/Runet.png", alt="").main-section__icon
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-5 developers
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text of online shops (building materials)
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Runet 2019
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						img(src="picture/upload/Ruward.png", alt="").main-section__icon.main-section__ruward
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-20 digital agencies
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text (end-to-end analytics)
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Ruward 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						img(src="picture/upload/Runet.png", alt="").main-section__icon.main-section__ruward
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Тop-20 developers
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text of online shops
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Runet 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						.main-section__icon-container.d-flex.align-items-center.justify-content-center
							i.icon.icon-offer.main-section__icon-font.text-white
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-40 agencies
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text (performance marketing)
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Tagline 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						img(src="picture/upload/Ruward.png", alt="").main-section__icon.main-section__ruward
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-50
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text digital-strategy
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em Ruward 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						.main-section__icon-container
							i.icon.icon-win.main-section__icon-font.text-white.main-section__icon-font__small
						.main-section__text-container.ml-2
							h5.text-white.mb-0 The top
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text digital persons
							p.text-white.mb-2
								em CEO
	.main-section_children.main-section_children_3
		.container
			.row.align-items-center
				.col-md-7.col-lg-8
					.main-section__lang.active-eng
						a(href="/").main-section__lang-ru RU
						a(href="/eng").main-section__lang-eng ENG
					.main-section__main-text
						p.main-section_top-text.text-white Marketing group "Completo"
							br
							small is in the market since 2007
						.h1.main-title.main-section__main-title Digital marketing and sales transformation for industrial and
							br
							| b2b companies
						br
						button.btn.btn-warning.pr-5.pl-5.mt-4(data-scroll="new-form-main").data-scroll Discuss a project
						br
						a(href="https://blog.completo.ru/kak-myi-zastavili-sayt-proizvoditelya-stroymaterialov-prodavat-produktsiyu-silami-dilerov-keys/" target="_blank").main-section__case-link.align-items-center.text-white
							span.main-section__case-link-circle
								i.icon.icon-case
							u.display-inline-block.ml-3.main-section__automatization-case The case of online-marketing optimization for manufacturers
								svg#Capa_1-1(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 31.49 31.49' style='enable-background:new 0 0 31.49 31.49;')
									path(style='fill:white;' d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
									g
				.col-md-5.col-lg-4.main-section__right-col
					.d-flex.align-items-start.animated.delay-2s.bounceInRight
						img(src="picture/upload/Runet.png", alt="").main-section__icon
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-5 developers
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text of online shops (building materials)
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Runet 2019
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						img(src="picture/upload/Ruward.png", alt="").main-section__icon.main-section__ruward
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-20 digital agencies
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text (end-to-end analytics)
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Ruward 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						img(src="picture/upload/Runet.png", alt="").main-section__icon.main-section__ruward
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Тop-20 developers
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text of online shops
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Runet 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						.main-section__icon-container.d-flex.align-items-center.justify-content-center
							i.icon.icon-offer.main-section__icon-font.text-white
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-40 agencies
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text (performance marketing)
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em By Tagline 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						img(src="picture/upload/Ruward.png", alt="").main-section__icon.main-section__ruward
						.main-section__text-container.ml-2
							h5.text-white.mb-0 Top-50
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text digital-strategy
							p.text-white.mb-0.main-section__border-bottom.pb-2
								em Ruward 2018
					.d-flex.align-items-start.mt-3.animated.delay-2s.bounceInRight
						.main-section__icon-container
							i.icon.icon-win.main-section__icon-font.text-white.main-section__icon-font__small
						.main-section__text-container.ml-2
							h5.text-white.mb-0 The top
							p.font-weight-bold.text-white.mb-1.main-section_secondary-text digital persons
							p.text-white.mb-2
								em CEO


