.product.pt-4
	.container
		.row
			.col-md-9
				.product__sub-title.sub-title.text-uppercase Продукты
		.row.mb-4
			.col-md-8.col-lg-9
				.h3.mb-2.product-main-title Готовые решения для производителей
				p.product-secondary-title Разрабатываем и внедряем для клиентов CRM, системы бронирования остатков, распределения заказов и другие продукты
			.col-md-4.col-lg-3
				a(target="_blank" href="https://www.completo.ru/videocourse-for-managers/").product-video-link.text-dark 
					img(src="picture/upload/play-png.png", alt="")
					span
						u Видеокурс: digital-
							br
							| трансформация бизнеса
		.row.mb-4
			.col-md-12.product-card-container
				.custom-scrollbar
					.product-card__scrollbar.d-flex
						.product-card
							.product-card__content
								.product-display
									a(href="https://www.completo.ru/dealers/" target="_blank")
										img(src="picture/upload/product-1.png", alt="").product-display__img
								.h4.product-card__title
									a(href="https://www.completo.ru/dealers/" target="_blank").text-dark Система
										br
										| интернет-продаж для производителей с сетью партнеров
								p увеличивает продажи по всей сети на 20%
							a(href="https://www.completo.ru/dealers/" target="_blank").btn.btn-white.product-card-btn.text-dark Подключить
						.product-card
							.product-card__content
								.product-display
									a(href="https://www.completo.ru/dealers-generator/" target="_blank")
										img(src="picture/upload/product-2.jpg", alt="").product-display__img
								.h4.product-card__title
									a(href="https://www.completo.ru/dealers-generator/" target="_blank").text-dark Генератор 
										br
										| уникальных сайтов дилеров
								p увеличьте прибыль по всей стране
							a(href="https://www.completo.ru/dealers-generator/" target="_blank").btn.btn-white.product-card-btn.text-dark Подключить
						.product-card
							.product-card__content
								.product-display
									a(href="https://www.completo.ru/dealers-how-to/" target="_blank")
										img(src="picture/upload/product-3.jpg", alt="").product-display__img
								.h4.product-card__title
									a(href="https://www.completo.ru/dealers-how-to/" target="_blank").text-dark Система
										br
										| распределения заказов 
								p автоподбор исполнителя на основе показателей
							a(href="https://www.completo.ru/dealers-how-to/" target="_blank").btn.btn-white.product-card-btn.text-dark Подключить
						.product-card
							.product-card__content
								.product-display
									img(src="picture/upload/product-4.jpg", alt="").product-display__img
								.h4.product-card__title Конфигуратор 
									br
									| каталога
								p если 10
									sup 10 
									|  комбинаций продукта
						.product-card
							.product-card__content
								.product-display
									a(href="https://blog.completo.ru/kak-podnyat-prodazhi-kompanii-s-setyu-dilerov-s-pomoschyu-telefonii/" target="_blank")
										img(src="picture/upload/product-5.jpg", alt="").product-display__img
								.h4.product-card__title
									a(href="https://blog.completo.ru/kak-podnyat-prodazhi-kompanii-s-setyu-dilerov-s-pomoschyu-telefonii/" target="_blank").text-dark CRM для 
										br
										| производителей и дилеров
								p на 20% сокращает расходы на персонал
							a(href="https://blog.completo.ru/kak-podnyat-prodazhi-kompanii-s-setyu-dilerov-s-pomoschyu-telefonii/" target="_blank").btn.btn-white.product-card-btn.text-dark Подключить
						.product-card
							.product-card__content
								.product-display
									a(href="https://blog.completo.ru/kak-internet-marketing-pomog-sistematizirovat-prodazhi-dlya-proizvoditelya-s-dilerskoy-setyu-100/" target="_blank")
										img(src="picture/upload/product-6.jpg", alt="").product-display__img
								.h4.product-card__title
									a(href="https://blog.completo.ru/kak-internet-marketing-pomog-sistematizirovat-prodazhi-dlya-proizvoditelya-s-dilerskoy-setyu-100/" target="_blank").text-dark Система
										br
										| бронирования остатков
								p заказ продукции с завода для сети представителей
							a(href="https://blog.completo.ru/kak-internet-marketing-pomog-sistematizirovat-prodazhi-dlya-proizvoditelya-s-dilerskoy-setyu-100/" target="_blank").btn.btn-white.product-card-btn.text-dark Подключить
						.product-card
							.product-card__content
								.product-display
									img(src="picture/upload/product-7.jpg", alt="").product-display__img
								.h4.product-card__title Личные кабинеты
								p позволяют сократить число менеджеров в 2,5 раза
						.product-card
							.product-card__content
								.product-display
									a(href="https://blog.completo.ru/keys-povyishenie-konversii-sayta-za-schet-vnutrenney-sistemyi-promoutirovaniya/" target="_blank")
										img(src="picture/upload/product-8.jpg", alt="").product-display__img
								.h4.product-card__title
									a(href="https://blog.completo.ru/keys-povyishenie-konversii-sayta-za-schet-vnutrenney-sistemyi-promoutirovaniya/" target="_blank").text-dark Система 
										br
										| промоутирования для сети сайтов
								p стимулирование продаж через акции и скидки
							a(href="https://blog.completo.ru/keys-povyishenie-konversii-sayta-za-schet-vnutrenney-sistemyi-promoutirovaniya/" target="_blank").btn.btn-white.product-card-btn.text-dark Подключить
						.product-card
							.product-card__content
								.product-display
									a(href="https://blog.completo.ru/kak-obedinit-20-tys-tovarov-v-odno-okno/" target="_blank") 
										img(src="picture/upload/product-9.jpg", alt="").product-display__img
								.h4.product-card__title
									a(href="https://blog.completo.ru/kak-obedinit-20-tys-tovarov-v-odno-okno/" target="_blank").text-dark Единая товарная база
								p облачный сервис для компаний с множеством поставщиков
							a(href="https://blog.completo.ru/kak-obedinit-20-tys-tovarov-v-odno-okno/" target="_blank").btn.btn-white.product-card-btn.text-dark Подключить
						.product-card
							.product-card__content
								.product-display
									a(href="https://blog.completo.ru/uvelichenie-prodazh-s-pomoshhyu-mobilnogo-prilozheniya-2/" target="_blank")
										img(src="picture/upload/product-10.jpg", alt="").product-display__img
								.h4.product-card__title
									a(href="https://blog.completo.ru/uvelichenie-prodazh-s-pomoshhyu-mobilnogo-prilozheniya-2/" target="_blank").text-dark Мобильное
										br
										| приложение для выездных специалистов
								p помогает увеличить конверсию в офлайн-продажи
							a(href="https://blog.completo.ru/uvelichenie-prodazh-s-pomoshhyu-mobilnogo-prilozheniya-2/" target="_blank").btn.btn-white.product-card-btn.text-dark Подключить