.b2b-new__pattern.py-4.position-relative
	.b2b-new__pattern__absolute-text.animation(data-animate="bounceInDown") 
		span #маркетинг
	.container.py-5.position-relative
		h2.h2__b2b.mb-4.text-uppercase.pb-lg-2.position-relative.z-index-2.b2b-new-max-width-text
			span Мы написали бестселлер
		p.h4.mb-sm-5.mb-4.position-relative.z-index-2.d-none.d-sm-block Настольная книга  Digital-маркетолога
		p.h5.mb-sm-5.mb-4.position-relative.z-index-2.d-block.d-sm-none 
			span Настольная книга 
			br
			span Digital-маркетолога
		.row 
			.col-md-6.col-lg-5.mb-4.position-relative
				img(src="picture/upload/image_406_2.png", alt="").b2b-new__pattern-absolute-img
				img(src="picture/upload/image_406_1.png", alt="").w-100.b2b-new__pattern-absolute-img-2
			.col-md-6.col-lg-7.mb-4.position-relative
				.h5.mb-4.pb-lg-3
					span Учим делать 
					span.yellow-border.nowrap-text маркетинг в стиле COMPLETO
						span.border-container.animation.visible.animated(data-animate="newline")
					span – эффективно использовать digital-инструменты и объединять их в систему с помощью стратегии
				.d-block.d-sm-none
					.slick-slider-mob.b2b__slider-mob.mb-4.pt-4
						.d-block 
							img(src="picture/upload/logo-b2b-new-1.png", alt="").b2b-new__pattern__logo.mb-3
							p.mb-4.text-center
								span.font-weight-bold Bestseller 
								span по версии Ozon
						.d-block 
							img(src="picture/upload/logo-b2b-new-2.png", alt="").b2b-new__pattern__logo.mb-3
							p.mb-4.text-center
								span Рекомендована 
								span.font-weight-bold Нидерландским институтом маркетинга 
								span для курса digital-директор
						.d-block 
							img(src="picture/upload/logo-b2b-new-3.png", alt="").b2b-new__pattern__logo.mb-3
							p.mb-4.text-center
								span.font-weight-bold Одобрена 
								span Гильдией маркетологов
				.row.d-none.d-sm-flex
					.col-lg-4 
						img(src="picture/upload/logo-b2b-new-1.png", alt="").b2b-new__pattern__logo.mb-3
						p.mb-4.text-center
							span.font-weight-bold Bestseller 
							span по версии Ozon
					.col-lg-4 
						img(src="picture/upload/logo-b2b-new-2.png", alt="").b2b-new__pattern__logo.mb-3
						p.mb-4.text-center
							span Рекомендована 
							span.font-weight-bold Нидерландским институтом маркетинга 
							span для курса digital-директор
					.col-lg-4 
						img(src="picture/upload/logo-b2b-new-3.png", alt="").b2b-new__pattern__logo.mb-3
						p.mb-4.text-center
							span.font-weight-bold Одобрена 
							span Гильдией маркетологов
				.row 
					.col-lg-4
						a(href="#").btn.btn-warning.px-lg-5.b2b__header__btn-full.mb-5.text-warning
							span.text-dark Купить
					.col-lg-6
						a(href="#").btn.btn-dark.px-4.b2b__header__btn-full.mb-0.text-dark
							span.text-white Скачать бесплатную главу