.maed.mt-5#maed
	img(src="picture/upload/diamond.png", alt="").maed__paralax
	.container.maed__container
		.row
			.col-lg-8
				.sub-title.text-uppercase.text-white.mb-3 4. Обучение и сертификация
				img(src="picture/upload/maed.png", alt="").maed__main-img
				.mt-3.mb-2.maed__title.text-white Мы обучаем рынок
				.maed__title-secondary.mb-5.text-white Свой центр обучения маркетингу MaEd.ru
		.row
			.col-lg-4.col-md-5
				.h4.text-warning Более 300 кейсов
				p.text-white.mb-4 своей работы опубликовали в блоге
				.h4.text-warning 500 студентов
				p.text-white.mb-4 выпустили за 6 лет
				.h4.text-warning 10 000+ мастер-классов
				p.text-white.mb-4 по рабочим проектам провели
				a(href="https://maed.ru/").btn.btn-warning.pr-5.pl-5.maed__btn Перейти на MaEd.ru
			.col-lg-8.col-md-7
				.maed__diploma-card
					.row
						.col-lg-5.d-flex.flex-column.justify-content-between
							.maed__diploma-card-content
								.h4.text-white Представители NIMA
								p.text-white Единственные в России сертифицируем маркетологов по стандартам Нидерландского института маркетинга
							img(src="picture/upload/nima.png", alt="").maed__diploma-card-nima.d-block.mb-1
						.col-lg-7
							.row
								.col-6
									img(src="picture/upload/diploma01.jpg", alt="").maed__diploma-card-img.w-100
									p.text-white.mb-0.maed__diploma-card-text
										em Диплом Nima-A
								.col-6
									img(src="picture/upload/diplom1.jpg", alt="").maed__diploma-card-img.w-100
									p.text-white.mb-0.maed__diploma-card-text
										em Диплом Nima-B
.maed__under
	.container.maed__under-container
		.row
			.col-md-7.col-lg-5.maed__under-container-text
				.maed__under-container-text-items
					.sub-title.text-uppercase.mb-3.mt-5.maed__under-sub-title.d-inline-block Регулярный практикум
					.mb-2.h3.text-white Тактический план
						br
						| digital-маркетинга и продаж
					p.text-white.maed__text-custom Участников курируют менторы — специалисты Комплето, которые ведут клиентские проекты. Они помогут провести все исследования, чтобы составить тактический план интернет-маркетинга и продаж для вашей компании.
					ul.text-white.pl-3.maed__under-list
						li
							p.text-white Работаем в командах
						li
							p.text-white Курирует ментор
						li
							p.text-white Разрабатываем стратегию
				a(href="https://stratosessia.maed.ru/" target="_blank").btn.btn-warning.mb-4.d-none.d-md-inline-block Смотреть программу
			.col-md-5.col-lg-7.mt-5.d-flex.align-items-center
				iframe(width='100%' height='315' src='https://www.youtube.com/embed/gWtnaBbtqFQ' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
				//.d-none.d-lg-flex.align-items-end
					img(src="picture/upload/photo-1.png", alt="").maed__under-img.maed__under-img-1
					img(src="picture/upload/photo-2.png", alt="").maed__under-img.maed__under-img-2
				//.d-none.d-lg-flex.align-items-start
					img(src="picture/upload/photo-3.png", alt="").maed__under-img.maed__under-img-3
					img(src="picture/upload/photo-4.png", alt="").maed__under-img.maed__under-img-4
				//.maed__custom-scrollbar
					.d-flex.d-md-block.align-items-start.justify-content-start
						img(src="picture/upload/picture-1-mob.png", alt="").w-100.d-lg-none.maed__under-img
						img(src="picture/upload/picture-2-mob.png", alt="").w-100.d-lg-none.maed__under-img
			.col-md-12
				a(href="https://stratosessia.maed.ru/" target="_blank").btn.btn-warning.mb-4.d-inline-block.d-md-none.mt-4.mb-5.w-100 Смотреть программу


