section.coast
	.paralax-item.paralax-item-1
		img(src="picture/upload/dotted_box.png", alt="")
	.container
		.row
			.col-md-12
				h2 Стоимость создания сайта
		.row
			.col-lg-4.d-none.d-lg-block
				.special-table
					p.bg-lightblue.true-radio-table Разработка стратегии
					p.true-radio-table Анализ ЦА
					p.bg-lightblue.true-radio-table Проектирование пути клиента
					p.true-radio-table Аудит текущего сайта
					p.bg-lightblue.true-radio-table Разработка позиционирования и УТП
					p.true-radio-table Структура сайта
					p.bg-lightblue.true-radio-table Текстовый прототип
					p.special-line.true-radio-table Дизайн
					p.bg-lightblue.true-radio-table Верстка и программирование
			.col-lg-4.col-6.custom-radio.custom-radio__special
				input#text-09(type="radio" name="package" value="full" checked)
				label(for="text-09").w-100
					span.true-radio
						span.true-radio-flex.mb-3
							span.true-radio__check
							img(src="picture/upload/horse.svg", alt="").true-radio__img.mr-2
							span.radio-text Пакет 
								strong Полный
						span.true-radio-table.bg-lightblue.font-weight-bold
							span.d-block.d-lg-none.mb-2.mt-2 Разработка стратегии
							span +
						span.true-radio-table.font-weight-bold
							span.d-block.d-lg-none.mb-2.mt-2 Анализ ЦА
							span +
						span.true-radio-table.bg-lightblue.font-weight-bold
							span.d-block.d-lg-none.mb-2.mt-2 Проектирование пути клиента
							span +
						span.true-radio-table.font-weight-bold
							span.d-block.d-lg-none.mb-2.mt-2 Аудит текущего сайта
							span полный
						span.true-radio-table.bg-lightblue.font-weight-bold
							span.d-block.d-lg-none.mb-2.mt-2 Разработка позиционирования и УТП
							span +
						span.true-radio-table.font-weight-bold
							span.d-block.d-lg-none.mb-2.mt-2 Структура сайта
							span на основе SEO-стратегии
						span.true-radio-table.bg-lightblue.font-weight-bold
							span.d-block.d-lg-none.mb-2.mt-2 Текстовый прототип
							span +
						span.true-radio-table.font-weight-bold
							span.d-block.d-lg-none.mb-2.mt-2 Дизайн
							span графический прототип + уникальный дизайн
						span.true-radio-table.bg-lightblue.font-weight-bold
							span.d-block.d-lg-none.mb-2.mt-2 Верстка и программирование
							span команда разработчиков
						span.true-radio-table__price
							span.true-radio-table__price-item
								span.small.mb-0 Посадочная от
								span.mb-0.h4 400 000 руб.
							span.true-radio-table__price-item
								span.small.mb-0 Сайт от 
								span.mb-0.h4 1 300 000 руб.
						a.btn.btn-warning.data-scroll.w-100.mb-4(data-scroll="form-content" href="#") Заказать
			.col-lg-4.col-6.custom-radio.custom-radio__special
					input#text-10(type="radio" name="package" value="lite")
					label(for="text-10").w-100
						span.true-radio
							span.true-radio-flex.mb-3
								span.true-radio__check
								img(src="picture/upload/light.svg", alt="").true-radio__img.mr-2
								span.radio-text Пакет 
									strong Лайт
							span.true-radio-table.bg-lightblue.font-weight-bold
								span.d-block.d-lg-none.mb-2.mt-2.text-lightblue Разработка стратегии
								span -
							span.true-radio-table.font-weight-bold
								span.d-block.d-lg-none.mb-2.mt-2.text-white Анализ ЦА
								span -
							span.true-radio-table.bg-lightblue.font-weight-bold
								span.d-block.d-lg-none.mb-2.mt-2.text-lightblue Проектирование пути клиента
								span -
							span.true-radio-table.font-weight-bold
								span.d-block.d-lg-none.mb-2.mt-2.text-white Аудит текущего сайта
								span экспресс
							span.true-radio-table.bg-lightblue.font-weight-bold
								span.d-block.d-lg-none.mb-2.mt-2.text-lightblue Разработка позиционирования и УТП
								span -
							span.true-radio-table.font-weight-bold
								span.d-block.d-lg-none.mb-2.mt-2.text-white Структура сайта
								span на основе пожеланий клиента
							span.true-radio-table.bg-lightblue.font-weight-bold
								span.d-block.d-lg-none.mb-2.mt-2.text-lightblue Текстовый прототип
								span +
							span.true-radio-table.font-weight-bold
								span.d-block.d-lg-none.mb-2.mt-2.text-white Дизайн
								span скетч + дизайн на основе типовых решений
							span.true-radio-table.bg-lightblue.font-weight-bold
								span.d-block.d-lg-none.mb-2.mt-2.text-lightblue Верстка и программирование
								span на базе фреймворка
							span.true-radio-table__price
								span.true-radio-table__price-item
									span.small.mb-0 Посадочная от
									span.mb-0.h4 300 000 руб.
								span.true-radio-table__price-item
									span.small.mb-0 Сайт от 
									span.mb-0.h4 700 000 руб.
							a.btn.btn-warning.data-scroll.w-100.mb-4(data-scroll="form-content" href="#") Заказать