.internet-system-dealers {
	padding: 101px 0 150px;
	background-image: url('../picture/backgrounds/dealers-bg-grey.svg');
	background-size: contain;
	background-repeat: no-repeat;
	&-new {
		background-position: left -100px;
		@include media-breakpoint-down(md) {
			background-image: none;
		}
	}
	@include media-breakpoint-down(sm) {
		padding: 60px 0;
	}
	&__absolute-img {
		position: absolute;
		bottom: -130px;
		left: 20%;
		width: 280px;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	&__img {
		width: 27px;
		&-block {
			min-width: 49px;
			width: 49px;
			height: 49px;
		}
	}
	&__text {
		font-size: 48px;
		font-weight: bold;
		line-height: 0.7;
	}
}