.remove
	.remove-paralax.animation(data-animate="fadeInLeft") Digital-marketing
	.container
		.row
			.col-md-9
				.remove__sub-title.sub-title.text-uppercase.d-inline что ещё?
		.row.mb-4.mt-4
			.col-md-8.col-lg-8
				.h4.mb-2.remove-main-title Эффективно работаем удаленно
				p.remove-secondary-title.mb-5 Комплето может стать вашим удаленным отделом digital-маркетинга. Мы используем в работе облачные системы управления проектами. Так специалисты всегда остаются под контролем
				button.btn.btn-warning.remove__btn(data-scroll="new-form-main").data-scroll Заказать консультацию
			.col-md-4.col-lg-4.d-none.d-md-flex.align-items-start.justify-content-center
				.remove-mouse-paralax
					img(src="picture/upload/location.svg", alt="").remove-mouse-paralax__img
					.remove-mouse-paralax__block.rounded-circle