section.payback
	.container
		.row
			.col-md-12
				.payback__card
					h3.mb-4 Как мы прогнозируем результаты digital-стратегии?
					.row
						.col-md-6
							.row
								.col-lg-6.mb-3
									h4.h3.text-warning Заносим
									p.mb-2 данные из CRM: конверсия в лид, конверсия в продажу, маржа, прибыль, средний чек
								.col-lg-6.mb-3
									h4.h3.text-warning Считаем
									p.mb-2 бизнес-метрики текущего интернет-маркетинга: трафик, запросы, CPC
								.col-lg-6.mb-3
									h4.h3.text-warning Выявляем
									p.mb-2 «узкие» места, которые планируем улучшить после ввода новой стратегии:
									ul.list-disk.pl-3.small
										li.mb-1 конверсия из трафика в заявку
										li.mb-1 из заявки в потенциального клиента
										li.mb-1 из потенциального клиента в заказ
										li.mb-1 из заказа в продажу
								.col-lg-6.mb-3
									h4.h3.text-warning Планируем
									p.mb-2 график работы над новой стратегией и расходы-доходы с рекламы
								.col-lg-12.mb-3
									button.btn.btn-warning.data-scroll.mt-4.mb-4(data-scroll="form-content") Заказать digital-стратегию
						.col-md-6
							img(src="picture/upload/graph_14.gif", alt="").w-100.payback__img.mb-4
							a(href="https://docs.google.com/spreadsheets/d/1R63I30a-tKS-s0BBkeTtENYL1U-0F1_90nKsclFbHyA/edit#gid=1115439027" target="_blank").text-underline Скачать калькулятор (шаблон эконометрической модели)
section.how-to-make-site.pb-0
	.container.mt-4
		.row
			.col-md-6.d-none.d-lg-block
				img(src="picture/upload/block16_img+.jpg", alt="").w-100
			.col-lg-6
				h2.mb-4.form-h2 Хотите разработать digital-стратегию своими силами?
				.row
					.col-md-8.col-lg-7
						p.mb-4 Приходите на наш двухдневный практикум для маркетологов и владельцев бизнеса «Тактический план DIGITAL-маркетинга и продаж». Это единственный в России интенсив по разработке digital-маркетинга для руководителей и маркетологов. На нем вы вместе с нашими специалистами разработаете digital-стратегию для своей компании.
						a(href="https://stratosessia.maed.ru" target="_blank").btn.btn-warning.mb-4
							span Зарегистрироваться на практикум
					.col-md-4.col-lg-5
						img(src="picture/upload/nima-logo.png", alt="").w-100.mb-3.nima-logo
						p.nima-text Мы разработали эту программу совместно с Нидерландским Институтом Маркетинга