section.no-typical
	.paralax-item.paralax-item-3
		img(src="picture/upload/dotted_circle.png", alt="")
	.container
		.row.align-items-center
			.col-md-8.col-lg-8.col-xl-7
				h2.h2.form-h2.text-white.mb-0 Не создаем типовые сайты.
					br
					span.yellow-border Вообще
						span.border-container.animation.visible.animated(data-animate="newline")
			.col-md-4.col-lg-4.col-xl-5.d-none.d-md-block
				.d-flex.justify-content-end
					button.btn.btn-warning.data-scroll.mt-4.mb-4(data-scroll="form-content") Хочу нетиповой сайт
		.row.mt-4
			.col-lg-5.col-xl-6.d-flex.flex-column.justify-content-between
				.no-typical__text-content
					p.font-weight-bold.mt-4.text-white Если вам нужна стандартная посадочная, используйте конструктор сайтов. Мы делаем проект конкретно под ваш бизнес.
					p.text-white Тратим десятки часов на маркетинговую проработку, исследуем рынки, целевую аудиторию, УТП, бизнес-процессы. И вам придется помогать нашей команде — ведь лучше всего ваш продукт и бизнес знаете только вы.
				.no-typical__container
					.no-typical__container-item.text-white
						p.mb-0.no-typical__container-text
							strong Типовой сайт,
							br
							span разработанный в другом агентстве или на конструкторе
						.no-typical__text-content
							p.text-warning.mb-0.font-weight-bold В работе
							.no-typical__container-num.font-weight-bold 30 ч
					img(src="picture/upload/autumn_legend.png", alt="").w-100
			.col-lg-7.col-xl-6
				.no-typical__container
					.no-typical__container-item.text-white
						p.mb-0.no-typical__container-text
							strong Нетиповой сайт,
							br
							span разработанный конкретно под ваш бизнес нашими специалистами
						.no-typical__text-content
							p.text-warning.mb-0.font-weight-bold В работе
							.no-typical__container-num.font-weight-bold 500 ч
					img(src="picture/upload/no_template.jpg", alt="").w-100