.position-relative.pt-5
	.container.my-md-4
		.row
			.mb-4.col-xl-6.col-lg-5.col-md-4
				h2.h2.mb-4.mb-md-5.position-relative.z-index-2.form-h2
					span Где мы преподаем 
					span.yellow-border маркетинг?
						span.border-container.animation.visible.animated(data-animate="newline")
				.px-lg-5
					img(src="picture/upload/videocourse-Group_356.png", alt="").w-100.mb-4
			.mb-4.col-xl-6.col-lg-7.col-md-8
				.d-flex.justify-content-center
					.h2.mb-4.mb-md-5.position-relative.z-index-2.form-h2
						span.yellow-border А также..
							span.border-container.animation.visible.animated(data-animate="newline")
				.row
					.col-sm-6.mb-4
						.videocourse__marketing-card
							img(src="picture/upload/videocoruse-Ellipse_8.png", alt="").videocourse__marketing-card-img
							.h4.mb-4.text-center Смотрите видео наших спикеров
							.d-flex.justify-content-center
								a.btn.btn-warning.mb-3.videocourse__marketing-card-btn(href='https://www.youtube.com/user/Completoru' target="_blank") Смотреть
					.col-sm-6.mb-4
						.videocourse__marketing-card
							img(src="picture/upload/videocourse-Ellipse_8.png", alt="").videocourse__marketing-card-img
							.h4.mb-4.text-center Читайте материалы в нашем блоге
							.d-flex.justify-content-center
								a.btn.btn-warning.mb-3.videocourse__marketing-card-btn(href='https://blog.completo.ru/' target="_blank") Читать