section.price__wrapper
	.container
		.row
			.col-md-12
				h2 Сайты, которые мы разработали
	.big-slick
		+scheme-item('Для производителя входных дверей с 100+ дистрибьюторами по всей России', 'torex.jpg', '100', 'дистрибьюторов по всей России')
		+scheme-item('Для производителя отделочных материалов с 500+ дистрибьюторами и субдилерами по всей России', 'alta.jpg', '500+', 'дистрибьюторов и субдилеров по всей России')
		+scheme-item('Для производителя бытовой и профессиональной химии', 'himzavod.jpg', '&#160;', '&#160;')
		+scheme-item('Для многонационального производителя строительных материалов', 'lafargeholcimrus.jpg', '&#160;', '&#160;')
		+scheme-item('Для производителя гидро-пароизоляционных пленок', 'megaflex.jpg', '&#160;', '&#160;')