.position-relative.pt-5.border-top.border-warning
	img(src="picture/upload/dealers-hand.png", alt="").dealers-fast__absolute-img.bank-research__img-absolute.d-none.d-xl-block
	.container.mb-md-4
		.row
			.col-md-12
				h1.h2.mb-5.form-h2
					span.yellow-border Мы исследовали
						span.border-container.animation.visible.animated(data-animate='newline')
					span 
					span 120 банков, в том числе
			.col-xl-10 
				.row
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/Sberbank_Logo_2020.svg", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/MKB.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/VTB_Logo_2018.svg", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/PSB.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/logo-04_11.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/logo-15_131.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/logo-11_121.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/Frame_1r510.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/logo-03__1.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/logo-14_331.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/logo-10_21r31.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/logo-06_11.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/logo-02_311.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/logo-13_2r23.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/logo-09_311.png", alt="").w-100.bank-research__img
					.col-lg-3.col-sm-4.col-6.mb-4 
						img(src="picture/upload/Frame_12511.png", alt="").w-100.bank-research__img
			.col-xl-12.d-flex.justify-content-center.pt-4.mt-md-3
				a(href="#" download).btn.btn-warning.data-scroll.mt-4.mb-4.d-inline-block.px-md-5.w-100.bank-research__btn Скачать PDF