.case-cost
	.case-cost__container
		.case-cost__content
			include includes/price/_price-from-to
			include includes/price/_price-from
			include includes/time/_time
			include includes/comments/_comments