meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="format-detection" content="telephone=no")
title #{title}
meta(name="description" content="Digital-трансформация, автоматизация интернет-маркетинга 🚀, системный электронный маркетинг: готовые решения для b2b-компаний и производителей с дилерскими сетями ➡")
meta(property='og:image' content='https://www.completo.ru/images/main.jpg')
link(rel="shortcut icon" href="favicon.png" type="image/png")
link(rel="stylesheet", href="css/libs.min.css")
link(rel="stylesheet", href="css/style.min.css")
//- //  Google Tag Manager
//- script.
//- 	(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
//- 	{'gtm.start': new Date().getTime(),event:'gtm.js'}
//- 	);var f=d.getElementsByTagName(s)[0],
//- 	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
//- 	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
//- 	})(window,document,'script','dataLayer','GTM-NZKF');
//- //  End Google Tag Manager