.container
	.row
		.col-lg-3.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/kak-podnyat-prodazhi-kompanii-s-setyu-dilerov-s-pomoschyu-telefonii/', 'crm-blog-bg-1.png', 'Как поднять продажи компании с сетью дилеров с помощью телефонии')
		.col-lg-3.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/kak-povysit-prodazhi-v-dilerskih-setjah/', 'crm-blog-bg-2.png', 'Как повысить продажи в дилерских сетях.')
		.col-lg-3.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/prodazhi-v-krizis/', 'crm-blog-bg-3.png', 'Как повысить эффективность удаленного отдела продаж в условиях кризиса')
		.col-lg-3.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/socsale-crm-sistema-prodazh-cherez-sotsialnye-seti/', 'crm-blog-bg-4.png', 'Socsale. CRM-система продаж в социальных сетях')
		.col-lg-3.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/kak-veb-analitika-vliyaet-na-povyishenie-prodazh-4-keysa-ot-kompleto/', 'crm-blog-bg-5.png', 'Как веб-аналитика влияет на продажи')
		.col-lg-3.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/kak-avtomatizirovat-prodazhi/', 'crm-blog-bg-6.png', '9 цифровых “помощников” отдела продаж')
		.col-lg-3.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/kommercheskoje-predlozhenije-oshibki/', 'crm-blog-bg-7.png', 'Клиент “слился” после коммерческого предложения: 6 причин, и как этого избежать')
		.col-lg-3.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/pochemu-fishechki-ne-prinosyat-prodazhi/', 'crm-blog-bg-8.png', 'Как повысить эффективность удаленного отдела продаж в условиях кризиса')