.mission
	.container 
		.mission__video
		.mission__slider-wrapper
			.mission__slider.owl-carousel.owl-theme
				.mission__slider-item
					.mission__slider-title наша миссия
					.mission__slider-description Предоставлять лучшие цифровые решения в области маркетинга, продаж и клиентского сервиса для роста прибыли B2B-компаний
				.mission__slider-item 
					.mission__slider-title Что мы делаем?
					.mission__slider-description B2B Sales Performance – достижение измеримых финансовых результатов для B2B-компаний и производителей с помощью digital-технологий
				.mission__slider-item
					.mission__slider-title Кто наши клиенты?
					.mission__slider-description B2B-компании и производители с сетями дилеров. Мы с 2011 года сфокусированы на суровом B2B – проанализировали клиентский 
			.mission__play
				img(src="/picture/upload/play_mission.png" alt="")
			.owl-dots.mission__slider-dots
				.mission__slider-dot.owl-dot Миссия
					span 
				.mission__slider-dot.owl-dot Сфера
					span
				.mission__slider-dot.owl-dot Клиенты
					span
			

