.digital-transformation#digital-transformation
	.container.digital-transformation__container
		.absolute-circle.digital-transformation__circle
			span.digital-transformation__circle-child-1
			span.digital-transformation__circle-child-2
			span.digital-transformation__circle-child-3
			span.digital-transformation__circle-child-4
			span.digital-transformation__circle-child-5
			span.digital-transformation__circle-child-6
			span.digital-transformation__circle-child-7
		.row
			.col-lg-8
				.sub-title.text-uppercase 1. The main service
				h1.h2.mb-4.what-we-do-main-title.d-flex.flex-wrap
					span.yellow-border Digital-
						span.border-container.animation(data-animate="newline")
					span.yellow-border transformation
						span.border-container.animation.delay-1s(data-animate="newline")
					.w-100 for manufacturers with the dealer net
				p.digital-transformation__title-text Best expertise in Russia for
					a(href="https://www.completo.ru/b2b/" target="_blank")
						u B2B, industrial companies and manufacturers with a net of partners and trade representatives.
	.owl-right.mt-4.mb-3.owl-carousel.owl-theme
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			.digital-transformation__card-num.h2.text-warning 3000+
			p.h4 of sales outlets
			p have automated marketing and sales
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			.digital-transformation__card-num.h2.text-warning 284 mln &#8381;
			p.h4 profit to our client per year
			p from our website
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			.digital-transformation__card-num.h2.text-warning 5 bln ₽
			p.h4 dealers order
			p via our web accounts
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			.digital-transformation__card-num.h2.text-warning 10 bln &#8381;
			p.h4 per year pass through
			p our CRM for dealers
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			.digital-transformation__card-num.h2.text-warning 13
			p.h4 plants in CIS
			p with retail nets in our client-portfolio
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			i.icon.icon-medal.text-warning.digital-transformation__icon-font
			p.h4 2 our clients
			p  became leaders in their industry
		.digital-transformation__card.digital-transformation__card-yellow.pl-3.pr-3.pt-4.pb-4.d-flex.align-items-center.justify-content-center.flex-column
			i.icon.icon-crown.digital-transformation__card-yellow__icon
			p.digital-transformation__card-yellow__text.text-center.w-100 Exclusive experience in Russia!
	.owl-left.mb-5.owl-carousel.owl-theme
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			.digital-transformation__card-num.h2.text-warning 3000+
			p.h4 of sales outlets
			p have automated marketing and sales
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			.digital-transformation__card-num.h2.text-warning 284 mln &#8381;
			p.h4 profit per year
			p to our client from our website
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			.digital-transformation__card-num.h2.text-warning 5 bln &#8381;
			p.h4 dealers order
			p via our web accounts
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			.digital-transformation__card-num.h2.text-warning 10 bln &#8381;
			p.h4 per year pass through
			p our CRM for dealers
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			.digital-transformation__card-num.h2.text-warning 13
			p.h4 plants in CIS
			p with retail nets in our client-portfolio
		.digital-transformation__card.pl-3.pr-3.pt-4.pb-4
			i.icon.icon-medal.text-warning.digital-transformation__icon-font
			p.h4 2 our clients
			p  became leaders in their industry
		.digital-transformation__card.digital-transformation__card-yellow.pl-3.pr-3.pt-4.pb-4.d-flex.align-items-center.justify-content-center.flex-column
			i.icon.icon-crown.digital-transformation__card-yellow__icon
			p.digital-transformation__card-yellow__text.text-center.w-100 Exclusive experience in Russia!
