@font-face {
	font-family: 'Roboto';
	font-display: fallback;
	src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
        font-display: fallback; 
}