.d-md-none
	.container
		.row
			.col-md-12
				h2.h2.mb-4.form-h2.form-h2-new Быстрая оккупаемость внедрения системы для 
					span.yellow-border производителей
						span.border-container.animation.visible.animated(data-animate="newline")
.position-relative.dealers-fast.py-5
	img(src="picture/upload/dealers-hand.png", alt="").dealers-fast__absolute-img
	.container.my-md-4
		.row.d-none.d-md-flex
			.col-md-12.col-lg-10.col-xl-8
				h2.h2.mb-5.form-h2.form-h2-new Быстрая оккупаемость внедрения 
					span.yellow-border системы для производителей
						span.border-container.animation.visible.animated(data-animate="newline")
		.row
			.col-md-6.col-lg-4.mb-4
				.dealers-fast__card
					.dealers-fast__card-head
						.dealers-fast__card-head-num 11 мес.
					p.mb-0.text-center срок полной окупаемости
			.col-md-6.col-lg-4.mb-4
				.dealers-fast__card.dealers-fast__card-no-border
					.dealers-fast__card-head
						.dealers-fast__card-head-num.dealers-fast__card-head-num-min от 200 тыс.
					p.mb-0.text-center в месяц за внедрение системы, включая CRM, телефонию, сайт и веб-аналитику
			.col-md-6.col-lg-4.mb-4
				.dealers-fast__card
					.dealers-fast__card-head
						.dealers-fast__card-head-num 20 %
					p.mb-0.text-center фактический рост продаж по всей сети
			.col-md-6.col-lg-4.mb-4.d-lg-none.d-none.d-md-block
				.dealers-fast__card.dealers-fast__card-no-border.h-100
					.d-flex.align-items-center.justify-content-center.h-100
						button.btn.btn-warning.data-scroll.my-4.d-block(data-scroll='form-content') Запросить предложение
		.row.d-none.d-lg-flex
			.col-md-12.d-flex.justify-content-center
				button.btn.btn-warning.data-scroll.my-4.d-block(data-scroll='form-content') Запросить предложение
.d-md-none
	.container.my-4
		.row
			.col-md-12.d-flex.justify-content-center
				button.btn.btn-warning.data-scroll.my-4.d-block(data-scroll='form-content') Запросить предложение