.saas#saas
	.container.saas__container
		.absolute-circle.saas__circle.d-none.d-md-block
			span.saas__circle-child-1
			span.saas__circle-child-2
			span.saas__circle-child-3
			span.saas__circle-child-4
			span.saas__circle-child-5
			span.saas__circle-child-6
			span.saas__circle-child-7
		.row
			.col-lg-8
				.saas__sub-title.sub-title.text-uppercase 3. We create tools
				h2.h2.mb-4.what-we-do-main-title.d-flex.flex-wrap
					.w-100 We have developed our own
					span.yellow-border SAAS-services
						span.border-container.animation(data-animate="newline")
		.row
			.col-md-12
				.custom-scrollbar
					.d-flex.saas-container
						.saas__card.animation.big_shadow_before.visible(data-animate="big_shadow")
							a(href="https://www.salespilot.ru/" target="_blank").d-block
								.saas__card-circle
									img(src="picture/upload/sale-pilot.png", alt="").saas__card-circle-img.saas__card-circle-img-1
								.saas__card-text-container
									.saas__card-title SalesPilot
									.saas__card-text a service of electronic commercial proposals
						.saas__card.animation.big_shadow_before.visible(data-animate="big_shadow")
							a(href="https://phonetrack.ru/" target="_blank").d-block
								.saas__card-circle
									img(src="picture/upload/phone-track.png", alt="").saas__card-circle-img.saas__card-circle-img-2
								.saas__card-text-container
									.saas__card-title PhoneTrack 
									.saas__card-text call analytics without substitution
						.saas__card.animation.big_shadow_before.visible(data-animate="big_shadow")
							a(href="https://socsale.ru/" target="_blank").d-block
								.saas__card-circle
									img(src="picture/upload/Socsale_logo.png", alt="").saas__card-circle-img.saas__card-circle-img-3
								.saas__card-text-container
									.saas__card-title Socsale 
									.saas__card-text sales system through comments on social media
						.saas__card.animation.big_shadow_before.visible(data-animate="big_shadow")
							a(href="http://setuper.ru/" target="_blank").d-block
								.saas__card-circle
									img(src="picture/upload/setuper.png", alt="").saas__card-circle-img.saas__card-circle-img-4
								.saas__card-text-container
									.saas__card-title Setuper
									.saas__card-text a tool for ads configuration in social networks and analytics
						.saas__card.animation.big_shadow_before.visible(data-animate="big_shadow")
							a(href="https://contrack.ru/" target="_blank").d-block
								.saas__card-circle
									i.icon.icon-setting.saas__card-circle-img.saas__card-circle-img-5
								.saas__card-text-container
									.saas__card-title Contrack
									.saas__card-text a content marketing analytics service
						.saas__card.animation.big_shadow_before.visible(data-animate="big_shadow")
							a(href="https://kursbox.ru/" target="_blank").d-block
								.saas__card-circle
									img(src="picture/upload/kursbox.png", alt="").saas__card-circle-img.saas__card-circle-img-3
								.saas__card-text-container
									.saas__card-title Kursbox
									.saas__card-text Aggregator of all online courses in Russia



