.col-md-12
	form.form.validate.p-4(id="new-form" method="post" novalidate="novalidate" data-form="127" data-formtype="180")
		.row
			.col-lg-4.mb-4
				.form-group
					label(for="text-01") Как вас зовут
					input#text-01(type="text" placeholder="Введите ваше имя" required name="name")
			.col-lg-4.mb-4
				.form-group
					label(for="text-02") Контактный телефон
					input#text-02(type="text" placeholder="Телефон" required name="phone").phone
			.col-lg-4.mb-4
				.form-group
					label(for="text-03") Электронная почта
					input#text-03(type="email" placeholder="Введите ваш E-mail" name="email" required)
			.col-lg-8.mb-4
				.form-group
					label(for="text-04") Введите название или сайт компании
					input#text-04(type="text" placeholder="Введите название или сайт компании" name="name-company" required)
			.col-lg-4.mb-4
				.form-group
					label(for="text-05") Бюджет на маркетинг (в месяц)
					input#text-05(type="text" placeholder="Введите ваш бюджет в рублях" name="money" required)
			.col-lg-12.mb-4
				.form-group
					label(for="text-06") Подробнее о задачах
					textarea#text-06( placeholder="Опишите ваши задачи и вопросы, кто принимает решение..." name="message" required)
		.row
			.col-md-8.mb-md-4.order-md-1.order-2
				.form__alarm.form__alarm-razrabotka
					i.icon.icon-warning
					p.mb-2 Мы оставляем за собой право не ответить на заявку, если она недостаточно подробно заполнена
			.col-md-4.mb-4.order-md-2.order-1
				label.file-input 
					input(type="file").file-input-file
					span.file-input-item
						img(src="picture/upload/Line_326.svg", alt="").file-input-item-img
						span.ml-3.file-input-item-text Прикрепить файл
		.row
			.col-lg-12
				.row
					.col-md-6.col-lg-4.col-xl-3
						button.btn.btn-warning.form_btn.w-100 Поехали
					.col-md-6.col-lg-8.d-flex.align-items-center
						p.mb-4 Нажимая кнопку, 
							a(href="https://completo.ru/privacy_policy.rtf")
								u вы соглашаетесь с правилами обработки персональных данных
.modal.fade(tabindex="-1" role="dialog")#myModal
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				.modal-title
					h2.text-center.mb-4 Спасибо!
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span.modal__close-btn(aria-hidden="true")
			.modal-body.text-center
				p.mb-4.text-center Мы свяжемся с вами в течение рабочего дня.
					br 
					| Если у вас срочная задача, позвоните нам: +7(495) 640-89-97
				img(src="picture/upload/Completo_logoNEW.jpg", alt="").mb-4.modal__completo-logo
				p.text-center Если вам нужно эффективное продвижение существующего сайта,
					br
					| посмотрите наши 
					a(href="https://www.completo.ru/seo/")
						u услуги SEO 
					| и 
					a(href="https://www.completo.ru/salesfarm/")
						u подогрева клиентов 
					| .
