section.main-section-block
	.header-slider__img.header-slider__img-1.animation(data-animate="fadeInUp")
		svg(width='1280' height='599' viewBox='0 0 1280 599' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M-37.9559 332.697L159.544 236.063L383.525 236.063L516.17 158.936L864 88.2344L1013.54 97.6971L1151.99 -0.617873L1283.04 -14.3677L1274.5 651L-37.9534 662L-37.9559 332.697Z' fill='url(#paint1_linear)')
			path(d='M383.525 236.563L383.66 236.563L383.776 236.495L516.35 159.409L864.035 88.7376L1013.51 98.1961L1013.69 98.2073L1013.83 98.1048L1152.17 -0.13428L1282.54 -13.8117L1274 650.504L-37.4534 661.496L-37.4559 333.009L159.66 236.563L383.525 236.563Z' stroke='#FECC2F' stroke-opacity='0.2')
			circle(cx='1016' cy='97.2344' r='6' fill='#FECC2F' fill-opacity='0.5')
			circle(cx='526' cy='161.234' r='6' fill='#FECC2F')
			circle(cx='390' cy='236.234' r='6' fill='#FECC2F')
			circle(cx='860' cy='88.2346' r='13' fill='#FECC2F' fill-opacity='0.6')
			defs
				linearGradient#paint1_linear(x1='599.989' y1='109.736' x2='741.554' y2='414.553' gradientUnits='userSpaceOnUse')
					stop(offset='0' stop-color='#026277' stop-opacity='0.83')
					stop(offset='1' stop-color='#0C2A2C' stop-opacity='0.5')
	.header-slider__img.header-slider__img-2.animation(data-animate="fadeInUp")
		svg(width='1280' height='581' viewBox='0 0 1280 581' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M1.4975 311.734L228.237 373.723L369 300.734L552 338.734L814 300.734L1011 203.734L1158 161.734L1330.5 153.099L1330.5 606.234L-16.0011 593.734L1.4975 311.734Z' fill='url(#paint2_linear)')
			path(d='M1158.08 162.231L1330 153.625L1330 605.729L-15.4694 593.239L1.95848 312.378L228.105 374.206L228.294 374.257L228.467 374.167L369.072 301.26L551.898 339.224L551.985 339.242L552.072 339.229L814.072 301.229L814.15 301.218L814.221 301.183L1011.18 204.203L1158.08 162.231Z' stroke='#FECC2F' stroke-opacity='0.2')
			circle(cx='1011' cy='205.234' r='13' fill='#FECC2F' fill-opacity='0.6')
			circle(cx='1158' cy='163.234' r='6' fill='#FECC2F' fill-opacity='0.5')
			circle(cx='816' cy='300.234' r='6' fill='#FECC2F' fill-opacity='0.5')
			circle(cx='556' cy='339.234' r='6' fill='#FECC2F' fill-opacity='0.5')
			defs
				linearGradient#paint2_linear(x1='733' y1='194.234' x2='817.97' y2='414.516' gradientUnits='userSpaceOnUse')
					stop(offset='0' stop-color='#077D97' stop-opacity='0.83')
					stop(offset='1' stop-color='#0C2A2C' stop-opacity='0.5')
	.header-slider__img.header-slider__img-3.animation(data-animate="fadeInUp")
		svg(width='1280' height='425' viewBox='0 0 1280 425' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M-31.0023 365.234L242.176 385.315L487.567 303.34L582.5 303.34L794.5 225.734L985 263.234L1119.5 201.734L1290.5 195.734L1283.5 459.234L-30.9991 459.234L-31.0023 365.234Z' fill='url(#paint3_linear)')
			path(d='M-30.4991 458.734L-30.5022 365.772L242.139 385.814L242.239 385.821L242.334 385.789L487.649 303.84L582.5 303.84L582.589 303.84L582.672 303.81L794.541 226.252L984.903 263.725L985.061 263.756L985.208 263.689L1119.62 202.231L1289.99 196.253L1283.01 458.734L-30.4991 458.734Z' stroke='#FECC2F' stroke-opacity='0.2')
			circle(cx='792' cy='226.234' r='6' fill='#FECC2F' fill-opacity='0.5')
			circle(cx='1117' cy='203.234' r='6' fill='#FECC2F' fill-opacity='0.5')
			circle(cx='988' cy='263.234' r='13' fill='#FECC2F' fill-opacity='0.6')
			circle(cx='587' cy='302.234' r='6' fill='#FECC2F' fill-opacity='0.5')
			circle(cx='483' cy='305.234' r='6' fill='#FECC2F' fill-opacity='0.5')
			defs
				linearGradient#paint3_linear(x1='789.5' y1='205.234' x2='809.492' y2='327.399' gradientUnits='userSpaceOnUse')
					stop(offset='0' stop-color='#077D97' stop-opacity='0.83')
					stop(offset='1' stop-color='#0C2A2C' stop-opacity='0.5')
	.header-slider.pb-0.mb-0
		.header-slider-item
			.container.h-100
				.row.h-100.z-index-1.align-items-center
					.col-md-12.d-flex.flex-column.justify-content-between.align-items-start.h-100.pt-4.pb-4
						.header-slider__absolute.header-slider__absolute-1
							.header-slider__absolute-num 1 219 933
							p.text-white пользователя привлекает
								br
								| из органики
						.header-slider__absolute.header-slider__absolute-2
							.header-slider__absolute-num 33 миллиона
							p.text-white рублей в год 
								br
								| приносит клиентам
						.header-slider__absolute.header-slider__absolute-3
							.header-slider__absolute-num на 26%
							p.text-white выросли онлайн
								br
								| продажи
						.header-slider-item__text-main.w-100
							h1.h1.main-title Система дилерских 
								br
								| сайтов для управления
								br
								| продажами партнеров
						.header-slider-item__text.w-100
							.row.align-items-end
								.col-xl-3.col-lg-4.col-md-5
									.d-flex.mb-3.mt-4
										i.icon.icon-outsourcing.h3.text-warning.font-weight-normal.mb-0.mr-2
										p.text-white Производителям с сетью
											br
											| дилеров
									.d-flex.mb-3
										i.icon.icon-shop.h3.text-warning.font-weight-normal.mb-0.mr-2
										p.text-white Компаниям с
											br
											| фирменными магазинами
									.d-flex.mb-3
										i.icon.icon-hand.h3.text-warning.font-weight-normal.mb-0.mr-2
										p.text-white Компаниям с
											br
											| филиальными торговыми
											br
											| точками
								.col-xl-8.col-lg-7.col-md-6
									button.btn.btn-warning.data-scroll.mb-4.mt-4(data-scroll="form-content") Заказать демонстрацию системы
		.header-slider-item
			.container.h-100
				.row.h-100.z-index-1.align-items-center
					.col-md-12.d-flex.flex-column.justify-content-between.align-items-start.h-100.pt-4.pb-4
						.header-slider__absolute.header-slider__absolute-1
							.header-slider__absolute-num на 19 сайте
							p.text-white партнера система
								br
								| окупается
						.header-slider__absolute.header-slider__absolute-2
							.header-slider__absolute-num 5 миллиардов р.
							p.text-white дистрибьюторы
								br
								| проводят через систему
						.header-slider__absolute.header-slider__absolute-3
							.header-slider__absolute-num в 1000 раз
							p.text-white увеличилось число 
								br
								| оплаченых заказов
						.header-slider-item__text-main.w-100
							.h1.main-title Поднимите продажи в 
								br
								| регионах
						.header-slider-item__text.w-100
							.row.align-items-end
								.col-xl-3.col-lg-4.col-md-5
									.d-flex.mb-3.mt-4
										i.icon.icon-shop.h3.text-warning.font-weight-normal.mb-0.mr-2
										p.text-white Классные сайты для всех 
											br
											| дилеров
									.d-flex.mb-3
										i.icon.icon-cursor-2.h3.text-warning.font-weight-normal.mb-0.mr-2
										p.text-white модули SEO, контекстной 
											br
											| рекламы и веб-аналитики
									.d-flex.mb-3
										i.icon.icon-market-3.h3.text-warning.font-weight-normal.mb-0.mr-2
										p.text-white Личные кабинеты для 
											br
											| заказов с завода
								.col-xl-8.col-lg-7.col-md-6
									button.btn.btn-warning.data-scroll.mb-4.mt-4(data-scroll="form-content") Заказать демонстрацию системы
		.header-slider-item
			.container.h-100
				.row.h-100.z-index-1.align-items-center
					.col-md-12.d-flex.flex-column.justify-content-between.align-items-start.h-100.pt-4.pb-4
						.header-slider__absolute.header-slider__absolute-1
							.header-slider__absolute-num в 10 раз
							p.text-white уменьшились
								br
								| пропущенные звонки
						.header-slider__absolute.header-slider__absolute-2
							.header-slider__absolute-num на 27%
							p.text-white выросла эффективность
								br
								| дилеров
						.header-slider__absolute.header-slider__absolute-3
							.header-slider__absolute-num на 20%
							p.text-white сократились расходы
								br
								| на персонал
						.header-slider-item__text-main.w-100
							.h1.main-title Контролируйте 
								br
								| маркетинг по всей сети 
								br
								| партнёров
						.header-slider-item__text.w-100
							.row.align-items-end
								.col-xl-3.col-lg-4.col-md-5
									p.text-white Отчёты по дилерам покажут:
									.d-flex.mb-3.mt-4
										i.icon.icon-shop.h3.text-warning.font-weight-normal.mb-0.mr-2
										p.text-white Звонки и
											br
											| онлайн заказы
									.d-flex.mb-3
										i.icon.icon-cursor-2.h3.text-warning.font-weight-normal.mb-0.mr-2
										p.text-white Отказы и продажи
									.d-flex.mb-3
										i.icon.icon-market-3.h3.text-warning.font-weight-normal.mb-0.mr-2
										p.text-white Эффективность
											br
											| дилеров
								.col-xl-8.col-lg-7.col-md-6
									button.btn.btn-warning.data-scroll.mb-4.mt-4(data-scroll="form-content") Заказать демонстрацию системы