.py-5.overflow-hidden.position-relative.make-sites-section-main
	.paralax-item.paralax-item-2
		img(src="picture/upload/dotted-group.png", alt="")
	.container.my-md-4
		.row
			.col-md-12
				nav.breadcrumb
					ol.breadcrumb
						li.breadcrumb-item
							a(href="/").text-secondary Главная
						li.breadcrumb-item.active.text-dark(aria-current="page") Performance
			.col-md-12.col-lg-10.col-xl-8
				h2.h2.mb-4.form-h2 Сделаем Performance-маркетинг инструментом 
					span.yellow-border вашего бизнеса
						span.border-container.animation.visible.animated(data-animate="newline")
		.row
			.col-lg-6.mb-4
				p.font-weight-normal.h4.mb-5 Мы — маркетинговая группа, а не веб-студия. <br> Поэтому работаем следующим образом:
				.row
					.col-md-6.mb-4
						.h3.text-warning Подбираем
						p нестандартные конфигурации рекламных инструментов
					.col-md-6.mb-4
						.h3.text-warning Учитываем
						p все сложности и специфику направления вашего бизнеса
					.col-md-6.mb-4
						.h3.text-warning Контролируем
						p ключевые показатели от первого клика до финальной продажи
					.col-md-6.mb-4
						.h3.text-warning Считаем
						p возврат ваших инвестиций, прибыль компании от одного клиента
			.col-lg-6.mb-4
				+video-item('https://youtu.be/9VgoDQ7UXG4?t=169', 'razrabotka_sajta_fb.jpg')
				p.mt-3 Владимир Давыдов рассказывает, как увеличит конверсию сайта
		.row
			.col-md-12
				.make-sites__card.bg-warning.p-3.text-center
					.h3.mb-0 Настройка рекламы с Комплето - это гарантированный рост прибыли без «экспериментов» над вашим бизнесом