.col-md-12
	.row.justify-content-center
		.col-lg-4.col-md-6.mb-3
			.information__card
				p.h4.font-weight-normal Пришлем коммерческое предложение
		.col-lg-4.col-md-6.mb-3
			.information__card
				p.h4.font-weight-normal Проведем
					br
					| презентацию
				img(src="picture/upload/dotted_circle.png", alt="")
		.col-lg-4.col-md-8.mb-3
			.information__card
				p.h4.font-weight-normal Поможем защитить бюджеты
				.message-box
					.message-box__from.message-box__dialog Сколько будет за разработку?
					.message-box__to.message-box__dialog Итого выйдет 
						span.malevich 
						span рублей
	.row.pb-5
		.col-md-12.mt-4.d-flex.justify-content-center
			button.btn.btn-warning.data-scroll(data-scroll="form-content") #{information}