.case-main-card {
	display: block;
	position: relative;
	height: 353px;
	display: flex;
	align-items: flex-end;
	padding: 20px;
	text-decoration: none !important;
	border-radius: 4px;
	overflow: hidden;
	&-video {
		width: 70px;
		height: 70px;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 2;
		border-radius: 100%;
		transition: 0.2s ease all;
		&-block {
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				z-index: auto;
				position: absolute;
				left: 0;
				top: 0;
				background-color: rgba(0,0,0,0.3);
			}
		}
	}
	&-white {
		display: block;
		height: 100%;
		min-height: 353px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border: 14px solid $yellow;
		padding: 20px;
		background-color: white;
		border-radius: 4px;
		text-decoration: none !important;
		transition: 0.2s ease all;
		.h2 {
			@include media-breakpoint-down(xs) {
				font-size: 34px;
			}
		}
		&:hover {
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		}
		&__img {
			display: block;
			margin: 5px auto;
			width: 219px;
			height: 97px;
			-o-object-fit: contain;
			object-fit: contain;
		}
		&__icon {
			font-size: 16px;
		}
	}
	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-image: linear-gradient(180deg,rgba(0,0,0,.1) 9.58%,rgba(0,0,0,.83) 100%);
		transition: .2s ease all;
		z-index: 1;
		border-radius: 4px;
	}
	&:hover:before {
		opacity: 0.5;
	}
	&:hover {
		.case-main-card-video {
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
		}
	}
	&-content {
		position: relative;
		z-index: 2;
	}
	&__img-bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: auto;
		object-fit: cover;
	}
	&__logo {
		position: absolute;
		z-index: 1;
		width: 222px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    right: 0;
    top: 20px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
		&-img {
			max-width: 126px;
			height: 56px;
			object-fit: contain;
			object-position: center;
		}
	}
}
.case__card-new {
	width: 100% !important;
	max-width: 100%;
	transition: 0.2s ease all;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 353px;
	&:hover {
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
	}
}