section.pt-5.border-top.border-secondary.bg-lightyellow
	.container.mt-4
		.row
			.col-md-6.d-none.d-lg-block
				img(src="picture/upload/maed-site-2.jpg", alt="").w-100
			.col-lg-6
				h2.mb-4 Хотите создать эффективный сайт своими силами?
				.row
					.col-md-8.col-lg-7
						p.mb-4 Поможет онлайн-курс «Создание сайта, решающего бизнес-задачи компании». Это единственный в России онлайн-интенсив по разработке сайта для руководителей и маркетологов. На нем вы подробно изучите все этапы, которые мы перечислили выше.
						a(href="https://maed.ru/learning-programs/site-development/" target="_blank").btn.btn-warning.mb-4
							span Зарегистрироваться на курс
					.col-md-4.col-lg-5
						img(src="picture/upload/nima-logo.png", alt="").w-100.mb-3.blog-nima-logo
						p Мы разработали эту программу совместно с Нидерландским Институтом Маркетинга