.py-5.bg-lightyellow.border-secondary.border-bottom.overflow-hidden
	.container.my-md-4
		.row
			.col-lg-8.col-xl-7
				h2.mb-4.mb-md-5.form-h2
					span Какие задачи стоят перед 
					span.yellow-border ответственным за CRM
						span.border-container.animation.visible.animated(data-animate="newline")
		.row
			.col-lg-4.col-sm-6.mb-4
				img(src="picture/upload/icon_website.svg", alt="").crm__icon
				p.mb-4.h4.font-weight-normal
					span.font-weight-bold Обеспечить 
					span попадание в CRM всех заявок и обращений (автолиды)
				ul.pl-3
					li.mb-2 Звонок по телефону
					li.mb-2 Форма на сайте
					li.mb-2 Чат на сайте
					li.mb-2 E-mail
					li.mb-2 Мессенджеры с сайта
			.col-lg-4.col-sm-6.mb-4
				img(src="picture/upload/icon_structure.svg", alt="").crm__icon
				p.mb-4.h4.font-weight-normal
					span.font-weight-bold Автоматизировать, 
					span описать и сделать измеримыми бизнес-процессы продаж
				ul.pl-3
					li.mb-2 Разбить сделку на этапы, настроить автоматические действия между этапами
					li.mb-2 Настроить источники заявок для попадания в воронку
					li.mb-2 Продумать автоматические задачи ответственному за сделки на каждом этапе
			.col-lg-4.col-sm-6.mb-4
				img(src="picture/upload/icon_shedule.svg", alt="").crm__icon
				p.mb-4.h4.font-weight-normal
					span.font-weight-bold Убрать рутину,
					span демотивирующую и отнимающую время продавцов
				ul.pl-3
					li.mb-2 Одна система для работы менеджера
					li.mb-2 Генерация документов по шаблону
					li.mb-2 Отправка сообщений, уведомления клиентам
					li.mb-2 Напоминания о запланированных задачах
					li.mb-2 Ручное внесение в CRM данных из других систем
			.col-lg-4.col-sm-6.mb-4
				img(src="picture/upload/icon_market_new.svg", alt="").crm__icon
				p.mb-4.h4.font-weight-normal
					span.font-weight-bold Использовать базу 
					span клиентов для маркетинговых мероприятий
				ul.pl-3
					li.mb-2 Сегментация клиентов
					li.mb-2 Рассылки email, sms, мессенджеры
					li.mb-2 Напоминания менеджерам позвонить
					li.mb-2 Подключение подогревающей рекламы и промоутирования кейсов
					li.mb-2 Запуск триггерных цепочек сообщений
			.col-lg-4.col-sm-6.mb-4
				img(src="picture/upload/icon_resources.svg", alt="").crm__icon
				p.mb-4.h4.font-weight-normal
					span.font-weight-bold Синхронизировать 
					span руководство и отдел продаж с помощью отчетности отдела
				ul.pl-3
					li.mb-2 Прогноз продаж
					li.mb-2 Количество сделок с разбивкой по статусам
					li.mb-2 Эффективность менеджеров
					li.mb-2 Эффективность рекламных каналов
					li.mb-2 ABC/XYZ анализ
					li.mb-2 RFM анализ
			.col-lg-4.col-sm-6.mb-4
				.crm__icon.d-none.d-sm-block
				img(src="picture/upload/icon_thinking_man.svg" alt="")
				.d-sm-flex.justify-content-end.d-block
					p.font-weight-bold.crm-responce__text CRM для компаний с сетями дилеров сокращает расходы на персонал
				.d-sm-flex.justify-content-end.d-block
					.d-block
						.d-flex.align-items-end
							img(src="picture/upload/icon_bar.svg", alt="").mb-2
							span.font-weight-bold.mx-3.mb-2 на 
							span.h1.mb-0 20%*
						small
							small *По нашим собственным прикидкам
			.col-md-12
				+bloquote('Михаил Федоров,', 'совладелец, технический директор «Комплето»', 'misha.png', 'Сама по себе CRM-система - это просто база данных по клиентам, ничего больше. Правильные процессы вокруг CRM — вот то, что повышает продажи', true)