.cases-container-page__black
	.container
		.row
			.col-lg-8.col-xl-8
				.cases-container-page__black-title.mb-4
					h2.h2.text-white.mb-0.text-uppercase Разработка стратегии
					.d-flex.align-items-center
						p.text-white.font-weight-bold.mb-0.mr-3 Разрабатываем
							br
							| стратегии с 2013 года
						h2.h2.text-white.mb-0.text-uppercase интернет-маркетинга
				.row
					.col-md-6
						.bg-white.mb-4.p-3.d-none.d-sm-block
							.d-flex
								.mr-3
									.mb-0.h2.font-weight-normal.text-uppercase.line-height-1
										.d-flex.justify-content-between.w-100
											span а
											span в
											span т
											span о
									.mb-0.h2.font-weight-normal.text-uppercase.line-height-1
										.d-flex.justify-content-between.w-100
											span м
											span а
											span т
											span и
									.mb-0.h2.font-weight-normal.text-uppercase.line-height-1
										.d-flex.justify-content-between.w-100
											span з
											span а
											span ц
											span и
											span я
								.d-flex.flex-column.justify-content-between.text-uppercase.pt-2.pb-2.text-center.font-weight-bold.cases-container-page__black-words
									span б
									span и
									span з
									span н
									span е
									span с
									span а
						.bg-black.mb-4.pt-3.pb-3
							.container
								.row
									.col-sm-6
										p.font-weight-bold.text-warning.mb-4 «Все исследования   провожу я!»
										p.mb-1.text-warning  — М. Фёдоров
										p.pl-2.text-muted
											small совладелец маркетинговой группы «Комплето»
									.col-md-6
										img(src="picture/upload/person.png", alt="").cases-container-page__black-absolute-img
						.row
							.col-sm-6.mb-4
								.d-flex.align-items-start
									img(src="picture/upload/date.svg", alt="").mr-3.mt-1
									p.text-muted
										strong Срок сазработки 
										br
										span 1,5 месяца
							.col-sm-6.mb-4
								.d-flex.align-items-start
									img(src="picture/upload/price.svg", alt="").mr-3.mt-1
									p.text-muted
										strong Минимальная цена 
										br
										span 350 000 ₽
					.col-md-6
						.d-flex.align-items-end.mb-3
							img(src="picture/upload/team.svg", alt="").mr-3
							p.h4.mb-0.text-white Стратегию делают
						p.text-white.mb-4 проджект, сеошник, контекстолог, веб-аналитик, интернет-маркетолог, классический маркетолог
						.bg-warning.pt-3.pb-3.pr-4.pl-4.mb-4.position-relative
							h3.h3 План работ
							ul.list-unstyled.cases-container-page__black-list
								li.mb-2 Бриф с клиентом
								li.mb-2 Аудит сайта
								li.mb-2 Анализ конкурентов
								li.mb-2 Исследования рынка и аудитории
								li.mb-2 Анализ потенциала поискового спроса
								li.mb-2 Майнд-мэп с ядром запросов
								li.mb-2 Аудит отдела продаж (тайный покупатель)
								li.mb-2 Стратегия под каждый онлайн-канал
							.cases-container-page__black-absolute-text.bg-white.p-3
								img(src="picture/upload/cost.svg", alt="").mb-2
								br
								a(href="https://blog.completo.ru/matematicheskij-prognoz-finotdachi/" target="_blank") Считаем
									br
									| финотдачу
			.col-lg-4.col-xl-4
				.bg-black.p-3
					.row.align-items-center
						.col-lg-12.col-md-6
							.cases-container-page__black-right
								span.cases-container-page__black-num.text-white.font-weight-bold 4 
								span.h4.mb-0.d-inline.text-white года
								p.text-white.mb-0 — средний срок сотрудничества
							.cases-container-page__black-right
								span.cases-container-page__black-num.text-white.font-weight-bold 15 
								span.h4.mb-0.d-inline.text-white клиентов
								p.text-white.mb-0 каждый год
							.cases-container-page__black-right
								span.cases-container-page__black-num.text-white.font-weight-bold 80 
								span.h4.mb-0.d-inline.text-white стратегий
								p.text-white.mb-0 разработано с 2013 года
						.col-lg-12.col-md-6
							.cases-container-page__black-right.pt-3.pb-3.border-top.border-bottom.border-light
								.d-flex.align-items-center
									img(src="picture/upload/xlsx-file.svg", alt="").mr-3
									p
										span.text-white Авторы 
										a(href="https://www.completo.ru/checklist-strategy-online-marketing/" target="_blank").cases-container-page__black-right-link отраслевого стандарта стратегии интернет-маркетинга
							.cases-container-page__black-right
								a(href="https://www.completo.ru/videocourse-for-managers/").d-block.text-warning.cases-container-page__black-right-link-item
									img(src="picture/upload/cassette.png", alt="").cases-container-page__black-right-absolute-img
									span Создали видеокурс по цифровой трансформации бизнеса