include mixin.pug
.cases-container-page
	.container
		.row
			.col-md-12
				nav.breadcrumb
					ol.breadcrumb
						li.breadcrumb-item
							a(href="/").text-primary Главная
						li.breadcrumb-item.active.text-dark(aria-current="page") Кейсы
		.row
			.col-md-12
				h1.h1.mb-2 Кейсы по компаниям
				p.h4.font-weight-normal.mb-4 Работаем по системе
		.row
			.col-lg-8.mb-4.cases-container-page__order-1
				.cases-container-page__custom-alta
					.d-flex.align-items-center.cases-container-page__custom-alta-head
						img(src="picture/upload/alta-2.png" alt="").mr-3
						p.mb-0 Завод
							br
							| стройматериалов
					.cases-container-page__custom-alta-body.cases-container-page__custom-body
						.row
							.col-md-6
								ul.text-white.mb-0
									li.mb-2 Стратегия электронного маркетинга
									li.mb-2 Исследования: рынок, спрос, конкуренты, аудитория
									li.mb-2
										a(href="https://www.behance.net/gallery/75826235/sajt-dlja-proizvoditelja-sajdinga-alta-profil" target="_blank").text-white Сайт
									li.mb-2
										a(href="https://blog.completo.ru/kak-myi-zastavili-sayt-proizvoditelya-stroymaterialov-prodavat-produktsiyu-silami-dilerov-keys/" target="_blank").text-white Онлайн-система для дилеров
									li.mb-2
										a(href="https://www.completo.ru/cases/seo-dlya-zavoda/" target="_blank").text-white SEO
									li.mb-2
										a(href="https://www.completo.ru/cases/kontekstnaya-reklama-stroimateriali/" target="_blank").text-white Контекстная реклама
							.col-md-6
								ul.text-white.mb-0
									li.mb-2 Портал для дилеров
									li.mb-2
										a(href="https://www.completo.ru/cases/smm-stroimateriali/" target="_blank").text-white SMM
									li.mb-2
										a(href="https://www.completo.ru/cases/email-marketing-dlya-zavoda/" target="_blank").text-white Email-маркетинг
									li.mb-2
										a(href="https://www.completo.ru/cases/calculator-alta/" target="_blank").text-white Калькулятор фасадных материалов
									li.mb-2
										a(href="https://blog.completo.ru/kak-podnyat-prodazhi-kompanii-s-setyu-dilerov-s-pomoschyu-telefonii/" target="_blank").text-white CRM для завода и дилеров
									li.mb-2
										a(href="https://blog.completo.ru/digital-voronka-kak-vyrastit-pribyl-bez-uvelichenija-chisla-tekushhih-zajavok/" target="_blank").text-white Система подогрева клиентов по стадиям (salesfarm)
									li.mb-2
										a(href="https://www.completo.ru/cases/chatbot-alta/" target="_blank").text-white Создание чат-бота
						.row.cases-container-page__custom-alta-row.no-gutters
							.col-2
								img(src="picture/upload/alt_1.png" alt="").w-100
							.col-2
								img(src="picture/upload/alt_2.png" alt="").w-100
							.col-2
								img(src="picture/upload/alt_3.png" alt="").w-100
							.col-2
								img(src="picture/upload/alt_4.png" alt="").w-100
							.col-2
								img(src="picture/upload/alt_5.png" alt="").w-100
							.col-2
								img(src="picture/upload/alt_6.png" alt="").w-100
			.col-lg-4.cases-container-page__order-1
				.row
					.col-md-6.col-lg-12
						.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4.mb-4.mb-md-5
							p.h3 Калита-финанс
							p.pb-3.border-bottom.border-warning финансовая группа
							ul.pl-3
								li.text-warning.mb-2
									a(href="https://www.completo.ru/cases/kontekstnaya-reklama-dlya-finansovoj-kompanii/" target="_blank") Контекстная реклама
					.col-md-6.col-lg-12
						.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4.mb-4.mb-md-5
							p.h3 Favorit motors
							p.pb-3.border-bottom.border-warning московский автодилер
							ul.pl-3
								li.mb-2.text-warning
									span.text-dark Стратегия электронного маркетинга
								li.mb-2.text-warning
									span.text-dark Сквозная аналитика
								li.mb-2.text-warning
									a(href="https://www.completo.ru/cases/favorit-retargeting/" target="_blank") Умный ретаргетинг
			.col-lg-4.col-md-12.cases-container-page__order-3
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4.mb-4.mb-md-5
					p.h3 UCG
					p.pb-3.border-bottom.border-warning наборы готовой еды
					ul.pl-3
						li.text-warning.mb-2
							span.text-dark Стратегия электронного маркетинга
						li.text-warning.mb-2
							a(href="https://www.completo.ru/cases/ucg-concurents/" target="_blank") Исследования: рынок, спрос, конкуренты, аудитория
						li.text-warning.mb-2
							span.text-dark Брендинг EatMe (фирстиль, логотип, нейминг)
						li.text-warning.mb-2
							span.text-dark Вывод на рынок нового продукта EatMe
						li.text-warning.mb-2
							span.text-dark Посадочная страница
						li.text-warning.mb-2
							span.text-dark Сайт
						li.text-warning.mb-2
							span.text-dark Контекстная реклама
			.col-lg-8.mb-4.cases-container-page__order-2
				.cases-container-page__custom.cases-container-page__custom-velux.mt-0
					.row
						.col-lg-6.col-md-6
							.d-flex.align-items-center.cases-container-page__custom-velux-head.cases-container-page__custom-head
								img(src="picture/upload/image_35.png" alt="").mr-3
								p.mb-0 Ведущий производитель
									br
									| мансардных окон
							.cases-container-page__custom-body
								ul.pl-3
									li.text-danger.mb-2
										span.text-dark Стратегия электронного маркетинга
									li.text-danger.mb-2
										span.text-dark Исследования: рынок, спрос, конкуренты, аудитория
									li.text-danger.mb-2
										span.text-dark Таргетированная реклама
									li.text-danger.mb-2
										span.text-dark SMM
						.col-lg-6.col-md-6
							.cases-container-page__custom-velux-img-container.cases-container-page__custom-img-container
								img(src="picture/upload/velux-image.png" alt="").cases-container-page__custom-velux-img.cases-container-page__custom-img
			.col-lg-8.cases-container-page__order-4
				.row
					.col-md-6.mb-4.mb-md-5
						.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
							p.h3 Owen
							p.pb-3.border-bottom.border-warning завод контрольно-измерительных приборов
							ul.pl-3
								li.text-warning.mb-2
									span.text-dark Стратегия электронного маркетинга
								li.text-warning.mb-2
									span.text-dark Исследования: рынок, спрос, конкуренты, аудитория
								li.text-warning.mb-2
									span.text-dark Система сквозной аналитики
					.col-md-6.mb-4.mb-md-5
						.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
							p.h3 Мир искусства
							p.pb-3.border-bottom.border-warning музыкальная школа
							ul.pl-3
								li.text-warning.mb-2
									a(href="https://www.completo.ru/cases/miriskusstva/" target="_blank") Общий кейс по компании
					.col-md-12.mb-3.mb-md-4.mb-lg-5
						.cases-container-page__custom.cases-container-page__custom-torex.mt-0
							.row
								.col-xl-7.col-md-6
									.d-flex.align-items-center.cases-container-page__custom-torex-head.cases-container-page__custom-head
										img(src="picture/upload/torex.png" alt="").mr-3
										p.mb-0.text-white Завод входных дверей
									.cases-container-page__custom-body.cases-container-page__custom-torex-body
										ul.pl-3
											li.text-white.mb-2 Стратегия электронного маркетинга
											li.text-white.mb-2 Исследования: рынок, спрос, конкуренты, аудитория
											li.text-white.mb-2
												a(href="https://blog.completo.ru/generator-unikalnyih-saytov-dlya-seti-dilerov/" target="_blank") Генератор дилерских сайтов
											li.text-white.mb-2 Конфигуратор каталога продукции
											li.text-white.mb-2
												a(href="https://blog.completo.ru/kak-internet-marketing-pomog-sistematizirovat-prodazhi-dlya-proizvoditelya-s-dilerskoy-setyu-100/" target="_blank") Система онлайн-бронирования для дилеров
											li.text-white.mb-2 Сайт
												//a(href="https://www.behance.net/gallery/73728351/Cajt-dlja-zavoda-stalnyh-dverej-toreks" target="_blank") Сайт
											li.text-white.mb-2
												a(href="https://blog.completo.ru/keys-povyishenie-konversii-sayta-za-schet-vnutrenney-sistemyi-promoutirovaniya/" target="_blank") Система промоутирования
											li.text-white.mb-2
												a(href="https://blog.completo.ru/uvelichenie-prodazh-s-pomoshhyu-mobilnogo-prilozheniya-2/" target="_blank") Мобильное приложение для монтажников
											li.text-white.mb-2 SEO
											li.text-white.mb-2 Контекстная реклама
											li.text-white.mb-2
												a(href="https://blog.completo.ru/ckvoznaya-veb-analitika-v-b2b-i-setyah-dilerov/" target="_blank") Сквозная аналитика
											li.text-white.mb-2
												a(href="https://blog.completo.ru/kak-podnyat-prodazhi-kompanii-s-setyu-dilerov-s-pomoschyu-telefonii/" target="_blank") CRM и телефония
											li.text-white.mb-2 Контент-маркетинг
											li.text-white.mb-2
												a(href="https://www.completo.ru/dealers-how-to/" target="_blank") Система распределения заявок по дилерам
								.col-xl-5.col-md-6
									.cases-container-page__custom-torex-img-container.cases-container-page__custom-img-container
										img(src="picture/upload/torex_image.png" alt="").cases-container-page__custom-torex-img.cases-container-page__custom-img
			.col-lg-4.col-md-12.cases-container-page__order-4
				.row
					.col-md-6.col-lg-12.mb-4.mb-md-5
						.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
							p.h3 Элтемикс
							p.pb-3.border-bottom.border-warning завод лабораторного оборудования
							ul.pl-3
								li.text-warning.mb-2
									span.text-dark Стратегия электронного маркетинга
								li.text-warning.mb-2
									span.text-dark Исследования: рынок, спрос, конкуренты, аудитория
								li.text-warning.mb-2
									span.text-dark Сайт
								li.text-warning.mb-2
									span.text-dark Интеграция интернет-магазина с 1C и RetailCRM
								li.text-warning.mb-2
									span.text-dark SEO
								li.text-warning.mb-2
									a(href="https://blog.completo.ru/kak-obedinit-20-tys-tovarov-v-odno-okno/" target="_blank") Единая Товарная База для поставщиков
					.col-md-6.col-lg-12
						.row
							.col-lg-12.mb-4.mb-md-5
								.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
									p.h3 Dassault Systemes
									p.pb-3.border-bottom.border-warning программное обеспечение
									ul.pl-3
										li.text-warning.mb-2
											span.text-dark Стратегия электронного маркетинга
										li.text-warning.mb-2
											span.text-dark Исследования: рынок, спрос, конкуренты, аудитория
										li.text-warning.mb-2
											a(href="https://blog.completo.ru/reklama-v-b2b/" target="_blank") Контекстная реклама
										li.text-warning.mb-2
											a(href="https://blog.completo.ru/reklama-v-b2b/" target="_blank") Таргетировання реклама
										li.text-warning.mb-2
											span.text-dark Создание сайтов, привлечение и аналитика для сети партнеров - системных интеграторов
										li.text-warning.mb-2
											a(href="https://blog.completo.ru/skvoznaja-analitika-zajavok-dlja-rukovodstva/" target="_blank") Сквозная аналитика по партнерам
										li.text-warning.mb-2
											span.text-dark Экспертные статьи
	include black.pug
	.container.mt-4.mt-md-5
		.row
			.col-lg-4.col-md-12.mb-4.mb-md-5
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
					p.h3 Центр доктора Бубновского
					p.pb-3.border-bottom.border-warning сеть медицинских центров
					ul.pl-3
						li.text-warning.mb-2
							a(href="https://www.completo.ru/cases/bubnovskiy" target="_blank") Контекстная реклама
			.col-lg-4.col-md-6.mb-4.mb-md-5
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
					p.h3 AGExperts
					p.pb-3.border-bottom.border-warning поставщик автомобильных стекол
					ul.pl-3
						li.text-warning.mb-2
							a(href="https://www.completo.ru/cases/agexperts/" target="_blank") Генерация заявок
			.col-lg-4.col-md-6.mb-4.mb-md-5
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
					p.h3 Бьютилед
					p.pb-3.border-bottom.border-warning производитель светодиодной техники
					ul.pl-3
						li.text-warning.mb-2
							a(href="https://www.completo.ru/cases/beautyled/" target="_blank") Общий кейс по компании
		.row
			.col-lg-4.col-md-12.mb-4.mb-md-5.cases-container-page__order-2
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
					p.h3 Гаражтек
					p.pb-3.border-bottom.border-warning обустройство гаражей
					ul.pl-3
						li.text-warning.mb-2
							a(href="https://blog.completo.ru/otraslevoj-standart-razrabotki-strategii-internet-marketinga-i-prodazh/" target="_blank") Стратегия электронного маркетинга
						li.text-warning.mb-2
							span.text-dark Стратегия регионального продвижения бизнеса
						li.text-warning.mb-2
							span.text-dark Документация: бизнес-процессы, инфраструктура, схемы продаж продукции и услуг
						li.text-warning.mb-2
							span.text-dark Система подогрева клиентов по стадиям
						li.text-warning.mb-2
							span.text-dark Сквозная аналитика
						li.text-warning.mb-2
							span.text-dark Работа с когортами в контекстной рекламе
						li.text-warning.mb-2
							span.text-dark  Система тестов (АКМ) в соцсетях
						li.text-warning.mb-2
							span.text-dark Посадочные страницы
						li.text-warning.mb-2
							span.text-dark SEO
			.col-lg-8.mb-4.mb-md-5.cases-container-page__order-1
				.cases-container-page__custom.cases-container-page__custom-megaflex
					.row
						.col-xl-12
							.d-flex.align-items-center.cases-container-page__custom-megaflex-head.cases-container-page__custom-head
								img(src="picture/upload/logo_megaflex.svg" alt="").mr-3
								p.mb-0 Завод пленок для паро- и
									br
									| гидроизоляции
					.container
						.row
							.col-xl-7.col-md-6
								.cases-container-page__custom-body.cases-container-page__custom-megaflex-body
									ul.pl-3
										li.text-white.mb-2
											a(href="https://www.completo.ru/checklist-strategy-online-marketing/" target="_blank") Стратегия электронного маркетинга
										li.text-white.mb-2 Разработка продуктовой линейки
										li.text-white.mb-2
											a(href="https://blog.completo.ru/pravilnaya-postanovka-tseley-pered-internet-marketingom/" target="_blank") Маркетинговая проработка: позиционирование, УТП, ЦА
										li.text-white.mb-2 Сайт продукта
										li.text-white.mb-2 Сайт завода
										li.text-white.mb-2 Продуктовые видео ролики (отзывы, реклама, guide)
										li.text-white.mb-2
											a(href="https://blog.completo.ru/kak-podnyat-prodazhi-kompanii-s-setyu-dilerov-s-pomoschyu-telefonii/" target="_blank") CRM для торговых представителей, менеджеров-операционистов и менеджеров по привлечению новых дилеров
										li.text-white.mb-2 SEO
										li.text-white.mb-2
											a(href="https://www.completo.ru/dealers-how-to/" target="_blank") Личный кабинет дилера
										li.text-white.mb-2 Продуктовые посадочные страницы
										li.text-white.mb-2 Контекстная реклама
							.col-xl-5.col-md-6
								.cases-container-page__custom-megaflex-img-container.cases-container-page__custom-img-container
									img(src="picture/upload/megaflex-image.png" alt="").cases-container-page__custom-megaflex-img.cases-container-page__custom-img
			.col-lg-4.col-md-6.cases-container-page__order-3.mb-4.mb-md-5
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
					p.h3 Amfibia
					p.pb-3.border-bottom.border-warning вездеходы
					ul.pl-3
						li.text-warning.mb-2
							a(href="https://www.completo.ru/cases/amfibia/" target="_blank") Общий кейс по компании
						li.text-warning.mb-2
							span.text-dark Стратегия электронного маркетинга
						li.text-warning.mb-2
							span.text-dark Исследования: рынок, спрос, конкуренты, аудитория
						li.text-warning.mb-2
							a(href="https://blog.completo.ru/keys-kak-rabotat-s-nesformirovannyim-sprosom/" target="_blank") Сайт
						li.text-warning.mb-2
							span.text-dark Контекстная реклама
						li.text-warning.mb-2
							a(href="https://blog.completo.ru/keys-kak-rabotat-s-nesformirovannyim-sprosom/" target="_blank") SEO
						li.text-warning.mb-2
							span.text-dark SMM
			.col-lg-4.col-md-6.mb-4.mb-md-5.cases-container-page__order-3
				+basic('Мать и дитя', 'клиника', 'Стратегия электронного маркетинга', 'Исследования: рынок, спрос, конкуренты, аудитория', 'Посадочная страница', 'Контекстная реклама')
			.col-lg-4.col-md-6.mb-4.mb-md-5.cases-container-page__order-3
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
					p.h3 Buldoors
					p.pb-3.border-bottom.border-warning завод стальных дверей
					ul.pl-3
						li.text-warning.mb-2
							span.text-dark Стратегия электронного маркетинга
						li.text-warning.mb-2
							span.text-dark Исследования: рынок, спрос, конкуренты, аудитория
						li.text-warning.mb-2
							span.text-dark Сайт
						li.text-warning.mb-2
							a(href="https://www.completo.ru/dealers-how-to/" target="_blank") Личный кабинет для дилера
						li.text-warning.mb-2
							span.text-dark SEO
			.col-lg-8.mb-4.mb-md-5.cases-container-page__order-5.pr-xl-5
				.cases-container-page__custom.cases-container-page__custom-stup.my-0.pr-lg-4
					.row
						.col-lg-8.col-md-8
							.d-flex.align-items-center.cases-container-page__custom-stup-head.cases-container-page__custom-head
								img(src="picture/upload/image_30.png" alt="").mr-3
								p.mb-0 Российский производитель
									br
									| профессиональной и бытовой химии
							.cases-container-page__custom-body
								ul.pl-3
									li.text-danger.mb-2
										span.text-dark Стратегия электронного маркетинга
									li.text-danger.mb-2
										span.text-dark Исследования: рынок, спрос, конкуренты, аудитория
									li.text-danger.mb-2
										a(href="https://www.completo.ru/cases/cxz-site/" target="_blank").text-dark Сайт завода
									li.text-danger.mb-2
										span.text-dark Создание контента: интервью, фото- и видеосъемки на дронах
									li.text-danger.mb-2
										a(href="https://www.behance.net/gallery/70730637/informacionnyj-portal-dlja-kosmetiki-Queen-Marine" target="_blank").text-dark Посадочные брендов Sanita, Five+, Queen Marine
									li.text-danger.mb-2
										span.text-dark Таргетированная реклама
						.col-lg-4.col-md-4
							.cases-container-page__custom-stup-img-container.cases-container-page__custom-img-container
								img(src="picture/upload/CXZ_img.png" alt="").cases-container-page__custom-stup-img.cases-container-page__custom-img
			.col-lg-4.col-md-6.mb-4.mb-md-5.cases-container-page__order-4
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
					p.h3 Laitcom
					p.pb-3.border-bottom.border-warning световое освещение городов
					ul.pl-3
						li.text-warning.mb-2
							span.text-dark Стратегия электронного маркетинга
						li.text-warning.mb-2
							span.text-dark Исследования: рынок, спрос, конкуренты, аудитория
						li.text-warning.mb-2
							a(href="https://blog.completo.ru/keys-kak-bez-peredelki-sayta-ispolzuya-pravilnuyu-internet-reklamu-i-analitiku-zarabotat-15-000-000-dlya-klienta/" target="_blank") Сайт
						li.text-warning.mb-2
							span.text-dark SEO
						li.text-warning.mb-2
							a(href="https://blog.completo.ru/keys-kak-bez-peredelki-sayta-ispolzuya-pravilnuyu-internet-reklamu-i-analitiku-zarabotat-15-000-000-dlya-klienta/" target="_blank") Контекстная реклама
		.row
			.col-lg-4.col-md-6.mb-4.mb-md-5.cases-container-page__order-1
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
					p.h3 JQEstate.ru
					p.pb-3.border-bottom.border-warning элитная недвижимость
					ul.pl-3
						li.text-warning.mb-2
							span.text-dark Стратегия электронного маркетинга
						li.text-warning.mb-2
							a(href="https://www.completo.ru/research-estate/" target="_blank") Исследования: рынок, спрос, конкуренты, аудитория
						li.text-warning.mb-2
							span.text-dark Контекстная реклама
			.col-lg-4.col-md-6.mb-4.mb-md-5.cases-container-page__order-1
				+basic('Билайн', 'оператор сотовой связи', 'Стратегия электронного маркетинга', 'Исследования: рынок, спрос, конкуренты, аудитория', 'Отработка возражений, отказов', 'Стратегия вывода на рынок услуг продукта мобильное предприятие')
			.col-lg-4.col-md-12.mb-4.mb-md-5.cases-container-page__order-1
				+basic('Veka', 'пластиковые окна', 'Разработка IT-системы распределения заказов по партнерам', 'Анализ ключевых требований и подготовка ТЗ на внедрение сквозной аналитики')
			.col-lg-8.mb-4.mb-md-5.cases-container-page__order-2.pr-xl-5
				.cases-container-page__custom.cases-container-page__custom-maria.pr-md-4.my-0
					.row
						.col-lg-6.col-md-7
							.cases-container-page__custom-maria-head.cases-container-page__custom-head.border-bottom.border-white
								img(src="picture/upload/Mariya_logo.png" alt="").mb-2
								p.mb-0.text-white Производство мебели и кухонь
							.cases-container-page__custom-body
								ul.pl-3
									li.text-white.mb-2 Стратегия электронного маркетинга
									li.text-white.mb-2 Исследования: рынок, спрос, конкуренты, аудитория
									li.text-white.mb-2 Контекстная реклама
									li.text-white.mb-2 Сайт edimdoma.ru
									li.text-white.mb-2 Salesfarm
						.col-lg-6.col-md-5
							.cases-container-page__custom-maria-img-container.cases-container-page__custom-img-container
								img(src="picture/upload/Mariya_img.png" alt="").cases-container-page__custom-maria-img.cases-container-page__custom-img
			.col-lg-4.cases-container-page__order-2
				.row
					.col-lg-12.col-md-6.mb-4.mb-md-5
						+basic('Kant', 'сеть спортивных магазинов', 'Техническая поддержка по SLA', 'Контекстная реклама', 'Сквозная аналитика')
					.col-lg-12.col-md-6.mb-4.mb-md-5
						.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
							p.h3 Элекс
							p.pb-3.border-bottom.border-warning Поставщик шин и дисков для грузовиков
							ul.pl-3
								li.text-warning.mb-2
									a(href="https://www.completo.ru/cases/eleks/" target="_blank") СЭМ (Стратегия электронного маркетинга)
		.row
			.col-lg-4.col-md-6.mb-4.mb-md-5
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
					p.h3 Петровские ворота
					p.pb-3.border-bottom.border-warning клиника премиум-класса
					ul.pl-3
						li.text-warning.mb-2
							a(href="https://blog.completo.ru/razrabotka-strategii-internet-marketinga/" target="_blank") Стратегия электронного маркетинга
						li.text-warning.mb-2
							a(href="https://www.completo.ru/research-medicine/" target="_blank") Исследования: рынок, спрос, конкуренты, аудитория
						li.text-warning.mb-2
							a(href="https://blog.completo.ru/kak-sprognozirovat-rezultatyi-strategii-internet-marketinga-prakticheskaya-polza-ekonometricheskih-modeley-v-marketinge/" target="_blank") Эконометрическая модель развития компании
						li.text-warning.mb-2
							a(href="https://www.completo.ru/cases/petrovskie-vorota/" target="_blank") Контекстная реклама
			.col-lg-4.col-md-6.mb-4.mb-md-5
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
					p.h3 Мосбиржа
					p.pb-3.border-bottom.border-warning биржевой холдинг
					ul.pl-3
						li.text-warning.mb-2
							a(href="https://www.completo.ru/salesfarm/" target="_blank") Salesfarm:
							span.text-dark  путь клиента, маркетинговая проработка, настройка системы, разработка посадочных, писем, баннеров
			.col-lg-4.col-md-6.mb-4.mb-md-5
				+basic('HappyBatut', 'надувные батуты', 'Стратегия электронного маркетинга', 'Исследования: рынок, спрос, конкуренты, аудитория', 'Email-маркетинг', 'Контекстная реклама', 'Разработка клиентского пути', 'Посадочная страница')
			.col-lg-4.col-md-6.mb-4.mb-md-5
				.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
					p.h3 Rossvik
					p.pb-3.border-bottom.border-warning шины и автозапчасти
					ul.pl-3
						li.text-warning.mb-2
							a(href="https://www.completo.ru/cases/rossvik-strategy/" target="_blank") Стратегия электронного маркетинга
						li.text-warning.mb-2
							a(href="https://www.completo.ru/cases/rossvik/" target="_blank") Разработка личного кабинета для дилеров
						li.text-warning.mb-2
							span.text-dark Разработка прототипов и connection-map мобильного приложения для дилеров
						li.text-warning.mb-2
							span.text-dark Разработка сайта
			.col-lg-8.mb-4.mb-md-5
				.cases-container-page__custom.cases-container-page__custom-komek.mt-0
					.row
						.col-lg-6.col-md-7
							.d-flex.align-items-center.cases-container-page__custom-komek-head.cases-container-page__custom-head
								img(src="picture/upload/image_136.png" alt="").mr-3
								p.mb-0 Дистрибьютор спецтехники
							.cases-container-page__custom-body
								ul.pl-3.mb-4
									li.text-dark.mb-2 Стратегия электронного маркетинга
									li.text-dark.mb-2 Email-маркетинг
									li.text-dark.mb-2
										a(href="https://www.behance.net/gallery/70730765/posadochnaja-dlja-stroitelnoj-tehniki-Komatsu" target="_blank").text-dark Посадочная бренда Komatsu
						.col-lg-6.col-md-5
							.cases-container-page__custom-komek-img-container.cases-container-page__custom-img-container
								img(src="picture/upload/komek_img.png" alt="").cases-container-page__custom-komek-img.cases-container-page__custom-img
		.row
			.col-lg-4.col-md-6.mb-4.mb-md-5
				+basic('AdMos', 'бизнес-подарки', 'Стратегия электронного маркетинга', 'Сайт', 'SEO', 'Контекстная реклама', 'Продвижение офлайн-мероприятия')
			.col-lg-4.col-md-6.mb-4.mb-md-5
				+basic('Colobridge', 'европейский хостинг-провайдер', 'Разработка digital-стратегии', 'Маркетинговая упаковка продукта', 'Разработка продуктовых посадочных страниц', 'Контекстная реклама')
			.col-lg-4.col-md-6.mb-4.mb-md-5
				+basic('Пластик репаблик', 'производитель пластиковых изделий', 'ТЗ на IT-системы для автоматизации бизнес-процессов', 'Система распределения заявок', 'IT-система для партнеров')
			.col-lg-4.col-md-6
				.row
					.col-lg-12.mb-4.mb-md-5
						.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
							p.h3 Сага телеком
							p.pb-3.border-bottom.border-warning телекоммуникационное оборудование
							ul.pl-3
								li.text-warning.mb-2
									span.text-dark Упаковка продукта
								li.text-warning.mb-2
									span.text-dark Разработка посадочной страницы
								li.text-warning.mb-2
									span.text-dark Контекстная реклама
								li.text-warning.mb-2
									span.text-dark Внедрение CRM-системы
								li.text-warning.mb-2
									a(href="https://www.completo.ru/razrabotka-sajta/" target="_blank") Разработка сайта
								li.text-warning.mb-2
									span.text-dark  Email-маркетинг
								li.text-warning.mb-2
									span.text-dark SMM
					.col-lg-12.mb-4.mb-md-5.d-none.d-lg-block
						.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
							p.h3 Digital Insider
							p.pb-3.border-bottom.border-warning Youtube проект
							ul.pl-3
								li.text-warning.mb-2
									a(href="https://www.completo.ru/cases/digital-insider/" target="_blank") Продвижение на Youtube
			.col-lg-8.mb-4.mb-md-5
				.cases-container-page__custom.cases-container-page__custom-tavros.my-0
					.row
						.col-lg-8.col-md-8
							.d-flex.align-items-center.cases-container-page__custom-tavros-head.cases-container-page__custom-head
								img(src="picture/upload/logo_site.svg" alt="").mr-3
								p.mb-0 Металлопрокат
							.cases-container-page__custom-body
								ul.pl-3
									li.text-dark.mb-2 SMM
									li.text-dark.mb-2 SEO
									li.text-dark.mb-2 Контекстная реклама
									li.text-dark.mb-2 RoadMap на год
									li.text-dark.mb-2 Техподдержка сайта
									li.text-dark.mb-2 Маркетинговые исследования: анализ спроса, конкурентов, сегментация ца
									li.text-dark.mb-2 Разработка посадочных страниц по товарным категориям
									li.text-dark.mb-2
										a(href="https://www.completo.ru/analytics/" target="_blank").text-dark Сквозная аналитика
										span.text-dark , ecommerce
									li.text-dark.mb-2 Таргетированная реклама (Facebook, Одноклассники)
									li.text-dark.mb-2 Email-маркетинг (b2b и b2c)
									li.text-dark.mb-2 Аудит отдела продаж
									li.text-dark.mb-2 Отрисовка рендеров для каталога
									li.text-dark.mb-2 Работа с маркет-плейсами
						.col-lg-4.col-md-4
							.cases-container-page__custom-tavros-img-container.cases-container-page__custom-img-container
								img(src="picture/upload/image7-1.png" alt="").cases-container-page__custom-tavros-img.cases-container-page__custom-img
		.row
			.col-lg-8.mb-4.mb-md-5.cases-container-page__order-1
				.cases-container-page__custom.cases-container-page__custom-motorola.mt-0
					.row
						.col-lg-8.col-md-8
							.d-flex.align-items-center.cases-container-page__custom-motorola-head.cases-container-page__custom-head
								img(src="picture/upload/Motorola_new_logo.svg" alt="").mr-3
								p.mb-0 Рации
							.cases-container-page__custom-body
								ul.pl-3
									li.text-dark.mb-2
										a(href="https://www.completo.ru/digital-strategy/" target="_blank").text-dark Стратегия digital-маркетинга
									li.text-dark.mb-2 Экспресс-аудит сайта
									li.text-dark.mb-2 Маркетинговые исследования: анализ спроса, конкурентов, ца
									li.text-dark.mb-2 Разработка продуктовой посадочной страницы
									li.text-dark.mb-2
										a(href="https://www.completo.ru/cases/motorola/" target="_blank").text-dark Система генерации лидов
									li.text-dark.mb-2 Контекстная реклама
									li.text-dark.mb-2 Медийная реклама
						.col-lg-4.col-md-4
							.cases-container-page__custom-motorola-img-container.cases-container-page__custom-img-container
								img(src="picture/upload/image5.png" alt="").cases-container-page__custom-motorola-img.cases-container-page__custom-img
			.col-lg-4.col-md-6.mb-4.mb-md-5.cases-container-page__order-1
				+basic('SaS', 'аналитика и управление данными', 'Разработка digital-стратегии', 'Customer Journey', 'Маркетинговые исследования: анализ конкурентов, аудит интернет-маркетинга, тайный покупатель', 'Разработка продуктовых посадочных страниц', 'Таргетированная реклама', 'Контекстная реклама')
			.col-lg-4.col-md-6.cases-container-page__order-1
				.row
					.col-md-12.mb-4.mb-md-5
						.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
							p.h3 Bestclinic
							p.pb-3.border-bottom.border-warning клиника
							ul.pl-3
								li.text-warning.mb-2
									a(href="https://www.completo.ru/cases/bestclinic/" target="_blank") Сквозная аналитика
					.col-md-12.mb-4.mb-md-5.d-block.d-lg-none
						.cases-container-page__basic.bg-white.pt-3.pb-4.pl-4.pr-4
							p.h3 Digital Insider
							p.pb-3.border-bottom.border-warning Youtube проект
							ul.pl-3
								li.text-warning.mb-2
									a(href="https://www.completo.ru/cases/digital-insider/" target="_blank") Продвижение на Youtube
			.col-lg-8.mb-4.mb-md-5.cases-container-page__order-3
				.cases-container-page__custom.cases-container-page__custom-ros.my-0
					.row
						.col-lg-9.col-md-10
							.d-flex.align-items-center.cases-container-page__custom-ros-head.cases-container-page__custom-head
								img(src="picture/upload/image6.png" alt="").mr-3
								p.mb-0 телекоммуникации
							.cases-container-page__custom-body
								ul.pl-3
									li.text-dark.mb-2 Разработка стратегии виртуальной АТС
									li.text-dark.mb-2 Исследования поискового спроса, анализ конкурентов, тайный покупатель, опросы клиентов
									li.text-dark.mb-2 Разработка customer journey
									li.text-dark.mb-2 Маркетинговая упаковка продукта
						.col-lg-3.col-md-2
							.d-flex.h-100.align-items-end.justify-content-end
								img(src="picture/upload/image3-rostelecom.png" alt="").w-100.cases-container-page__custom-ros-img
