.cases-container-page {
	&__basic {
		width: 100%;
		a {
			color: #00519C;
			border-bottom: 1px solid #00519C;
			text-decoration: none !important;
			transition: 0.3s ease all;
			&:hover {
				border-bottom-color: transparent;
			}
		}
	}
	&__case {
		background-color: #1F1F1F;
		padding: 37px 20px 15px;
		a {
			text-decoration: none !important;
		}
		.h4 {
			@include media-breakpoint-down(lg) {
				font-size: 1.2rem;
			}
		}
		&-text {
			font-size: 18px;
			font-weight: bold;
			color: #1F1F1F;
			padding: 3px 8px;
			background-color: $yellow;
			line-height: 1;
			margin-bottom: 10px;
			border-radius: 3px;
			display: inline-block;
		}
		&-img {
			background-image: url(/picture/upload/case-bg-1.svg);
			background-size: contain;
			background-repeat: repeat-x;
			background-position: bottom left;
			img {
				max-width: 173px;
				display: block;
				margin: auto;
			}
		}
	}
	&__case-1 {
		border-radius: 2px;
		box-sizing: border-box;
	}
	&__case-2 {
		border: 5px solid #fff;
		position: relative;
		padding: 0;
		&:before {
			content: '';
			width: calc(100% + 10px);
			height: calc(100% + 10px);
			border: 1px solid $yellow;
			left: -5px;
			top: -5px;
			position: absolute;
			z-index: 0;
		}
		>* {
			position: relative;
			z-index: 1;
		}
		&-container {
			padding: 0 20px 15px;
		}
		&-img {
			background-image: url(/picture/upload/case-bg-2.svg);
			background-size: cover;
			padding-top: 15px;
		}
	}
	&__case-3 {
		background-color: transparent;
		background-image: url(/picture/upload/case-bg-3.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center top;
		position: relative;
		@include media-breakpoint-down(sm) {
			max-width: 360px;
			margin: auto;
		}
		> * {
			position: relative;
			z-index: 2;
		}
		&:before {
			content: '';
			position: absolute;
			top: 2%;
			left: 2%;
			width: 96%;
			height: 98%;
			z-index: 1;
			border: 2px solid $yellow;
			border-radius: 2px;
		}
		&-img {
			margin: 64px 0 30px;
			background-image: none;
			position: relative;
			&-item {
				position: absolute;
				width: 50px;
				height: 50px;
				right: 60px;
				top: -15px;
				color: #292626;
				font-size: 32px;
				font-weight: bold;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	&__notebook {
		padding: 0 45px;
		&-link {
			display: block;
			position: relative;
			padding: 14px 12px;
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background-color: black;
				border: 3px solid #7f7f81;
				position: absolute;
				left: 0;
				top: 0;
				border-radius: 15px 15px 10px 10px;
				z-index: 1;
			}
			&:after {
				content: '';
				width: 120%;
				height: 4%;
				position: absolute;
				left: -10%;
				bottom: -2%;
				background-image: url('/picture/upload/MacBook Silver_white-2.png');
				background-size: cover;
				background-position: bottom center;
				background-repeat: no-repeat;
				z-index: 1;
			}
			&-img {
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				z-index: 2;
				&:before {
					content: 'Посмотреть сайт';
					width: 100%;
					height: 100%;
					color: white;
					text-decoration: underline;
					text-align: center;
					position: absolute;
					left: 0;
					top: 0;
					background-color: rgba(0, 0, 0, 0.5);
					display: flex;
					align-items: center;
					justify-content: center;
					transition: 0.2s ease all;
					opacity: 0;
				}
				&:hover:before {
					opacity: 1;
				}
			}
		}
	}
	&__box {
		background-color: white;
		border: 1px solid $yellow;
		box-shadow: 7px 7px 0 0 $yellow;
		padding: 15px 24px;
		&-num {
			font-size: 56px;
			text-align: center;
			font-weight: bold;
			margin-bottom: 0;
			@include media-breakpoint-down(lg) {
				font-size: 46px;
			}
		}
		&-image-link {
			position: relative;
			display: block;
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-image: url(/picture/upload/zoomer.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 36px;
				background-color: rgba(0, 0, 0, 0.5);
				opacity: 0;
				transition: 0.3s ease all;
			}
			&:hover:before {
				opacity: 1;
			}
		}
		&-name {
			font-size: 24px;
			color: black;
			font-weight: bold;
			transition: 0.2s ease all;
			display: block;
			svg {
				path {
					transition: 0.2s ease all;
				}
			}
			&:hover {
				svg {
					path {
						fill: #005aad;
					}
				}
			}
		}
	}
}