.bg-light-yellow.overflow-hidden
	.container.py-5.my-4.position-relative
		h2.h2__b2b.mb-4.text-uppercase
			span Растим сообщество
		.h5.mb-5
			span Создали крупнейшее русскоязычное 
			br
			span профессиональное 
			span.yellow-border.nowrap-text сообщество маркетологов
				span.border-container.animation.visible.animated(data-animate="newline")
		.b2b__community-card 
			.row 
				.col-md-6 
					.h3.text-white.text-uppercase.mb-sm-5.mb-4 Следи за соц. сетями
					.h4.text-white.mb-3 Более 100 000 участников в 
						a(href="#").text-warning.text-decoration-none Facebook
					.h4.text-white.mb-4 Более 100 000 участников в 
						a(href="#").text-warning.text-decoration-none Telegram
					.h3.text-white.text-uppercase.mb-5 #Тыжмаркетолог
					a(href="#").d-inline-block.text-decoration-none.mr-3.text-warning
						i.icon.icon-fa-brands_telegram.h2
					a(href="#").d-inline-block.text-decoration-none.text-warning
						i.icon.icon-akar-icons_facebook-fill.h2