.cases
	.container
		.row
			.col-md-9
				.sub-title.text-uppercase Cases
		.row
			.col-md-8.col-lg-9
				.h3.mb-2 Getting real results
		.row
			.col-md-12.cases-container
				.custom-scrollbar
					.cases-container__scrollbar.d-flex
						.cases-card.cases-card__burgundy
							img(src="picture/upload/door.png", alt="").cases-card__head-img.cases-card__head-img-burgundy.d-block.d-md-none
							.cases-card__head.cases-card__burgundy__head
								img(src="picture/upload/torex.png", alt="").cases-card__head-logo
								.h6.text-uppercase.mb-0.ml-3 The steel door factory
								img(src="picture/upload/door.png", alt="").cases-card__head-img.cases-card__head-img-burgundy
							.cases-card__body.cases-card__burgundy__body
								.cases-card__body-content
									i.icon.icon-x4.text-white.cases-card__body-icon.cases-card__body-icon-num
									p.mb-0.text-white 4 times boost
										br
										| of traffic
								.cases-card__body-content
									i.icon.icon-purse.text-white.cases-card__body-icon
									p.mb-0.text-white 11 817 transactions
										br
										| online
								.cases-card__body-content
									i.icon.icon-website-2.text-white.cases-card__body-icon
									p.mb-0.text-white 33 269 202 &#8381; from sales
										br
										| by
										a(href="https://www.completo.ru/dealers-generator/" target="_blank").text-white
											u site generator
						.cases-card.cases-card__blue
							img(src="picture/upload/alta-item.png", alt="").cases-card__head-img.cases-card__head-img-blue.d-block.d-md-none
							.cases-card__head.cases-card__blue__head
								img(src="picture/upload/alta.png", alt="").cases-card__head-logo
								.h6.text-uppercase.mb-0.ml-3 The building materials factory
								img(src="picture/upload/alta-item.png", alt="").cases-card__head-img.cases-card__head-img-blue
							.cases-card__body.cases-card__blue__body
								.cases-card__body-content
									i.icon.icon-x9.text-white.cases-card__body-icon.cases-card__body-icon-num
									p.mb-0.text-white By 9 times boost of
										br
										| traffic
								.cases-card__body-content
									i.icon.icon-global.text-white.cases-card__body-icon
									p.mb-0.text-white 11 426 114 people in
										br
										a(href="https://blog.completo.ru/smm-dlya-zavoda/" target="_blank").text-white
											u social networks
								.cases-card__body-content
									i.icon.icon-website-2.text-white.cases-card__body-icon
									p.mb-0.text-white 3 925 691 &#8381; from sales
										br
										| by
										a(href="https://blog.completo.ru/imejl-marketing-dlja-zavoda-keys/" target="_blank").text-white
											u site generator
						.cases-card.cases-card__green
							img(src="picture/upload/megaflex-item.png", alt="").cases-card__head-img.cases-card__head-img-green.d-block
							.cases-card__head.cases-card__green__head
								img(src="picture/upload/megaflex.png", alt="").cases-card__head-logo
								.h6.text-uppercase.mb-0.ml-3 The factory of vapor-sealing
									br
									| and waterproofing films
							.cases-card__body.cases-card__green__body
								.cases-card__body-content
									i.icon.icon-bag.text-white.cases-card__body-icon
									p.mb-0.text-white The product line
										br
										| development
								.cases-card__body-content
									i.icon.icon-buy.text-white.cases-card__body-icon.cases-card__body-icon-custom-new
									p.mb-0.text-white
										a(href="https://blog.completo.ru/kak-podnyat-prodazhi-kompanii-s-setyu-dilerov-s-pomoschyu-telefonii/" target="_blank").text-white
											u CRM for trade
										br
										| representatives
								.cases-card__body-content
									i.icon.icon-desktop.text-white.cases-card__body-icon
									p.mb-0.text-white Dealer's personal
										br
										| accounts
						.cases-card.cases-card__red
							img(src="picture/upload/car.png", alt="").cases-card__head-img.cases-card__head-img-red.d-block.d-md-none
							.cases-card__head.cases-card__red__head
								img(src="picture/upload/favorit.png", alt="").cases-card__head-logo
								.h6.text-uppercase.mb-0.ml-3 Moscow auto-dealer
								img(src="picture/upload/car.png", alt="").cases-card__head-img.cases-card__head-img-red
							.cases-card__body.cases-card__red__body
								.cases-card__body-content
									i.icon.icon-trolley.text-white.cases-card__body-icon
									p.mb-0.text-white The digital-marketing and
										br
										| sales strategy
								.cases-card__body-content
									i.icon.icon-002-planning.text-white.cases-card__body-icon
									p.mb-0.text-white End-to-end
										br
										| analytics
								.cases-card__body-content
									i.icon.icon-website-2.text-white.cases-card__body-icon
									p.mb-0.text-white Smart
										br
										| retargeting
		.row.mb-4.justify-content-between.mt-4
			.col-md-4
				button.btn.btn-warning.cases__btn(data-scroll="new-form-main").data-scroll I want this case
			.col-md-3.d-flex.align-items-center.justify-content-end
				a(href="https://www.completo.ru/cases/" target="_blank").cases__link
					i.icon.icon-case
					u.d-inline-block.mr-1.ml-1 More cases
					svg(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 31.49 31.49' style='enable-background:new 0 0 31.49 31.49;')
						path(d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
						g
						g
						g
						g
						g
						g
						g
						g
						g
						g
						g
						g
						g
						g
						g
					
