.py-5.bg-lightgrey.overflow-hidden
	.container.my-md-4
		.row
			.col-md-12
				nav.breadcrumb
					ol.breadcrumb
						li.breadcrumb-item
							a(href="/").text-danger Главная
						li.breadcrumb-item.active.text-dark(aria-current="page") Разработка сайтов
			.col-md-12.col-lg-9.col-xl-8
				h2.h2.mb-4.form-h2 
					span.green-red(data-text="SEO") SEO
					span -продвижение и оптимизация сайта по стратегии
		.row
			.col-lg-6.mb-2
				p SEO-продвижение сайтов — это точная наука, которая помогает вывести ваш сайт в топ выдачи поисковых систем. Мы занимаемся SEO-продвижением уже более 20 лет и выработали систему, которая позволяет вырасти трафик в 5-10 раз.
		.row
			.col-lg-6
				.row
					.col-md-6.mb-4
						h3.h3 Изучаем
							br
							| спрос
						p подбираем запросы, кластеризуем, проверяем видимость
					.col-md-6.mb-4
						h3.h3 Прогнозируем
							br
							| трафик
						p проверяем видимость конкурентов и спрос на рынке
					.col-md-6.mb-4
						h3.h3 Проводим
							br
							| аудиты
						p находим технические ошибки на сайте и устраняем их
					.col-md-6.mb-4
						h3.h3 Приводим лиды из органики
						p делаем SEO инструментом бизнеса и увеличиваем продажи
			.col-lg-6.mb-4
				+video-item('https://www.youtube.com/watch?v=r6ZvwRc1Vys', 'seo-facebook.jpg')
				p.mt-3 Смотрите нашу лекцию о том, как делать SEO для развития бизнеса