section.dealers-sites-system
	.container
		.row
			.col-md-12.col-xl-10
				h2.mb-4
					span.heading-gradient Запустили системы дилерских сайтов
					br
					span для заводов с тысячами партнеров
				p.mb-5 Генераторы дилерских сайтов уже работают у наших клиентов — это заводы-производители с фирменной сетью магазинов и тысячами торговых представителей и субдилеров по всей стране.
		.row
			.col-lg-6
				p За 2 года работы (2016–2018) генератора сайтов клиент получил:
				.row
					.col-sm-6.d-flex.align-items-center.mb-4
						i.icon.icon-vision.text-dark.h1.font-weight-normal.mr-3
						.dealers-sites-system__content
							h4.text-warning 1 217 993
							p.mb-0 Уникальных посетителя
					.col-sm-6.d-flex.align-items-center.mb-4
						i.icon.icon-route.text-dark.h1.font-weight-normal.mr-3
						.dealers-sites-system__content
							h4.text-warning 63 сайта
							p.mb-0 для региональных дилеров
					.col-sm-6.d-flex.align-items-center.mb-4
						i.icon.icon-fingerprint.text-dark.h1.font-weight-normal.mr-3
						.dealers-sites-system__content
							h4.text-warning 23,6%
							p.mb-0 показатель отказов
					.col-sm-6.d-flex.align-items-center.mb-4
						i.icon.icon-customer-service.text-dark.h1.font-weight-normal.mr-3
						.dealers-sites-system__content
							h4.text-warning 40 613
							p.mb-0 звонков
					.col-lg-12.col-xl-11.col-md-8.mb-4
						.dealers-sites-system__card-num
							.gradient-text 33 269 202 ₽
							h3.font-weight-normal доход с интернет заказов
			.col-lg-6
				.no-alternative__card.dealers-sites-system__card
					h4 Система окупилась на
					h3 19 дилерском сайте
					p.mb-0
						small Даже без учёта стоимости поддержки, которая требовалась бы без «Генератора»
				.dealers-sites-system__img-block
					img(src="picture/upload/stata.png", alt="").dealers-sites-system__img
				p.text-muted.mt-4 Данные аналитики в личном кабинете Генератора сайтов