section.system-help
	.container
		.row
			.col-lg-12.col-xl-10
				h2.mb-4
					span Система поможет вам 
					span.heading-gradient все исправить
				p.mb-5 С единой системой дилерских сайтов вы снимите с себя головную боль за недобросовестных распространителей. Управляйте контентом дилерских сайтов в одном окне: каталог, тексты, визуальное оформление, цены.
		.row
			.col-md-6.mb-4
				.d-flex.align-items-start
					i.icon.icon-instruction-2.h1.font-weight-normal.text-warning.mr-3
					.system-help-text-container
						h3 Всё по фирстилю!
						p Единое визуальное оформление по гайдлайнам производителя, хороший сайт — отличный брендовый показатель
			.col-md-6.mb-4
				.d-flex.align-items-start
					i.icon.icon-planning-2.h1.font-weight-normal.text-warning.mr-3
					.system-help-text-container
						h3 Больше никаких ошибок у дилеров!
						p С контентом должны работать специалисты, а дилеры — консультировать покупателей и доставлять в срок
			.col-md-6.mb-4
				.d-flex.align-items-start
					i.icon.icon-internet.h1.font-weight-normal.text-warning.mr-3
					.system-help-text-container
						h3 Обновление информации сразу у всех!
						p Если у товара сменится цвет, толщина, любой другой параметр — замените его на всех сайтах в один клик
			.col-md-6.mb-4
				.d-flex.align-items-start
					i.icon.icon-like.h1.font-weight-normal.text-warning.mr-3
					.system-help-text-container
						h3 Мы заставим их улучшить качество обслуживания!
						p Распределение заявок по рейтингу дилеров и отзывам конечных покупателей. Дилерам будет выгодно работать нормально
		.row
			.col-md-12
				.system-help__card
					i.h2.font-weight-normal.icon.icon-hand.text-warning.mr-3
					.system-help__card-text.w-100
						.row
							.col-lg-6.col-md-10
								h2.h3.mb-4 Больше трафика и продаж в регионах для всех дилеров!
								p Система позволяет продвигаться в регионах и даёт внушительный трафик
								button.btn.btn-warning.data-scroll.mb-4.mt-2(data-scroll="form-content") Навести порядок у дилеров!
							.col-lg-6.col-md-10
								.system-help__card-img-container
									img(src="picture/upload/biggun.png", alt="").system-help__card-img
									.system-help__card-img-container-text.animation(data-animate="zoomIn")
										span.text-white Настоящая пушка продаж!
