.bg-warning.py-5
	.container
		.row
			.col-lg-3
				.h4.text-white.mb-2 Пример digital-стратегии 
					span.text-dark для производителя стройматериалов 
			.col-lg-9
				+slick-example('block11_slide1.jpg', 'block11_slide2.jpg', 'block11_slide3.jpg')