section.marketing-block
	.container
		.row
			.col-md-12
				h2.mb-4.text-white Сколько стоит создание сайта с маркетинговой проработкой продукта?
			.col-lg-10
				p.text-white.mb-4 Сайт — инструмент маркетинга, а значит его нельзя оценивать в формате «дорого-дешево».
					br
					| Он либо окупается, либо не окупается за определенный срок.
		.row.mt-3
			.col-md-6.mb-3
				h3.mb-3.text-white.font-weight-normal.h4 За год сайт 
					span.text-danger не окупится
					img(src="picture/upload/el_graph_down.svg", alt="").ml-2
				img(src="picture/upload/graph-razrabotka-1.png", alt="").w-100.marketing-block__img.mb-3
				p.text-white Грустный скрин из Google Analytics
			.col-md-6.mb-3
				h3.mb-3.text-white.font-weight-normal.h4 Через год &#8212; 
					span.text-success окупится
					img(src="picture/upload/el_graph_up.svg", alt="").ml-2
				img(src="picture/upload/graph-razrabotka-2.png", alt="").w-100.marketing-block__img.mb-3
				p.text-white Когда грусти не осталось места, и вы разжигаете деньгами камин