.new-cases-see
	.container
		.row
			.col-md-6
				h2.h1 Смотрите также
			.col-md-6.text-right.d-md-flex.justify-content-end.align-items-end.d-none
				a(href="https://www.completo.ru/cases/").new-cases__link.new-cases-see__link Смотреть все кейсы
		.row.mt-4
			.col-md-12.mt-3
				.custom-scrollbar
					.d-flex
						.new-cases-see__case
							.new-cases-see__case-content
								.new-cases-see__case-content-text
									.new-cases__text Кейс
									h3.text-uppercase.text-white.mt-2 КОМПЛЕКСНАЯ
										br
										| SEO-ОПТИМИЗАЦИЯ ДЛЯ ЗАВОДА С СЕТЬЮ ДИЛЕРОВ
								.new-cases-see__img-block
									img(src="picture/upload/case-pic-1.png", alt="").new-cases-see__img
								.new-cases-see__undertext.text-warning.mt-2 В 9 раз увеличили трафик
						.new-cases-see__case.new-cases-see__case-2
							.new-cases-see__case-content
								.new-cases-see__case-content-text
									.new-cases__text Кейс
									h3.text-uppercase.text-white.mt-2 КОМПЛЕКСНАЯ
										br
										| SEO-ОПТИМИЗАЦИЯ ДЛЯ ЗАВОДА С СЕТЬЮ ДИЛЕРОВ
								.new-cases-see__img-block
									img(src="picture/upload/case-pic-1.png", alt="").new-cases-see__img
								.new-cases-see__undertext.text-warning.mt-2 В 9 раз увеличили трафик
						.new-cases-see__case.new-cases-see__case-3
							.new-cases-see__case-content
								.new-cases-see__case-content-text
									.new-cases__text Кейс
									h3.text-uppercase.text-white.mt-2 КОМПЛЕКСНАЯ
										br
										| SEO-ОПТИМИЗАЦИЯ ДЛЯ ЗАВОДА С СЕТЬЮ ДИЛЕРОВ
								.new-cases-see__img-block
									img(src="picture/upload/case-pic-3.png", alt="").new-cases-see__img
								.new-cases-see__undertext.text-warning.mt-2 В 9 раз увеличили трафик
		.row.mt-4
			.col-md-6.d-block.d-md-none
				a(href="https://www.completo.ru/cases/").new-cases__link.new-cases-see__link Смотреть все кейсы
