.case-cost__price.case-cost__price_from
	.case-cost__price-header
		.case-cost__price-icon
			img(src="assets/images/case-cost/case-cost-price.svg", alt="")
		.case-cost__price-title.case-cost__title
			span.case-cost__line Примерная  стоимость работ:
	.case-cost__price-content
		.case-cost__price-dec
			span.case-cost__price-line
		.case-cost__price-from
			span.case-cost__price-label.case-cost__outline ОТ
			span.case-cost__price-value 700
			span.case-cost__price-label.case-cost__outline ТЫС. РУБ.