.position-relative.py-md-5
	img(src="picture/upload/dealers-hand.png", alt="").dealers-fast__absolute-img
	.container.my-md-4
		.row
			.col-md-12.col-lg-10.col-xl-8
				h2.h2.mb-4.mb-md-5.position-relative.z-index-2.form-h2
					span.yellow-border.nowrap-text Наши клиенты
						span.border-container.animation.visible.animated(data-animate="newline")
			.col-md-12.d-none.d-md-block
				img(src="picture/upload/clients-image_29.png", alt="").w-100
			.col-md-12.d-md-none 
				.about__clients.about__clients-rounded.box-shadow-none
					.row
						.col-4.col-lg-3
							img(src='picture/upload/image_26.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_27.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_28.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_29.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_30.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_31.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_32.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_33.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_34.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_35.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_36.png' alt)
						.col-4.col-lg-3
							h4.text-dark И ещё
							h2.text-secondary 85
							h4.text-dark клиентов