.marketing#marketing
	.container.marketing__container
		.row
			.col-lg-12
				h2.h2.mb-5.form-h2
					span.yellow-border Маркетинговый подход
						span.border-container.animation.visible.animated(data-animate='newline')
					span 
					span к digital для B2B
		.row.mb-4
			.col-lg-6
				p Маркетологи Комплето сертифицированы по международным стандартам EMC и NIMA. Для нас интернет – это канал, который должен быть интегрирован в общую маркетинговую стратегию бизнеса
		.row.mb-md-5
			.col-md-5.col-lg-4.col-xl-3
				.d-block.d-md-none.marketing__select.mb-4
					select#myTabselect.select2(name="select2" style="width: 100%")
						option(value="0") Стратегии маркетинга и продаж
						option(value="1") Сайты как инструмент бизнеса
						option(value="2") Сквозная аналитика
						option(value="3") SEO от спроса рынка
						option(value="4") Строим отделы продаж
						option(value="5") Система подогрева клиентов
				ul.nav.marketing__nav-tabs.d-none.d-md-block#myTab(role="tablist")
					li.marketing__nav-item
						a.marketing__nav-link.active#strategy-tab(data-toggle="tab" href="#strategy" role="tab" aria-controls="strategy" aria-selected="true") Стратегии маркетинга и продаж
					li.marketing__nav-item
						a.marketing__nav-link#sites-tab(data-toggle="tab" href="#sites" role="tab" aria-controls="sites" aria-selected="false") Сайты как инструмент бизнеса
					li.marketing__nav-item
						a.marketing__nav-link#analytics-tab(data-toggle="tab" href="#analytics" role="tab" aria-controls="analytics" aria-selected="false") Сквозная аналитика
					li.marketing__nav-item
						a.marketing__nav-link#seo-tab(data-toggle="tab" href="#seo" role="tab" aria-controls="seo" aria-selected="false") SEO от спроса рынка
					li.marketing__nav-item
						a.marketing__nav-link#sell-tab(data-toggle="tab" href="#sell" role="tab" aria-controls="sell" aria-selected="false") Строим отделы продаж
					li.marketing__nav-item
						a.marketing__nav-link#system-tab(data-toggle="tab" href="#system" role="tab" aria-controls="system" aria-selected="false") Система подогрева клиентов
			.col-md-7.col-lg-8.col-xl-9.tab-content.marketing__tab-content#myTabContet
				.row.marketing__macbook
					.col-lg-8
						img(src="picture/upload/mac.png", alt="").w-100
				#strategy(role="tabpanel" aria-labelledby="strategy-tab").tab-pane.show.active.w-100
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-1
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?v=6arDnjClcd0").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-6.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white Стратегия маркетинга и продаж
										p.text-white.marketing__desktop-text
											strong Андрей Гавриков
											br
											span гендиректор Комплето
									.col-6.d-flex.align-items-end.h-100
										img(src="picture/upload/4.png", alt="").w-100
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text Изучаем бизнес-процессы, рынок, продукт, спрос, находим УТП и выдаем план по цифровому увеличению продаж
							.marketing__num-block
								.digital-transformation__card-num.text-warning.font-weight-bold 426
								.h5.text-warning стратегий разработали
							a(href="https://www.completo.ru/digital-strategy/" target="_blank").btn.btn-warning.marketing__btn Подробнее об услуге
				#sites(role="tabpanel" aria-labelledby="sites-tab").tab-pane
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-2
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?v=2H6sGCQMLNg").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-6.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white Сайты как инструмент бизнеса
										p.text-white.marketing__desktop-text
											strong Владимир Давыдов
											br
											span совладелец Комплето
									.col-6.d-flex.align-items-end.h-100
										img(src="picture/upload/2.png", alt="").w-100
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text  Сайты встроены в маркетинговую стратегию, разработаны под спрос, обрабатывают возражения и проводят посетителя по воронке продаж
							.marketing__num-block.marketing__num-block__custom
								.digital-transformation__card-num.text-warning.font-weight-bold
									small
										small
											small.font-weight-bold 284 880 000 руб.
								.h5.text-warning  в год приносит сайт клиенту
							a(href="https://www.completo.ru/razrabotka-sajta/" target="_blank").btn.btn-warning.marketing__btn Подробнее об услуге
				#analytics(role="tabpanel" aria-labelledby="analytics-tab").tab-pane
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-3
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?time_continue=877&v=PJXLw_R3z9Q").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-6.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white Сквозная аналитика
										p.text-white.marketing__desktop-text
											strong Владимир Давыдов
											br
											span совладелец Комплето
									.col-6.d-flex.align-items-end.h-100
										img(src="picture/upload/5.png", alt="").w-100
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text  Делали её из топора, а теперь разрабатываем методологию оценки digital-аналитиков РАЭК. ROI, LTV и другие важные показатели вы увидите на визуализированных отчётах
							.marketing__num-block.marketing__num-block__custom
								.digital-transformation__card-num.text-warning.font-weight-bold
									small
										small.font-weight-bold за 4 месяца
								.h5.text-warning   система окупается
							a(href="https://www.completo.ru/analytics/" target="_blank").btn.btn-warning.marketing__btn Подробнее об услуге
				#seo(role="tabpanel" aria-labelledby="seo-tab").tab-pane
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-4
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?v=ck2GogvXtMk").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-6.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white SEO от спроса рынка
										p.text-white.marketing__desktop-text
											strong Михаил Фёдоров
											br
											span совладелец Комплето
									.col-6.d-flex.align-items-end.h-100
										img(src="picture/upload/6.png", alt="").w-100
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text  Работаем со всеми видами спроса, даже несформированным. Отчётность по динамике спроса в отрасли по позициям, заявкам из органики и конечным продажам
							.marketing__num-block.marketing__num-block__custom
								.digital-transformation__card-num.text-warning.font-weight-bold  на 68%
								.h5.text-warning   выше небрендовый трафик
							a(href="https://www.completo.ru/seo/" target="_blank").btn.btn-warning.marketing__btn Подробнее об услуге
				#sell(role="tabpanel" aria-labelledby="sell-tab").tab-pane
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-5
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?v=0-jlm9leHKo").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-8.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white Строим отделы продаж
									.col-4.d-flex.align-items-end.h-100
										img(src="picture/upload/1.png", alt="")
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text  Проводим аудиты, строим колл-центры, настраиваем софт, обучаем сотрудников и отслеживаем их эффективность
							.marketing__num-block.marketing__num-block__custom
								.digital-transformation__card-num.text-warning.font-weight-bold  на 27%
								.h5.text-warning   выросла эффективность менеджеров
				#system(role="tabpanel" aria-labelledby="system-tab").tab-pane
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-6
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?v=EUS7KhS7m9o").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-6.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white Система подогрева клиентов
										p.text-white.marketing__desktop-text
											strong Андрей Гавриков
											br
											span гендиректор Комплето
									.col-6.d-flex.align-items-end.h-100
										img(src="picture/upload/4.png", alt="").w-100
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text  Уникальная система подогрева клиентов по&nbsp;стадиям принятия решения
							.marketing__num-block.marketing__num-block__custom
								.digital-transformation__card-num.text-warning.font-weight-bold  в 87 раз
								.h5.text-warning   выше  конверсия в продажу
							a(href="https://www.completo.ru/salesfarm/" target="_blank").btn.btn-warning.marketing__btn Подробнее об услуге
			.marketing__slick.d-block.d-md-none
				.slick-slider-mob
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-1
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?v=6arDnjClcd0").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-6.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white Стратегия маркетинга и продаж
											p.text-white.marketing__desktop-text
												strong Андрей Гавриков
												br
												span гендиректор Комплето
										.col-6.d-flex.align-items-end.h-100
											img(src="picture/upload/4.png", alt="").w-100
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text Изучаем бизнес-процессы, рынок, продукт, спрос, находим УТП и выдаем план по цифровому увеличению продаж
								.marketing__num-block
									.digital-transformation__card-num.text-warning.font-weight-bold 426
									.h5.text-warning стратегий разработали
								a(href="https://www.completo.ru/digital-strategy/" target="_blank").btn.btn-warning.marketing__btn Подробнее об услуге
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-2
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?v=2H6sGCQMLNg").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-6.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white Сайты как инструмент бизнеса
											p.text-white.marketing__desktop-text
												strong Владимир Давыдов
												br
												span совладелец Комплето
										.col-6.d-flex.align-items-end.h-100
											img(src="picture/upload/2.png", alt="").w-100
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text  Сайты встроены в маркетинговую стратегию, разработаны под спрос, обрабатывают возражения и проводят посетителя по воронке продаж
								.marketing__num-block.marketing__num-block__custom
									.digital-transformation__card-num.text-warning.font-weight-bold
										small
											small
												small.font-weight-bold 284 880 000 руб.
									.h5.text-warning  в год приносит сайт клиенту
								a(href="https://www.completo.ru/razrabotka-sajta/" target="_blank").btn.btn-warning.marketing__btn Подробнее об услуге
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-3
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?time_continue=877&v=PJXLw_R3z9Q").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-6.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white Сквозная аналитика
											p.text-white.marketing__desktop-text
												strong Владимир Давыдов
												br
												span совладелец Комплето
										.col-6.d-flex.align-items-end.h-100
											img(src="picture/upload/5.png", alt="").w-100
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text  Делали её из топора, а теперь разрабатываем методологию оценки digital-аналитиков РАЭК. ROI, LTV и другие важные показатели вы увидите на визуализированных отчётах
								.marketing__num-block.marketing__num-block__custom
									.digital-transformation__card-num.text-warning.font-weight-bold
										small
											small.font-weight-bold за 4 месяца
									.h5.text-warning   система окупается
								a(href="https://www.completo.ru/analytics/" target="_blank").btn.btn-warning.marketing__btn Подробнее об услуге
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-4
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?v=ck2GogvXtMk").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-6.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white SEO от спроса рынка
											p.text-white.marketing__desktop-text
												strong Михаил Фёдоров
												br
												span совладелец Комплето
										.col-6.d-flex.align-items-end.h-100
											img(src="picture/upload/6.png", alt="").w-100
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text  Работаем со всеми видами спроса, даже несформированным. Отчётность по динамике спроса в отрасли по позициям, заявкам из органики и конечным продажам
								.marketing__num-block.marketing__num-block__custom
									.digital-transformation__card-num.text-warning.font-weight-bold  на 68%
									.h5.text-warning   выше небрендовый трафик
								a(href="https://www.completo.ru/seo/" target="_blank").btn.btn-warning.marketing__btn Подробнее об услуге
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-5
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?v=0-jlm9leHKo").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-8.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white Строим отделы продаж
										.col-4.d-flex.align-items-end.h-100
											img(src="picture/upload/1.png", alt="")
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text  Проводим аудиты, строим колл-центры, настраиваем софт, обучаем сотрудников и отслеживаем их эффективность
								.marketing__num-block.marketing__num-block__custom
									.digital-transformation__card-num.text-warning.font-weight-bold  на 27%
									.h5.text-warning   выросла эффективность менеджеров
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-6
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?v=EUS7KhS7m9o").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-6.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white Система подогрева клиентов
											p.text-white.marketing__desktop-text
												strong Андрей Гавриков
												br
												span гендиректор Комплето
										.col-6.d-flex.align-items-end.h-100
											img(src="picture/upload/4.png", alt="").w-100
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text  Уникальная система подогрева клиентов по&nbsp;стадиям принятия решения
								.marketing__num-block.marketing__num-block__custom
									.digital-transformation__card-num.text-warning.font-weight-bold  в 87 раз
									.h5.text-warning   выше  конверсия в продажу
								a(href="https://www.completo.ru/salesfarm/" target="_blank").btn.btn-warning.marketing__btn Подробнее об услуге