section.system-generate-sites
	.container
		.row
			.col-md-12
				h2.mb-4
					span Как система генерирует 
					span.heading-gradient уникальные сайты?
		.row
			.col-lg-7.col-md-6
				.system-generate-sites__img-block
					img(src="picture/upload/graph-img.png", alt="").system-generate-sites__img
			.col-lg-5.col-md-6
				h5.mt-4 Никак.
				p Прежде чем ваши дилеры за 10 минут получат красивый сайт с уникальным контентом, проработанным спросом, телефонией, аналитикой, управляемым каталогом, мы:
				.gradient-text.mt-4 3 месяца
				p средний срок создания одного сайта
				.gradient-text.mt-4 10 минут
				p и наша система сделает крутой сайт для дилера
		.row.mt-4
			.col-xl-3.col-md-6.mb-3
				.system-generate-sites__card
					.d-flex.align-items-center.mb-2
						.system-generate-sites__card-num 1
						i.icon.icon-analysis.text-warning.h1.font-weight-normal.mb-0
					p.font-weight-bold.mb-2 Разработаем ТЗ системы.
					p Функционал, интеграции с сервисами, конфигурация системы под ваши задачи
			.col-xl-3.col-md-6.mb-3
				.system-generate-sites__card
					.d-flex.align-items-center.mb-2
						.system-generate-sites__card-num 2
						i.icon.icon-growth.text-warning.h1.font-weight-normal.mb-0
					p.font-weight-bold.mb-2 Проработаем маркетинг.
					p УТП продукции, тексты, SEO
			.col-xl-3.col-md-6.mb-3
				.system-generate-sites__card
					.d-flex.align-items-center.mb-2
						.system-generate-sites__card-num 3
						i.icon.icon-internet.text-warning.h1.font-weight-normal.mb-0
					p.font-weight-bold.mb-2 Нарисуем дизайн.
					p Интерфейс, стиль, иконки
			.col-xl-3.col-md-6.mb-3
				.system-generate-sites__card
					.d-flex.align-items-center.mb-2
						.system-generate-sites__card-num 4
						i.icon.icon-website-2.text-warning.h1.font-weight-normal.mb-0
					p.font-weight-bold.mb-2 Обеспечим техбазу.
					p Разработка, верстка, тестинг