.remove
	.remove-paralax.animation(data-animate="fadeInLeft") Digital-marketing
	.container
		.row
			.col-md-9
				.remove__sub-title.sub-title.text-uppercase.d-inline What else?
		.row.mb-4.mt-4
			.col-md-8.col-lg-8
				.h4.mb-2.remove-main-title Efficient remote operation
				p.remove-secondary-title.mb-5 Completo can be your own distant department. We use Cloud Systems to manage our projects. It means that all specialists will be under control.
				button.btn.btn-warning.remove__btn(data-scroll="new-form-main").data-scroll Order a consultation
			.col-md-4.col-lg-4.d-none.d-md-flex.align-items-start.justify-content-center
				.remove-mouse-paralax
					img(src="picture/upload/location.svg", alt="").remove-mouse-paralax__img
					.remove-mouse-paralax__block.rounded-circle