.primary-head.contact-us__head
	.container-fluid.primary-head-container.h-100
		.row.h-100.align-items-end
			.col-lg-4.col-md-4.d-none.d-md-block
				img(src="picture/upload/contact-us-concept-2.png", alt="").contact-us__head-left-img
			.ml-md-5.col-md-7.col-lg-6.col-xl-6.pb-5
				.row
					.col-md-12.d-flex.justify-content-end 
						img(src="picture/upload/phone-frame-min.svg", alt="").contact-us__head-small-img
				.row.align-items-center
					.col-lg-6.contact-us__head-title-block 
						.h1.main-title.primary-head__title.mb-3.contact-us__head-title Контакты
						.mb-lg-4
							.primary-title.contact-us__head-title-min ООО «Маркетинговая <br> группа Комплето» 
						.d-none.align-items-center.pt-lg-5.d-lg-flex 
							p.mb-0.mr-3 Давайте дружить:
							ul.footer__social-link.d-flex.pl-0.list-unstyled.mb-0
								li.mr-3
									+social-link('https://www.facebook.com/completo.ru/', 'facebook-svgrepo-com.svg')
								li.mr-3
									+social-link('https://vk.com/completoru', 'iconmonstr-vk-1.svg')
								li.mr-3
									+social-link('https://www.linkedin.com/company/completo/', 'iconmonstr-linkedin-1.svg')
								li.mr-3
									+social-link('https://www.instagram.com/completo.ru/', 'iconmonstr-instagram-11.svg')
					.col-lg-6 
						img(src="picture/upload/about-us-screen.png", alt="").w-100.contact-us__head-img
						.d-block.d-lg-none.text-center 
							p.mb-3.mr-3 Давайте дружить:
							ul.footer__social-link.d-flex.pl-0.list-unstyled.mb-0.justify-content-center
								li.mr-3
									+social-link('https://www.facebook.com/completo.ru/', 'facebook-svgrepo-com.svg')
								li.mr-3
									+social-link('https://vk.com/completoru', 'iconmonstr-vk-1.svg')
								li.mr-3
									+social-link('https://www.linkedin.com/company/completo/', 'iconmonstr-linkedin-1.svg')
								li.mr-3
									+social-link('https://www.instagram.com/completo.ru/', 'iconmonstr-instagram-11.svg')
