section.seo-system.seo-system-dark
	.container
		.row
			.col-md-12
				h2.h2.mb-4.text-white
					span Дотянемся до вашей 
					span.yellow-red(data-text="аудитории") аудитории 
					span где бы она ни была
		.row
			.col-lg-12.mb-2
				p.text-white Наш подход к ведению контекстной рекламы от Комплето:
		.row
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/strategy.svg", alt="")
					p.text-white Дадим рекламу по точным адресам ваших клиентов
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/planning.svg", alt="")
					p.text-white Запустим рекламу по email адресам / по телефонной базе ваших клиентов
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/internet.svg", alt="")
					p.text-white Запустим рекламу по заменителям, если прямого спроса еще нет
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/thumb_up.svg", alt="")
					p.text-white Обнаружим вашу аудиторию по интересам, образованию, поведению и профессии
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/analysis-seo.svg", alt="")
					p.text-white Запустим рекламу на определенный психологический профиль
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/profit.svg", alt="")
					p.text-white Разместим рекламу по аудитории ваших конкурентов
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/scroll.svg", alt="")
					p.text-white Проведем сбор mac-адресов на тематических выставках, форумах и позже дадим рекламу на эту аудиторию
			.col-lg-3.col-md-6.mb-3
				.seo-system__card.p-3.text-center.h-100
					.seo-system__card-img
						img(src="picture/upload/planning_2.svg", alt="")
					p
						span.font-weight-bold.text-warning Полная аналитика: 
						span считаем эффективность до заявок и продаж*
		.row
			.col-lg-3.col-md-6.mb-3
				p.text-white
					small * если есть сквозная аналитика