.bg-warning.py-5
	.container
		.row
			.col-lg-3
				.h4.text-white.mb-2 Пример digital-стратегии 
					span.text-dark для иностранной IT-компании, которая выходит на российский рынок
			.col-lg-9
				+slick-example('karta.jpg', 'prognoz.jpg', 'put.jpg')