.subscribe__card {
	border: 1px solid $yellow;
	box-shadow: 7px 7px 0 0 $yellow;
	background-color: white;
	padding: 35px;
	height: 100%;
	&-with-img {
		height: calc(100% - 266px);
	}
	&-img-teach {
		height: 266px;
		object-fit: contain;
		object-position: center bottom;
		&-min {
			height: 230px;
		}
	}
	&-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1;
		color: transparent;
		-webkit-text-stroke: 2px $yellow;
		text-stroke: 2px $yellow;
	}
}