.container-fluid.d-none.d-xl-block.overflow-hidden.videocourse-2-bloquote-img-block 
	.row 
		.col-md-12.d-flex.justify-content-end.align-items-center.px-0
			img(src="picture/upload/video-2-hand.png", alt="").videocourse-2-bloquote-hand
.videocourse-2-bloquote
	img(src="picture/backgrounds/video-2-bg-bloquote.jpg", alt="").videocourse-2-bloquote-bg
	.container
		.row
			.col-md-12
				.d-flex.mb-4
					.dealers-level__card-icon-block
						i.icon.dealers-level__card-icon.icon-complect.text-white
					.dealers-level__bloquote.dealers-level__bloquote-sm.mt-5.mt-md-0
						p.mb-3
							span.text-secondary.font-weight-bold Хотите научиться строить 
								span.text-white прибыльный 
								span интернет-маркетинг? 
							br
							span.h4.font-weight-normal.text-white Пройдите курс «Директор по Digital-маркетингу!
			.col-md-12.col-lg-8
				.d-sm-flex.align-items-center
					img(src="picture/upload/video-2-maed.png", alt="").videocourse-2-bloquote-maed.d-block.mb-4.mb-sm-0
					span.h4.font-weight-normal.text-white.mb-0.ml-sm-4 Вы можете пройти онлайн-обучение и получить европейский диплом в нашем центре онлайн-обучения 
						span.text-secondary «MaEd»

