section.traffic
	.container
		.row
			.col-md-12
				.payback__card
					h2.h2 Уменьшится ли трафик на новом сайте?
					.row
						.col-xl-8.col-lg-9.d-none.d-md-block.mb-4
							.traffic__graph-container
								.traffic__graph
									.traffic__graph-x.text-white Сеансы, тыс
									.traffic__graph-x-item.traffic__graph-x-item-1
									.traffic__graph-x-item.traffic__graph-x-item-2
									.traffic__graph-x-item.traffic__graph-x-item-3
									.traffic__graph-x-item.traffic__graph-x-item-4
									.traffic__graph-x-item.traffic__graph-x-item-5
									.traffic__graph-x-item.traffic__graph-x-item-6
									.traffic__graph-y.text-white Месяцы
									.traffic__graph-y-item.traffic__graph-y-item-1 Янв
									.traffic__graph-y-item.traffic__graph-y-item-2 Фев
									.traffic__graph-y-item.traffic__graph-y-item-3 Мар
									.traffic__graph-y-item.traffic__graph-y-item-4 Апр
									.traffic__graph-y-item.traffic__graph-y-item-5 Май
									.traffic__graph-y-item.traffic__graph-y-item-6 Июн
									.traffic__graph-y-item.traffic__graph-y-item-7 Июл
									.traffic__graph-y-item.traffic__graph-y-item-8 Авг
									.traffic__graph-y-item.traffic__graph-y-item-9 Сен
									.traffic__graph-y-item.traffic__graph-y-item-10 Окт
									.traffic__graph-y-item.traffic__graph-y-item-11 Ноя
									.traffic__graph-y-item.traffic__graph-y-item-12 Дек
									img(src="picture/upload/graph_block10.png", alt="").traffic__graph-img
									.traffic__graph-mark Запуск нового сайта от Комплето
						.col-lg-3.col-xl-4
							.h2.mb-4.form-h2
								span.yellow-border.text-uppercase Нет!
									span.border-container.animation.visible.animated(data-animate="newline")
							p.font-weight-bold Сайт проектируем под спрос в интернете, а структура страниц строится на основе запросов пользователей.
							p Поэтому сайт будет изначально оптимизирован под поисковые системы. Трафик со старого сайта сохранится, а со временем вырастет: мы проработаем весь спрос, откроем новые сегменты аудитории и соберем самое полное семантическое ядро.
							button.btn.btn-warning.data-scroll.mt-4.mb-4(data-scroll="form-content") Заказать сайт в Комплето

