.saas {
	@include media-breakpoint-up(sm) {
		padding-top: 3rem;
	}
	&__sub-title {
		@include media-breakpoint-down(sm) {
			padding-top: 1.5rem;
		}
	}
	&-container {
		width: 875px;
		padding-bottom: 30px;
	}
	&__container {
		position: relative;
	}
	&__card {
		border: 1px solid $yellow;
		background-image: url('../picture/upload/pattern-yellow.png');
		width: 260px;
		height: 300px;
		margin: 15px;
		border-radius: 4px;
		position: relative;
		a {
			text-decoration: none !important;
			color: black !important;
		}
		&:hover {
			&:before {
				opacity: 0;
			}
		}
		> * {
			position: relative;
			z-index: 1;
		}
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			background-image: url('../picture/upload/pattern.png');
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
			transition: 0.3s ease all;
			border-radius: 4px;
		}
		&-circle {
			height: 161px;
			width: 164px;
			background-color: white;
			border-bottom-left-radius: 100%;
			margin-left: auto;
			margin-top: 4px;
			margin-right: 4px;
			&-img {
				height: 45px;
				object-fit: contain;
				max-width: 145px;
				&-1 {
					margin-left: 30px;
					margin-top: 40px;
				}
				&-2 {
					margin-left: 50px;
					margin-top: 50px;
				}
				&-3 {
					margin-left: 75px;
					margin-top: 45px;
				}
				&-4 {
					margin-left: 50px;
					margin-top: 55px;
					width: 96px;
					height: 25px;
				}
				&-5 {
					color: $yellow;
					font-size: 60px;
					margin-left: 70px;
					margin-top: 30px;
					display: inline-block;
				}
			}
		}
		&-text {
			&-container {
				padding: 0 23px;
			}
		}
		&-title {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 15px;
			margin-top: 10px;
		}
	}
}