.bg-warning.py-5
	.container
		.row
			.col-lg-3.d-flex.flex-column.justify-content-between
				.d-block
					.h4.text-white.mb-2 Пример сайта.
					.h4.mb-2 Строительная техника Komatsu
					a(href="https://www.behance.net/gallery/70730765/posadochnaja-dlja-stroitelnoj-tehniki-Komatsu/" target="_blank").h4.text-underline Кейс
				.d-flex.slick-example-margin
					img(src="picture/upload/el_black_graph.svg", alt="").mr-2.slick-example-margin-img
					.d-block
						.h6.mb-0 Стоимость лида снизилась
						p.mb-0.slick-example-text в
							span.h1 2
							span раза
			.col-lg-9
				+slick-example('komec1.jpg', 'komec2.jpg', 'komec3.jpg')