.bg-light-yellow.mobile-dark-theme.overflow-hidden
	.container.py-5.my-4.position-relative
		.row 
			.col-lg-8
				h2.h2__b2b.mb-4.form-h2.text-uppercase.mb-lg-5
					span Настраиваем  
					span.yellow-border.nowrap-text прогрев клиентов
						span.border-container.animation.visible.animated(data-animate="newline")
				.row 
					.col-md-3.mb-4
						+check__dot('SalesFarm - система', 'подогрева клиентов')
					.col-md-3.mb-4
						+check__dot('Account-', 'Based Marketing')
					.col-md-3.mb-4
						+check__dot('Social', 'Media Marketing')
					.col-md-3.mb-4
						+check__dot('Проведение', 'онлайн-мероприятий')
					.col-md-3.mb-4
						+check__dot('Online', 'Reputation Marketing')
					.col-md-3.mb-4
						+check__dot('Контент-', 'маркетинг')
					.col-md-3.mb-4
						+check__dot('CRM-', 'маркетинг')
					.col-md-3.mb-4
						+check__dot('E-mail-', 'маркетинг')
				.d-block.d-sm-none
					.bg-dark-yellow.p-3.h5.mb-4
						span.font-weight-normal В B2B не покупают сразу - воронка продаж сложнее и требует глубокой и точной работы для 
						span вовлечения и лояльности потенциальных клиентов.
				.d-lg-none.position-relative
					.h4.mb-4
						span.font-weight-normal Для прогрева мы выстраиваем персонализированные
						br
						span.yellow-border.nowrap-text цепочки во всех каналах:
							span.border-container.animation.visible.animated(data-animate="newline")
					.row.mb-4
						.col-md-6 
							ul.pl-0.mb-0.font-weight-bold.list-unstyled
								li.mb-4 1. Социальные сети
								li.mb-4 2. Яндекс.Дзен и Mail@Пульс
								li.mb-4 3. E-mail и мессенджеры
								li.mb-4 4. СМИ и медиа
						.col-md-6 
							ul.pl-0.mb-0.font-weight-bold.list-unstyled
								li.mb-4 5. Онлайн/офлайн мероприятия
								li.mb-4 6. Блог
								li.mb-4 7. Онлайн-чаты и pop-up
								li.mb-4 8. Отзовики
				.row.d-none.d-sm-flex.pt-4
					.col-md-12
						.bg-dark-yellow.p-3.h5.mb-4
							span.font-weight-normal В B2B не покупают сразу - воронка продаж сложнее и требует глубокой и точной работы для 
							span вовлечения и лояльности потенциальных клиентов.
			.col-lg-4.d-none.d-lg-block
				.position-relative
				img(src="picture/upload/b2b__pepper.svg", alt="").b2b__right-quote.b2b__right-quote-big
				.h4.form-h2.mb-4
					span.font-weight-normal Для прогрева мы выстраиваем персонализированные
					br
					span.yellow-border цепочки во всех каналах:
						span.border-container.animation.visible.animated(data-animate="newline")
				.row.mb-4
					.col-md-6 
						ul.pl-0.mb-0.font-weight-bold.list-unstyled
							li.mb-4 1. Социальные сети
							li.mb-4 2. Яндекс.Дзен и Mail@Пульс
							li.mb-4 3. E-mail и мессенджеры
							li.mb-4 4. СМИ и медиа
					.col-md-6 
						ul.pl-0.mb-0.font-weight-bold.list-unstyled
							li.mb-4 5. Онлайн/офлайн мероприятия
							li.mb-4 6. Блог
							li.mb-4 7. Онлайн-чаты и pop-up
							li.mb-4 8. Отзовики
		.row.pt-sm-4
			.col-lg-7
				.row.align-items-end
					.col-lg-5.mb-4 
						span.h4
							span.yellow-border.nowrap-text Внедрение 
								span.border-container.animation.visible.animated(data-animate="newline")
							span.yellow-border.nowrap-text инструментов
								span.border-container.animation.visible.animated(data-animate="newline")
							br
						span.h5.font-weight-normal прогрева позволяет:
					.col-lg-7
						.row
							.col-md-6.mb-4
								span.h5.font-weight-normal в 
								span.h3.h3__big.form-h2
									span.yellow-border.nowrap-text 4
										span.border-container.animation.visible.animated(data-animate="newline")
									span 
								span.h5.font-weight-normal раза
								p.mb-0
									small увеличить конверсию в заявку
							.col-md-6.mb-4
								span.h5.font-weight-normal в 
								span.h3.h3__big.form-h2
									span.yellow-border.nowrap-text 2
										span.border-container.animation.visible.animated(data-animate="newline")
									span 
								span.h5.font-weight-normal раза
								p.mb-0
									small увеличить конверсию в продажу
			.col-lg-3 
					button.btn.btn-warning.px-4.b2b__header__btn-full.d-none.d-md-inline-block.data-scroll(data-scroll="form-content")
						span Настроить прогрев
					button.btn.btn-dark.px-4.b2b__header__btn-full.d-inline-block.d-md-none.data-scroll(data-scroll="form-content")
						span Настроить прогрев
		.row.pt-sm-4.pt-5.align-items-end
			.col-lg-3.mb-3.pb-3
				.h4.mb-md-4.mb-0 Как мы это делаем, читайте в наших кейсах:
				a(href="#").btn.btn-warning.px-4.d-none.d-md-inline-block.text-warning
					span.text-dark Все кейсы по прогреву клиентов
			.col-lg-9
				.d-md-none
					.slick-slider-mob.b2b__slider-mob.mb-4
						+b2b-case('Rectangle_2875.jpg', 'alta-2.png', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
						+b2b-case('Rectangle_2876.jpg', 'logo_site.svg', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
						+b2b-case('Rectangle_2877.jpg', 'Motorola_new_logo.svg', 'Разработка landing-page для сбора заявок в России заявок в России и Европе для СИБУР')
					a(href="#").btn.btn-dark.px-4.b2b__header__btn-full
						span Все кейсы по прогреву клиентов
				.row.d-none.d-md-flex
					.col-md-4.mb-4
						+b2b-case('Rectangle_2875.jpg', 'alta-2.png', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
					.col-md-4.mb-4
						+b2b-case('Rectangle_2876.jpg', 'logo_site.svg', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
					.col-md-4.mb-4
						+b2b-case('Rectangle_2877.jpg', 'Motorola_new_logo.svg', 'Разработка landing-page для сбора заявок в России заявок в России и Европе для СИБУР')