.py-5.price-consulting
	.container.my-md-4
		.row
			.col-md-12
				.price-consulting__icon-block
					img(src="picture/upload/wallet-icon.svg", alt="").price-consulting__icon
				h2.mb-5.pb-4.form-h2
					span.yellow-border Стоимость работ:
						span.border-container.animation.visible.animated(data-animate="newline")
		.row.price-consulting__block
			.col-lg-6.d-flex.align-items-end.price-consulting__block-item.price-consulting__block-item-center.pr-lg-5.mb-sm-5.mb-lg-0.pb-sm-4.pb-lg-0.mb-0.pb-0
				.price-consulting__num.ml-2 50
				.price-consulting__text тыс. руб.
			.col-md-6.text-center.my-4.d-sm-none
				img(src="picture/upload/Group_2941.png", alt="").price-consulting__img
			.col-lg-6.d-flex.align-items-end.pl-md-5.mb-5.mb-lg-0.price-consulting__block-item-center
				.price-consulting__text.ml-xl-4 до
				.price-consulting__num.mx-2 75
				.price-consulting__text тыс. руб.
		.row.mt-md-5
			.col-md-12.d-flex.justify-content-center
				button.btn.btn-warning.data-scroll.mt-4.mb-4.d-block.px-xl-5(data-scroll="form-content") Развить бизнес