section.decision
	.container
		.row
			.col-md-12.col-xl-8
				p.h4.decision__green-text.mb-0 Решение есть!
				h2.mb-1
					span.heading-gradient Система дилерских сайтов —
				p.h4.decision__green-text контролируйте онлайн-продажи по всей стране
		.row.mt-4
			.col-xl-4.col-lg-5.col-md-6
				.d-flex.align-items-start.mb-3
					i.h1.font-weight-normal.text-warning.icon.icon-cursor-2.mr-3
					.decision-container
						h4 Качественные сайты по всей сети
						p Фирменный дизайн, проработка УТП, свой номер телефона
				.d-flex.align-items-start.mb-3
					i.h1.font-weight-normal.text-warning.icon.icon-internet-2.mr-3
					.decision-container
						h4 Быстрое развитие партнерской сети
						p Удобный функционал системы — отличный бонус для дилера
				.d-flex.align-items-start.mb-3
					i.h1.font-weight-normal.text-warning.icon.icon-market-3.mr-3
					.decision-container
						h4 Контекстная реклама в один клик
						p Кампании уже настроены — только внеси деньги
			.col-xl-8.col-lg-7.col-md-6
				img(src="picture/backgrounds/dealer-systems.png", alt="").decision__img.decision__img-1
section.decision-1
	.container.decision-1-container
		.row.mt-4
			.col-xl-7.col-lg-6.col-md-6.mb-4
				.d-flex.align-items-center.justify-content-center.h-100
					img(src="picture/backgrounds/notebook.png", alt="").decision__img.decision__img-2
			.col-xl-4.col-lg-5.col-md-6.mb-4
				.d-flex.align-items-start.mb-3
					i.h1.font-weight-normal.text-warning.icon.icon-feature.mr-3
					.decision-container
						h4 Удобный функционал для работы с сайтом
						p Дилерам не нужно знать вёрстку и программирование
				.d-flex.align-items-start.mb-3
					i.h1.font-weight-normal.text-warning.icon.icon-graphic.mr-3
					.decision-container
						h4 Единый каталог для всех продавцов
						p Дилер только установит наценку и выгрузит на сайт
				.d-flex.align-items-start
					i.h1.font-weight-normal.text-warning.icon.icon-computer.mr-3
					.decision-container
						h4 Порядок и гарантированный рост онлайн-продаж
						p Даже если дилеры продают не только вашу продукцию
section.decision-2
	.container
		.row.mt-4
			.col-xl-4.col-lg-5.col-md-6.mb-4
				.d-flex.flex-column.justify-content-center.h-100
					.d-flex.align-items-start.mb-3
						i.h1.font-weight-normal.text-warning.icon.icon-analysis-2.mr-3
						.decision-container
							h4 Больше регионального SEO-трафика
							p Уникальные сайты с региональной оптимизацией, которые не забанит Яндекс
					.d-flex.align-items-start
						i.h1.font-weight-normal.text-warning.icon.icon-analysis.mr-3
						.decision-container
							h4 Отчетность по всем партнерам
							p Звонки, заявки, деньги в одном дашборде
			.offset-xl-1.offset-lg-1.col-xl-7.col-lg-6.col-md-6.mb-4
				.decision__img-container
					img(src="picture/upload/graph-img.png", alt="")
