section.deadlines
	.paralax-item.paralax-item-2
		img(src="picture/upload/dotted-group.png", alt="")
	.container
		.row
			.col-md-12.col-lg-10
				h2.mb-4.h2 Сроки создания сайта: прозрачная система планирования
				p В процессе создания сайтов участвуют более 10 разных специалистов, поэтому мы очень четко планируем все работы в менеджере проектов JIRA:
		.row.mt-4
			.col-lg-4.col-md-6
				p.font-weight-bold.mb-4 После защиты стратегии начинаем подробно планировать работы по проекту:
				ol.pl-3
					li.mb-2 Проект разделяем на услуги
					li.mb-2 Каждую услугу делим на задачи
					li.mb-2 Продумываем соподчиненность задачи и услуг
					li.mb-2 Оцениваем, сколько времени занимает каждая задача
					li.mb-2 Визуализируем процесс разработки на диаграмме Ганта
				button.btn.btn-warning.data-scroll.mt-4.mb-5(data-scroll="form-content") Хочу работать по системе
			.col-lg-8.col-md-6
				.deadlines__video.mb-4
					video(autoplay muted).w-100
						source(src="picture/upload/graph_11.webm" type='video/webm; codecs="vp8, vorbis"')
						source(src="picture/upload/graph_11.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
				p.text-right Гант по проекту клиента в системе управления JIRA