.case-detail-header
	.case-detail-header__top
		.case-detail-header__top-bg
			img(src="../../picture/backgrounds/cases-detail-head-bg.png")
		.container
			.case-detail-header__top-logo
				img(src="../../picture/upload/cases-detail-client-logo.jpg", alt="")
			.case-detail-header__top-content
				span.case-detail-header__top-shild Кейс
				h1.case-detail-header__top-title.text-white Обновление сайта
					br
					|«Альта-Профиль»
				.case-detail-header__top-subtitle.text-white Полностью обновили код и разработали дизайн сайта alta-profil.ru.
					br
					| Сделали его удобнее, быстрее и информативнее для пользователей.
	.container
		.case-detail-header__info
			.case-detail-header__info-element
				.case-detail-header__info-element-title.text-white Отрасль
				a(href='#').case-detail-header__info-element-text  Производство и дистрибьютеры
			.case-detail-header__info-element
				.case-detail-header__info-element-title.text-white Услуга
				a(href='#').case-detail-header__info-element-text  Разработка сайта
			.case-detail-header__info-element
				.case-detail-header__info-element-title.text-white Стек
				a(href='#').case-detail-header__info-element-text  B2C маркетинг
				a(href='#').case-detail-header__info-element-text  B2B маркетинг
			.case-detail-header__info-element
				.case-detail-header__info-element-title.text-white Сайт клиента
				a(href='#').case-detail-header__info-element-text  www.alta-profil.ru
	.container
		.case-detail-header__authors
			.case-detail-header__authors-title.text-white Авторы кейса
			.custom-scrollbar.case-detail-header__authors-list.text-white
				.d-flex
					.case-detail-header__authors-list-element
							.case-detail-person
								.case-detail-person__img
									img(src="../../picture/upload/author-1.png")
								.case-detail-person__info
									.case-detail-person__name Александра Тихомирова
									.case-detail-person__position Специалист отдела трафика
					.case-detail-header__authors-list-element
							.case-detail-person
								.case-detail-person__img
									img(src="../../picture/upload/author-2.png")
								.case-detail-person__info
									.case-detail-person__name Сергей Сухоплюев
									.case-detail-person__position Руководитель отдела трафика
					.case-detail-header__authors-list-element
							.case-detail-person
								.case-detail-person__img
									img(src="../../picture/upload/author-3.png")
								.case-detail-person__info
									.case-detail-person__name Роман Цветков
									.cases-detail-person__position Коммерческий директор, управляющий партнер

a(href="#" data-scroll="form-content").data-scroll.new-cases__fixed
	span.new-cases__fixed-circle
		img(src="../../picture/upload/speech-bubble.svg", alt="")
	span.new-cases__fixed-text.text-dark Обсудить задачу с Комплето

