section.traffic
	.container
		.row
			.col-md-12
				.payback__card
					h2.h2 Что дальше делать с digital-стратегией?
					.row
						.col-xl-8.col-lg-7.d-none.d-md-block.mb-4
							.traffic-graph-container
								img(src="picture/upload/image15.gif", alt="").w-100
						.col-lg-5.col-xl-4
							.h2.mb-4.form-h2 Внедрять по шагам!
							p.font-weight-bold Вы можете реализовывать стратегию силами своей компании, с отдельными подрядчиками или довериться нам.
							p Для наших клиентов разработка стратегии - только первый этап, дальше все работы также делаем мы. В нашем штате есть специалисты всех квалификаций: маркетологи, дизайнеры, разработчики, SEOшники, контекстологи, таргетологи, копирайтеры, аналитики - для своих клиентов мы делаем весь комплекс работ интернет-маркетинга.
							button.btn.btn-warning.data-scroll.mt-4.mb-4(data-scroll="form-content") Заказать стратегию в Комплето

