.company-job
	.container
		h2 Работа в COMPLETO
		a.company-job__link(href="#!") Подробнее о работе в комплето
	.container
		.company-job__wrapper
			.company-job__block
				.company-job__block-fio
					.company-job__block-name Екатерина Кобзарь
					.company-job__block-position HR-директор
				.company-job__block-photo
					img(src="picture/upload/company/job-face.png", alt="")
				.company-job__block-text Комплексная система обучения и адаптации поможет вам полнстью раскрыть свой потенциал в Комплето. Мы вместе создаем команду, с которой не только комфортно работать и достигать впечатляющих результатов, но и весело отдыхать!
			.company-job__photo 
				.company-job__photo-item.company-job__photo-item_1
					img(src="picture/upload/company/team-1.png", alt="")
				.company-job__photo-item.company-job__photo-item_2
					img(src="picture/upload/company/team-2.png", alt="")
				.company-job__photo-item.company-job__photo-item_3
					img(src="picture/upload/company/team-3.png", alt="")
				.company-job__photo-item.company-job__photo-item_4
					img(src="picture/upload/company/team-4.png", alt="")
				.company-job__photo-item.company-job__photo-item_5
					img(src="picture/upload/company/team-5.png", alt="")

			.company-job__photo.company-job__photo_mobile.company-slider-mob
				.company-job__photo-item.company-job__photo-item_1
					img(src="picture/upload/company/team-1.png", alt="")
				.company-job__photo-item.company-job__photo-item_2
					img(src="picture/upload/company/team-2.png", alt="")
				.company-job__photo-item.company-job__photo-item_3
					img(src="picture/upload/company/team-3.png", alt="")
				.company-job__photo-item.company-job__photo-item_4
					img(src="picture/upload/company/team-4.png", alt="")
				.company-job__photo-item.company-job__photo-item_5
					img(src="picture/upload/company/team-5.png", alt="")