.new-cases-we-do
	.container
		.row
			.col-md-12
				h2.h1.mt-5.mb-4.text-white Как мы это сделали
		.row
			.col-md-12
				.bg-white.mb-5.animation.visible(data-animate="big_shadow")
					.row.justify-content-center
						.col-lg-10.col-md-12.pt-5.pb-3
							.new-cases-we-do__content
								.new-cases-we-do__content__title-main.mb-3 1. Анализ поискового спроса в интернете
								p.mb-5.new-cases-we-do__text.new-cases-we-do__text-1 Аэросани - это штучный товар и конкретно их ищет очень мало людей. По направлению аэросани около 24000 показов в месяц в высокий сезон, а по товарам-заменителям, таким как аэролодки, снегоходы, вездеходы, болотоходы и прочее около 1 млн показов. Можно использовать спрос на товары заменители, чтобы привести трафик на товар для нашего заказчика. Структура спроса позволяет разработать структуру будущего сайта и стратегию электронного маркетинга.
							.new-cases-we-do__content
								.new-cases-we-do__content__title-main.mb-3.pt-5 Комментарий эксперта:
								.new-cases-we-do__content
								.new-cases-we-do__quote.new-cases-tasks__quote.mt-4
									.new-cases-tasks__quote-left
										.new-cases-tasks__quote-avatar
											.new-cases-tasks__quote-avatar-img
												img(src="../../picture/upload/sergey.png", alt="")
										.new-cases-tasks__quote-under-text
											h6.mb-0.mt-2 Сергей Сухоплюев
											p.mb-0
												small руководитель отдела трафика
									.new-cases-tasks__quote-right.new-cases-tasks__quote-right-big
										p «​При ограниченном поисковом спросе продвижение товаров - заменителей - отличый вариант расширить семантическое ядро, кроме того, можно пойти дальше: создание мини - сайтов под каждый товар - заменитель увеличивает количество занимаемых в ТОПе мест и дает дополнительный охват.»


				.bg-white.mb-5.animation.visible(data-animate="big_shadow")
					.row.justify-content-center
						.col-lg-10.col-md-12.pt-5.pb-3
							.new-cases-we-do__content
								.new-cases-we-do__content__title-main.mb-3 2. Исследование целевой аудитории и проработка УТП для сегментов
								p.mb-5.new-cases-we-do__text Выяснили, что есть несколько аудиторий: МЧС, охотники, нефтяники, экстремалы, рыболовы. У каждого сегмента есть свои специфические ожидания. Поэтому для каждого сегмента продумано отдельное УТП.

							.new-cases-we-do__container.new-cases-we-do__container-1.d-flex.align-items-center.justify-content-center.flex-column
								.new-cases-we-do__tablet.new-cases-result__tablet.animation.visible(data-animate="big_shadow")
									.new-cases-result__tablet-display
										img(src="../../picture/upload/case-amfibia-2.png", alt="")
								p.mb-4.new-cases-we-do__undertext Примеры УТП для отдельных сегментов ЦА
				.bg-white.mb-5.animation.visible(data-animate="big_shadow")
					.row.justify-content-center
						.col-lg-10.col-md-12.pt-5.pb-3
							.new-cases-we-do__content
								.new-cases-we-do__content__title-main.mb-3 3. Работа с контент-маркетингом
								p.mb-5.new-cases-we-do__text Параллельно с созданием сайта начинаем работы по контент-маркетингу: Youtube, Социальные сети, Статьи на тематических ресурсах (охота и рыбалка).
							.new-cases-we-do__container.new-cases-we-do__container-1.d-flex.align-items-center.justify-content-center.flex-column
								.new-cases-we-do__tablet.new-cases-result__tablet.animation.visible(data-animate="big_shadow")
									.new-cases-result__tablet-display
										img(src="../../picture/upload/case-amfibia-3.png", alt="")
								p.mb-4.new-cases-we-do__undertext Скриншот нашего контента на сторонних порталах
							.new-cases-we-do__content
								.new-cases-we-do__content__title-main.mb-3.pt-5 Комментарий эксперта:
								.new-cases-we-do__content
								.new-cases-we-do__quote.new-cases-tasks__quote.mt-4
									.new-cases-tasks__quote-left
										.new-cases-tasks__quote-avatar
											.new-cases-tasks__quote-avatar-img
												img(src="../../picture/upload/roman.png", alt="")
										.new-cases-tasks__quote-under-text
											h6.mb-0.mt-2 Роман Цветков
											p.mb-0
												small руководитель проекта
									.new-cases-tasks__quote-right.new-cases-tasks__quote-right-big
										p «​С учетом отсутствия спроса на продукт контент маркетинг был выбран как один из основных каналов продвижения»

				.bg-white.mb-5.animation.visible(data-animate="big_shadow")
					.row.justify-content-center
						.col-lg-10.col-md-12.pt-5.pb-3
							.new-cases-we-do__content
								.new-cases-we-do__content__title-main.mb-3 4. Разработка прототипов страниц
								p.mb-5.new-cases-we-do__text Прототип это низкоуровневый дизайн сайта. В прототипах определяется какой контент закладывается в сайт, какие графические объекты и где должны быть расположены. Такой подход позволяет быстро собрать маркетинговый каркас сайта и согласовать с клиентом. В итоге был разработан документ на 47 страниц с заданием на дизайн сайта

							.new-cases-we-do__container.new-cases-we-do__container-1.d-flex.align-items-center.justify-content-center.flex-column
								.new-cases-we-do__tablet.new-cases-result__tablet.animation(data-animate="big_shadow")
									.new-cases-result__tablet-display
										img(src="../../picture/upload/case-amfibia-4.png", alt="")
								p.mb-4.new-cases-we-do__undertext Примеры прототипов будущего сайта
				.bg-white.mb-5.animation.visible(data-animate="big_shadow")
					.row.justify-content-center
						.col-lg-10.col-md-12.pt-5.pb-3
							.new-cases-we-do__content
								.new-cases-we-do__content__title-main.mb-3 5. Дизайн сайта
								p.mb-5.new-cases-we-do__text В результате на основании прототипов и технического задания был создан уникальный дизайн.
							.new-cases-we-do__container.new-cases-we-do__container-1.d-flex.align-items-center.justify-content-center.flex-column
								.new-cases-we-do__tablet.new-cases-result__tablet.animation.visible(data-animate="big_shadow")
									.new-cases-result__tablet-display
										img(src="../../picture/upload/case-amfibia-5.png", alt="")
								p.mb-4.new-cases-we-do__undertext Дизайн сайта
				.bg-white.mb-5.animation.visible(data-animate="big_shadow")
					.row.justify-content-center
						.col-lg-10.col-md-12.pt-5.pb-3
							.new-cases-we-do__content
								.new-cases-we-do__content__title-main.mb-3 6. Верстка сайта
								p.mb-5.new-cases-we-do__text Над версткой работали 4 специалиста в течение 3 месяцев, прошли 7 итераций правок и 3 недели согласований.
							.new-cases-we-do__container.new-cases-we-do__container-1.d-flex.align-items-center.justify-content-center.flex-column
								.new-cases-we-do__tablet.new-cases-result__tablet.animation.visible(data-animate="big_shadow")
									.new-cases-result__tablet-display
										img(src="../../picture/upload/case-amfibia-6.png", alt="")
								p.mb-4.new-cases-we-do__undertext Пример ТЗ на верстку сайта
				.bg-white.animation.visible(data-animate="big_shadow")
					.row.justify-content-center
						.col-lg-10.col-md-12.pt-5.pb-3
							.new-cases-we-do__content
								.new-cases-we-do__content__title-main.mb-3 7. SEO оптимизация
								p.new-cases-we-do__text Провели SEO оптимизацию созданного сайта. Настроили ЧПУ, прописали title, description, скорректировали тексты под требования поисковиков. Не брендовый поисковый трафик вырос на 68%. Показатель отказов упал на 22%.
							.new-cases-we-do__container.new-cases-we-do__container-1.d-flex.align-items-center.justify-content-center.flex-column
								.new-cases-we-do__tablet.new-cases-result__tablet.animation.visible(data-animate="big_shadow")
									.new-cases-result__tablet-display
										img(src="../../picture/upload/case-amfibia-7.png", alt="")
								p.mb-4.new-cases-we-do__undertext Результаты по SEO
		.row
			.col-md-12
				h2.h1.mt-5.mb-4.text-white Итоги
		.row
			.col-md-12
				.bg-white.mb-5.animation.visible(data-animate="big_shadow")
					.row.justify-content-center
						.col-lg-10.col-md-12.pt-5.pb-3
							.new-cases-we-do__content
								ul.mb-5.new-cases-we-do__text.new-cases-we-do__text-1
									li Загрузили производство на 1.5 года вперед.
									li Собрали спрос на аэросани из поиска при условии, что его раньше вообще не было. Среднее количество посетителей в месяц увеличилось более чем в 3 раза.
									li Запустили сквозную аналитику.
								p.ul.mb-5.new-cases-we-do__text.new-cases-we-do__text-1 В целом, проект удался!
