section.about__wrapper
	.container
		.row
			.col-xl-10
				.h2.mb-4.about_h2 О 
					span.yellow-border Комплето
						span.border-container.animation.visible.animated(data-animate="newline")
		.row
			.col-lg-4.col-md-6
				p.mb-4 Маркетинговая группа «Комплето» строит комплексный интернет-маркетинг для успешных компаний. У нас лучшая в России экспертиза для:
				ul.pl-0
					li B2B-компаний
					li Производителей с сетями дилеров
					li Поставщиков сложных товаров и услуг
				button.btn.btn-warning.data-scroll.mb-4(data-scroll='form-content') Поговорить с нами
			.col-lg-8.col-md-6
				.about__clients.about__clients-rounded.animate(data-animate='big_shadow__black')
					h3.h5.about__clients__title С кем мы работаем:
					.row
						.col-4.col-lg-3
							img(src='picture/upload/image_26.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_27.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_28.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_29.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_30.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_31.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_32.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_33.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_34.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_35.png' alt)
						.col-4.col-lg-3
							img(src='picture/upload/image_36.png' alt)
						.col-4.col-lg-3
							h4.text-dark И ещё
							h2.text-secondary 85
							h4.text-dark клиентов
		.row.about__row-number
			.col-md-12
				h3.mb-3 Комплето в цифрах:
			.col-md-3.col-6.m-b-l.mb-3
				.about__num.about__num-1.g-glitch(data-glitch='5') 5
				p.about__p-1.mt-2 выделенных команд под проект
			.col-md-3.col-6.m-b-l.mb-3
				.about__num.about__num-2.g-glitch(data-glitch='6') 6
				p.about__p-2.mt-2 лет — средний срок сотрудничества с клиентами
			.col-md-3.col-6.m-b-l.mb-3
				.about__num.about__num-3.g-glitch(data-glitch='426') 426
				p.about__p-3.mt-2 реализованных стратегий электронного маркетинга
			.col-md-3.col-6.m-b-l.mb-3
				.about__num.about__num-4.g-glitch(data-glitch='586') 586
				p.about__p-4.mt-2 студентов выпустили в своем центре «Маркетинговое образование»
			.col-md-3.col-6.m-b-l
				.about__num
					span.about__absolute на 
					span.g-glitch(data-glitch='146%') 146%
				p.mt-2 погружаемся в ваш бизнес
			.col-md-3.col-6.m-b-l
				.about__num.about__num-5.g-glitch(data-glitch='226+') 226+
				p.about__p-5.mt-2 кейсов опубликовали
			.col-md-3.col-6.m-b-l
				.about__num.about__num-6.g-glitch(data-glitch='20+') 20+
				p.about__p-6.mt-2 лет опыта в маркетинге
			.col-md-3.col-6.m-b-l
				.about__num.about__num-7.g-glitch(data-glitch='100+') 100+
				p.about__p-7.mt-2 специалистов в компании