.position-relative.pb-sm-5.pt-md-5.contact-us__map.mt-lg-5
	img(src="picture/upload/dealers-hand.png", alt="").dealers-fast__absolute-img
	.container.my-md-4
		.row
			.col-md-12.col-lg-10.col-xl-8
				h2.h2.mb-4.mb-md-5.form-h2.form-h2-new
					span.yellow-border Мы на карте
						span.border-container.animation.visible.animated(data-animate="newline")
			.col-md-12
				div(style='position:relative;overflow:hidden;')
					a(href='https://yandex.ru/maps/org/completo/1218472498/?utm_medium=mapframe&utm_source=maps' style='color:#eee;font-size:12px;position:absolute;top:0px;') Completo
					a(href='https://yandex.ru/maps/213/moscow/category/internet_marketing/184105738/?utm_medium=mapframe&utm_source=maps' style='color:#eee;font-size:12px;position:absolute;top:14px;') Интернет-маркетинг в Москве
					a(href='https://yandex.ru/maps/213/moscow/category/advertising_agency/184107180/?utm_medium=mapframe&utm_source=maps' style='color:#eee;font-size:12px;position:absolute;top:28px;') Рекламное агентство в Москве
					iframe(src='https://yandex.ru/map-widget/v1/-/CCUMNIFM8B' width='560' height='400' frameborder='1' allowfullscreen style='position:relative;').contact-us__map-block