.contact-us {
	&__map {
		background-image: url('../picture/backgrounds/contact-1921.svg');
		background-repeat: no-repeat;
		background-position: top center;
		@include media-breakpoint-down(sm) {
			background-image: none;
		}
		&-block {
			width: 100%;
			height: 480px;
			border: none;
			@include media-breakpoint-down(sm) {
				height: 250px;
			}
		}
	}
}