.green-red {
	position: relative;
	z-index: 3;
	&:before,
	&:after {
		content: attr(data-text);
		opacity: 0.8;
		position: absolute;
		white-space: nowrap;
	}
	&:before {
		color: #00D97E;
		z-index: -1;
		top: 0;
		left: -3px;
	}
	&:after {
		color: #FF0000;
		z-index: -2;
		top: 7px;
		left: -5px;
	}
}

.yellow-red {
	position: relative;
	z-index: 3;
	&:before,
	&:after {
		content: attr(data-text);
		opacity: 0.8;
		position: absolute;
		white-space: nowrap;
	}
	&:before {
		color: $yellow;
		z-index: -1;
		top: 0;
		left: -3px;
	}
	&:after {
		color: #FF0000;
		z-index: -2;
		top: 7px;
		left: -5px;
	}
}

.form-container-seo {
	background-color: #f3f3f3;
}