.power
	.power-paralax.animation(data-animate="fadeInLeft") integration
	.container
		.row
			.col-md-9
				.power__sub-title.sub-title.text-uppercase.d-inline В чем сила
		.row.mb-4.mt-4
			.col-md-7.col-lg-8
				.h4.mb-2.power-main-title Интеграция с любыми программными системами
				p.power-secondary-title.mb-5 Даже самописными
				button.btn.btn-warning.power__btn(data-scroll="new-form-main").data-scroll Обсудить интеграцию
			.col-md-5.col-lg-4.d-none.d-md-flex.justify-content-center.align-items-center
				.power-mouse-paralax
					img(src="picture/upload/icon-ipad.png", alt="").power-mouse-paralax__img
					.power-mouse-paralax__block