section.seo-cases
	.container
		.row
			.col-xl-10
				h2.h2.mb-4.mt-4.d-none.d-md-block
					span Уникальные 
					span.green-red(data-text="кейсы") кейсы 
					span.green-red(data-text="SEO") SEO
					span -продвижения
					br
					span от наших специалистов
				h2.h2.mb-4.mt-4.d-block.d-md-none
					span Уникальные 
					br
					span.green-red(data-text="кейсы") кейсы 
					span.green-red(data-text="SEO") SEO
					span -продвижения
					br
					span от наших специалистов
		.row
			.col-lg-6
				p.mb-4 Лучшие результаты нашей работы — когда SEO приносит реальные продажи, генерирует заказы и формирует спрос там, где его не было.
		.row
			.col-lg-3.col-md-6.mb-3
				a(href="https://blog.completo.ru/kejs-seo-stranicy-kotorye-prinesli-50-millionov-rublej/" target="_blank").seo-system__card-traffic
					.seo-system__card-traffic-img
						img(src="picture/upload/quality_1.jpg", alt="").w-100
					.seo-system__card-traffic-foot
						p.mb-4.seo-system__card-traffic-text Работа с низкочастотном трафиком
						.seo-system__card-traffic-foot-item
							.h2.text-warning.mb-0 +2 016
							p.text-warning.mb-2 продаж за год
			.col-lg-3.col-md-6.mb-3
				a(href="http://blog.completo.ru/kak-uluchshit-pozitsii-sayta-v-vyidache-yandeksa-odnorukiy-bandit-nestandartnyiy-keys-kotoryiy-realno-prodaet/" target="_blank").seo-system__card-traffic
					.seo-system__card-traffic-img
						img(src="picture/upload/quality_2.jpg", alt="").w-100
					.seo-system__card-traffic-foot
						p.mb-4.seo-system__card-traffic-text Случайный подборщик товара
						.seo-system__card-traffic-foot-item
							.h2.text-warning.mb-0 +97
							p.text-warning.mb-2 заказов за 2 недели работы
			.col-lg-3.col-md-6.mb-3
				a(href="https://blog.completo.ru/keys-kak-rabotat-s-nesformirovannyim-sprosom/" target="_blank").seo-system__card-traffic
					.seo-system__card-traffic-img
						img(src="picture/upload/quality_3.jpg", alt="").w-100
					.seo-system__card-traffic-foot
						p.mb-4.seo-system__card-traffic-text Работа с несформированным спросом
						.seo-system__card-traffic-foot-item
							.h2.text-warning.mb-0 +68%
							p.text-warning.mb-2 к коммерческому трафику
			.col-lg-3.col-md-6.mb-3
				a(href="https://blog.completo.ru/kak-povysit-trafik-sajta/" target="_blank").seo-system__card-traffic
					.seo-system__card-traffic-img
						img(src="picture/upload/quality_4.jpg", alt="").w-100
					.seo-system__card-traffic-foot
						p.mb-4.seo-system__card-traffic-text Внедрение массовых тегов
						.seo-system__card-traffic-foot-item
							.h2.text-warning.mb-0 +38%
							p.text-warning.mb-2 к органике
		.row
			.col-xl-12.d-flex.justify-content-center
				button.btn.btn-warning.data-scroll.mt-5.mb-5.seo-cases-btn(data-scroll="form-content") Запросить КП
		.row
			.col-md-12.mt-5
				.schema__card-bg
					.container
						.row
							.col-md-12
								h2.h2.text-white.text-center.mb-5 Только белые методы продвижения!
						.row
							.col-md-6.mb-3.schema__card-bg-border
								.row.justify-content-center
									.col-xl-11
										p.text-white.mb-0 Чтобы получить ссылки, мы используем 
											span.text-warning контент-маркетинг 
											span и 
											span.text-warning крауд-маркетинг
											span . На сайт будут ссылаться только те ресурсы, которые можно показать вашей маме. Никаких ссылок с сомнительных сайтов!
							.col-md-6.mb-3
								.row.justify-content-center
									.col-xl-11
										.d-flex.align-items-start
											img(src="picture/upload/letter.svg", alt="").mr-3.d-none.d-sm-block
											p.text-white.mb-0 Статьи курирует редактор. Он привлекает авторов, которые работали в вашей тематике, или берет интервью у экспертов.Так мы создаем не SEO-статьи, а качественные статьи, которые так и хочется читать.
			.row
				.col-md-12.d-flex
					.container.quote.mb-5
						.row.align-items-center.justify-content-center
							.col-lg-3.col-md-4.mb-3
								.quote__img.quote__img-sergey
									img(src="picture/upload/sergey.png", alt="")
								p.font-weight-bold.mb-0.text-center Сергей Сухоплюев,
								p.text-center.mb-0 SEO-специалист Комплето
							.col-xl-7.col-md-8.mb-3
								.quote__text На сайт будут ссылаться только те ресурсы, которые можно показать вашей маме. Никаких ссылок с сомнительных сайтов!
		.row
			.col-md-12.mt-5
				.schema__card-bg.schema__card-bg-space
					.container
						.row
							.col-md-12
								h2.h2.text-white.mb-5 Стоимость
									br
									span.text-warning продвижения сайтов
						.row
							.col-lg-8
								p.text-white.mb-4 Мы работаем с бюджетом от 75 тыс.руб/мес. Вы можете выбрать фиксированный тариф или формат работы по KPI — в этом случае вы платите нам сниженную ежемесячную ставку + 20% при достижении поставленных планов по трафику и лидам.
						.row
							.col-md-6.col-lg-4.col-xl-3.mb-4
								.schema__card-bg-white
									.h4.font-weight-normal Тариф MIN
									p.mb-0 75 000 руб/мес
							.col-md-6.col-lg-4.col-xl-3.mb-4
								.schema__card-bg-white
									.h4.font-weight-normal Тариф MAX
									p.mb-0 150 000 руб/мес
						.row
							.col-md-12.col-lg-8.mt-4
								.h5.text-white Различия тарифов
								p.text-white Отличаются только количеством часов наших специалистов, которые мы выделяем на проект. Чем больше часов в месяц выделяется на проект, тем быстрее можно достичь успехов в поисковом продвижении.
								button.btn.btn-warning.data-scroll.mt-5.mb-5.seo-cases-btn(data-scroll="form-content") Запросить предложение

