.company-values 
	.container
		.d-flex
			.company-values__left
				h2 Ценности компании
				.company-values__text Это значит, что у каждого сотрудника есть достаточные полномочия и мотивация, чтобы быть максимально полезным и решать большинство проблем на своем уровне.
			.company-values__right
				.d-flex.align-items-center.w-100.justify-content-end.mb-3
					.company-values__cloud-text.company-values__cloud-text_md Fun
					.company-values__cloud-text.company-values__cloud-text_sm Честность
				.d-flex.align-items-center.w-100.justify-content-end.mb-3
					.company-values__cloud-text.company-values__cloud-text_md Человеческие отношения
				.d-flex.align-items-center.w-100.justify-content-end.mb-3
					.company-values__cloud-text.company-values__cloud-text_lg Самостоятельность
					.company-values__cloud-text.company-values__cloud-text_sm Полезность
				.d-flex.align-items-center.w-100.justify-content-end.mb-3
					.company-values__cloud-text.company-values__cloud-text_md Интересная работа
					.company-values__cloud-text.company-values__cloud-text_sm Эффективность
				.d-flex.align-items-center.w-100.justify-content-end.mb-3
					.company-values__cloud-text.company-values__cloud-text_sm Свобода
					.company-values__cloud-text.company-values__cloud-text_md Ответственность
				.d-flex.align-items-center.w-100.justify-content-end.mb-3
					.company-values__cloud-text.company-values__cloud-text_sm Деньги
					.company-values__cloud-text.company-values__cloud-text_md Команда