.py-5.schema__dark
	.container.my-md-4
		.row.align-items-center
			.col-md-12.col-xl-10
				.h2.text-white.mb-4.form-h2 Каждый месяц вы получаете подробный отчет от специалиста отдела трафика
			.col-lg-6.col-md-8
				p.text-white.mb-4 Мы адаптируем отчетность под нужды вашей компании, избавляясь от непонятных и сложных показателей для того, чтобы ответить на вопросы которые волнуют именно вас:
				ul.pl-4.mb-4.text-white
					li.mb-2 Как не слить рекламный бюджет?
					li.mb-2 Что нужно сделать, чтобы оптимизировать стратегию продвижения и от каких рекламных инструментов отказаться?
					li.mb-2 Как повысить узнаваемость бренда для увеличения его продаж на сторонних площадках?
					li.mb-2 Что нужно сделать, чтобы вывести новый товар на рынок и сформировать на него спрос?
					li.mb-2 Где найти новую аудиторию, если старая перестала платить?
				p.text-white.mb-4 И так далее.
				p.text-white.mb-4 Также мы готовы делиться отчетностью каждые два дня, регулярность согласовывается индивидуально.
			.col-lg-6.col-md-4
				img(src="picture/upload/performance-graphic.png", alt="").w-100
		.row.mt-5
			.col-md-12.col-xl-10
				.h2.text-white.mb-4.form-h2
					span C нами можно работать по 
					span.yellow-red.text-white.double-text(data-text="KPI") KPI 
					span ?
				p.mb-5.text-white По услугам, где предполагаются числовые медиапланы (контекст/ таргет) мы готовы работать с KPI.
			.col-md-6.col-lg-3.mb-4
				.schema__dark-card.schema__dark-card-1
					.h4.font-weight-normal.text-white
						u 50% цены <br> базовый платеж
			.col-md-6.col-lg-3.mb-4
				.schema__dark-card.schema__dark-card-2
					.h4.font-weight-normal.text-white
						u 25% цены <br> если не достигли
			.col-md-6.col-lg-3.mb-4
				.schema__dark-card.schema__dark-card-3
					.h4.font-weight-normal.text-white
						u 25% цены <br> если достигли
			.col-md-6.col-lg-3.mb-4
				.schema__dark-card.schema__dark-card-4
					.h4.font-weight-normal.text-white
						u 25% цены <br> если перевыполнили
		.row.my-4
			.col-md-12.mb-md-5
				p.text-white.mb-4 При невыполнении плана - 75% стоимости
				p.text-white.mb-4 При выполнении плана - 100% стоимости
				p.text-white.mb-4 При перевыполнении плана - 125% стоимости
		.row
			.col-md-12
				.schema__card-bg.schema__card-bg-space.mb-5
					.container
						.row
							.col-md-12
								h2.h2.text-white.mb-5.form-h2 Мы работаем с бюджетом
									br
									span.text-warning от 75000 руб./мес.
						.row
							.col-lg-8
								p.text-white.mb-4 Закажите бесплатную консультацию от наших экспертов прямо сейчас и узнайте, как вы можете увеличить эффективность текущей рекламы или создать с нуля прибыльную рекламную кампанию.
								button.btn.btn-warning.data-scroll.mt-5.mb-5.seo-cases-btn(data-scroll="form-content") Заказать консультацию
