section.steps-plan.pt-5
	.container
		.row
			.col-md-12
				h2.h2.mb-5.form-h2
					span.yellow-border Пошаговый план действий
						span.border-container.animation.visible.animated(data-animate="newline")
					br
					span на выходе
		.row
			.col-xl-4.col-lg-5.col-md-6.mb-4
				p.mb-4 Вы получите подробнейший план работы для каждого инструмента интернет-маркетинга:
				ol.pl-3.mb-5
					li.mb-2 Какие каналы приоритетны для вашего бизнеса
					li.mb-2 Какое ТЗ выдать специалистам по SEO, веб-мастерам, рекламщикам и др.
					li.mb-2 Какие результаты вы сможете получить
					li.mb-2 В какой очередности должны выполняться задачи для полного успеха
					li.mb-2 Сколько нужно денег, специалистов и времени на выстраивание системы
				button.btn.btn-warning.data-scroll.mt-4.mb-4(data-scroll="form-content") Хочу работать по системе
			.col-xl-8.col-lg-7.col-md-6.mb-4
				img(src="picture/upload/image43.gif", alt="").w-100.d-block.mb-4.box-shadow-item
				p.text-right Майндкарта с digital-инструментами 

