.what-we-do
	.container
		.row
			.col-md-12
				.sub-title.text-uppercase Направления работы
				.h2.mb-4.what-we-do-main-title Что мы делаем
		.row
			.col-md-6
				.what-we-do__card.what-we-do__card-main.pt-4.pb-4.mb-4.rounded.animation.big_shadow_before.visible(data-animate="big_shadow")
					.what-we-do__display
						.main-section__case-link-circle.what-we-do-btn-prev.what-we-do-btn
							i.icon.icon-arrow-left
						.main-section__case-link-circle.what-we-do-btn-next.what-we-do-btn
							i.icon.icon-arrow-right
						.what-we-do__display-slider
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-1.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Строительная техника
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-2.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Металлургия
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-3.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Бетонные заводы
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-4.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Мед. оборудование
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-5.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Световое
									br
									| оборудование
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-6.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Лабораторные
									br
									| комплексы
							.what-we-do__display-slider-child
								.what-we-do__display-slider-dots
									span
									span
									span
								img(src="picture/upload/Group-7.png", alt="").w-100
								p.h5.text-uppercase.mb-0.what-we-do__card-text.text-white Системные и
									br
									| IT-Генераторы
					.what-we-do__content.what-we-do__content-main
						.what-we-do__content-text.pt-1
							p.what-we-do__title.what-we-do__title-big.mb-2 Digital-трансформация производителей
							p автоматизируем промышленные и B2B-компании
							button.btn.btn-warning(data-scroll="digital-transformation").data-scroll Трансформироваться
			.col-md-6.flex-column.justify-content-between.d-none.d-lg-flex
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.visible(data-animate="big_shadow")
					.what-we-do__card-icon
						i.icon.icon-digital-marketing
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 Digital по системе
							p делаем маркетинг и интернет-продажи
							button.btn.btn-warning.what-we-do__button(data-scroll="marketing").data-scroll Поднять продажи
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.visible(data-animate="big_shadow")
					.what-we-do__card-icon
						i.icon.icon-setting
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 SaaS-сервисы
							p Разработали 6 собственных онлайн-сервисов
							button.btn.btn-warning.what-we-do__button(data-scroll="saas").data-scroll Подробнее
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.visible(data-animate="big_shadow")
					.what-we-do__card-icon
						i.icon.icon-brain
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 Обучение и сертификация
							p 15 онлайн-курсов для руководителей, маркетологов и интернет-специалистов
							button.btn.btn-warning.what-we-do__button(data-scroll="maed").data-scroll Учиться
			.col-md-6.d-flex.d-lg-none.flex-column.justify-content-between
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.data-scroll.visible(data-animate="big_shadow" data-scroll="marketing")
					.what-we-do__card-icon
						i.icon.icon-digital-marketing
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 Digital по системе
							p делаем маркетинг и интернет-продажи
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.data-scroll.visible(data-animate="big_shadow" data-scroll="saas")
					.what-we-do__card-icon
						i.icon.icon-setting
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 SaaS-сервисы
							p Разработали 6 собственных онлайн-сервисов
				.what-we-do__card.mb-4.rounded.pb-4.animation.big_shadow_before.data-scroll.visible(data-animate="big_shadow" data-scroll="maed")
					.what-we-do__card-icon
						i.icon.icon-brain
					.what-we-do__content.pt-4
						.what-we-do__content-text.pt-1
							p.what-we-do__title.mb-2 Обучение и сертификация
							p 15 онлайн-курсов для руководителей, маркетологов и интернет-специалистов
							