.thank-you-page
    img(src="picture/backgrounds/thank-you-bg-mob.png", alt="").w-100.d-block.d-md-none
    img(src="picture/upload/Group_3362.svg", alt="").thank-you-page-absolute-img-1.d-none.d-md-block
    img(src="picture/upload/square-down.svg", alt="").thank-you-page-absolute-img-2.d-none.d-md-block
    img(src="picture/upload/square-mob-down.svg", alt="").thank-you-page-absolute-img-3.d-block.d-md-none
    .container
        .row
            .col-md-12
                img(src="picture/upload/image_244-completo.png", alt="").w-100.thank-you-page-logo.d-none.d-md-block
        .row
            .col-xl-8.col-lg-9.col-md-10
                h1.h2.mb-5.form-h2
                    span.yellow-border Ярослав,
                        span.border-container.animation.visible.animated(data-animate='newline')
                    span
                    span спасибо за обращение!
                .row
                    .col-xl-8.col-lg-10
                        .h4.mb-5.font-weight-normal В течение
                            span.font-weight-bold 2-х часов в рабочее время
                            span с&nbsp;вами свяжется ответственный менеджер.
                p.mb-4 Подпишитесь на полезный контент в чат-ботах Комплето:
                ul.footer__social-link.d-flex.pl-0.list-unstyled.mb-4.pb-2
                    li.mr-3
                        +social-link('https://vk.com/completoru', 'iconmonstr-vk-1.svg')
                    li.mr-3
                        +social-link('#', 'iconmonstr-telegram-1.svg')
                .h5.mb-4 Ознакомьтесь с нашими кейсами:
                .custom-scrollbar
                    .d-flex.justify-content-between
                        +case-block-1('case-img-1.jpg', 'Как сделать охват в соцсетях 1 млн человек для стройматериалов', 'alta-2.png')
                        +case-block-1('case-img-1.jpg', 'Как сделать охват в соцсетях 1 млн человек для стройматериалов', 'alta-2.png')
                        +case-block-1('case-img-1.jpg', 'Как сделать охват в соцсетях 1 млн человек для стройматериалов', 'alta-2.png')
                        +case-block-1('case-img-1.jpg', 'Как сделать охват в соцсетях 1 млн человек для стройматериалов', 'alta-2.png')