section.dealers-problems.bg-white
	.container
		.row
			.col-md-12.col-xl-10
				h2.mb-4.form-h2
					span Какие 
					span.yellow-red.double-text(data-text="инструменты") инструменты 
					span мы используем
				p.mb-4 Мы предоставляем целый комплекс инструментов по каждому направлению.
				p.mb-5 Если окажется, что один из инструментов не подходит под специфику вашего бизнеса, мы выберем подходящий.
		.row.dealers-problems__card-container-main.mobile_slider
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-1
					p.h4.mb-3
						span.text-danger Контекстная 
						span реклама
					p Yandex директ: Поиск, РСЯ, Ретаргетинг.
					p Google adwords: Поиск, КМС, Ремаркетинг
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card
					p.h4.mb-3
						span.text-danger Медийная 
						span реклама
					p Сети Яндекса, Google, RTB
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card
					p.h4.mb-3
						span.text-danger Видеореклама
					p YouTube, Yandex, Таргетинг
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-2
					p.h4.mb-3
						span.text-danger Таргетинг 
						span и 
						span.text-danger SMM
					p Facebook, ВКонтакте, Instagram, Одноклассники и прочие...
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-3
					p.h4.mb-3
						span.text-danger Контент-
						span маркетинг
					p Публикации в СМИ, партнерский маркетинг, блог
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card
					p.h4.mb-3
						span.text-danger Мобильная 
						span реклама
					p Yandex, Google, приложения
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card
					p.h4.mb-3
						span Прайс-
						span.text-danger площадки 
						span и 
						span.text-danger агрегаторы
					p Беру, Товары mail.ru, Avito, Yandex маркет и другие
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-4
					p.h4.mb-3
						span И еще много 
						span.text-danger качественных, 
						span но малоизвестных 
						span.text-danger инструментов
		.row
			.col-md-12
				.dealers-problems__main-card.dealers-problems__main-card-new
					+bloquote('Александра Тихомирова', 'специалист отдела трафика', 'tihomirova.png', 'Мы отличаемся комплексным подходом к каждому инструменту. Наше преимущество - это экспертный опыт в продвижении b2b бизнеса, основанный на более чем 10-летнем опыте', true)