.container
	.row
		.col-lg-9.col-md-8
			.row
				.col-lg-4.col-sm-6.mb-4
					+blog-link-min('https://www.seonews.ru/analytics/keys-seo-stranitsy-kotorye-prinesli-50-millionov-rubley-/', 'quality_1.jpg', 'SEO-страницы, которые принесли 50 миллионов рублей')
				.col-lg-4.col-sm-6.mb-4
					+blog-link-min('https://www.searchengines.ru/kak_uvelichit_trafik.html', 'Fedorov_2.jpg', 'Грамотная оптимизация под long-tail запросы')
				.col-lg-4.col-sm-6.mb-4
					+blog-link-min('http://blog.completo.ru/kak-uluchshit-pozitsii-sayta-v-vyidache-yandeksa-odnorukiy-bandit-nestandartnyiy-keys-kotoryiy-realno-prodaet/', 'quality_2.jpg', '«Однорукий бандит» — нестандартный кейс, который реально продает')
				.col-lg-4.col-sm-6.mb-4
					+blog-link-min('https://blog.completo.ru/kejs-seo-stranicy-kotorye-prinesli-50-millionov-rublej/', 'what-b2b-site.jpg', 'Нестандартные кейсы по SEO, связанные с контентом')
				.col-lg-4.col-sm-6.mb-4
					+blog-link-min('http://blog.completo.ru/keys-kak-rabotat-s-nesformirovannyim-sprosom/', 'quality_3.jpg', 'Как мы работаем над несформированным спросом')
				.col-lg-4.col-sm-6.mb-4
					+blog-link-min('http://blog.completo.ru/generator-unikalnyih-saytov-dlya-seti-dilerov/', 'prodvig-diler-5.png', 'Генератор сайтов')
		.col-lg-3.col-md-4.col-6
			a(href="https://www.completo.ru/white-paper/seo/" target="_blank").d-block.position-relative
				.blog-img-book-absolute
					span.text-dark Бонус
				.our-cases__img.mb-3
					img(src="picture/upload/book3.jpg", alt="").w-100
				u.text-dark Скачайте бесплатно  наш чек-лист по SEO-продвижению
	.row.justify-content-center.mt-5.align-items-center
		.col-lg-7
			.h4 Не уверены, что мы сможем помочь вашему бизнесу?
			p.font-weight-bold.mb-3 Закажите обратный звонок — наши специалисты проведут консультацию для вас.
		.col-lg-3
			button.btn.btn-warning.data-scroll.mb-3.seo-cases-btn(data-scroll="form-content") Заказать консультацию