.container.py-5.my-4.position-relative
	h2.h2__b2b.mb-4.form-h2.text-uppercase.mb-lg-5
		span работа в 
		span.yellow-border.nowrap-text COMPLETO
			span.border-container.animation.visible.animated(data-animate="newline")
	a(href="#").custom-b2b__new-link.h5
		span.text-dark Подробнее о работе в комплето
		i.icon.text-dark.icon-arrow-right.h5.ml-2
	.row.align-items-end.justify-content-center
		.col-md-6.col-lg-5.mb-lg-4.mb-5.position-relative.d-flex.align-items-center.absolute-img-work__container
			//- .text-absolute-b2b-work
			//- 	.h5.text-uppercase.mb-2 Екатерина Кобзарь
			//- 	p HR-директор
			img(src="picture/upload/Rectangle+2734.png", alt="").absolute-img-work
			.row.align-items-center
				.col-sm-6.col-xl-5.col-2
					.h5.text-uppercase.mb-2 Екатерина Кобзарь
					p HR-директор
				.col-sm-6.col-xl-7.col-10
					img(src="picture/upload/Group_24171.png", alt="").w-100
				.col-md-12
					p.text-white.py-2.px-3.bg-dark-completo.mb-0 Комплексная система обучения и адаптации поможет вам полностью раскрыть свой потенциал в Комплето. Мы вместе создаем команду, с которой не только комфортно работать и достигать впечатляющих результатов, но и весело отдыхать! 
			//- p.text-white.absolute-text-work-b2b Комплексная система обучения и адаптации поможет вам полностью раскрыть свой потенциал в Комплето. Мы вместе создаем команду, с которой не только комфортно работать и достигать впечатляющих результатов, но и весело отдыхать! 
		.col-md-12.d-block.d-md-none
			.slick-slider-mob.b2b__slider-mob.mb-4
				img(src="picture/upload/Frame_22955.jpg", alt="").b2b__img-max
				img(src="picture/upload/Frame_22954.jpg", alt="").b2b__img-max
				img(src="picture/upload/Frame_22953.jpg", alt="").b2b__img-max
				img(src="picture/upload/Frame_22951.jpg", alt="").b2b__img-max
				img(src="picture/upload/Frame_22952.jpg", alt="").b2b__img-max
		.col-lg-7.mb-4.d-none.d-md-block
			.row.no-gutters
				.col-md-4 
					a(data-fancybox="gallery" href="picture/upload/Frame_22955.jpg").d-block
						img(src="picture/upload/Frame_22955.jpg", alt="").b2b__img-min
					a(data-fancybox="gallery" href="picture/upload/Frame_22954.jpg").d-block
						img(src="picture/upload/Frame_22954.jpg", alt="").b2b__img-min
				.col-md-4
					a(data-fancybox="gallery" href="picture/upload/Frame_22953.jpg").d-block
						img(src="picture/upload/Frame_22953.jpg", alt="").b2b__img-max
				.col-md-4
					a(data-fancybox="gallery" href="picture/upload/Frame_22951.jpg").d-block
						img(src="picture/upload/Frame_22951.jpg", alt="").b2b__img-min
					a(data-fancybox="gallery" href="picture/upload/Frame_22952.jpg").d-block
						img(src="picture/upload/Frame_22952.jpg", alt="").b2b__img-min