.workCompleto {
	&__hr {
		padding: 60px 0;
	}

	@include media-breakpoint-down(lg) {
		&__hr {
			padding: 0 15px;
		}
	}
}

.absolute-img-work {
	right: 0;
	bottom: 0;
	height: 80%;
	position: absolute;
	min-width: 100%;
	object-fit: contain;
	z-index: -1;
	@include media-breakpoint-down(lg) {
		height: 90%;
	}
	// @include media-breakpoint-down(md) {
	// 	&__container {
	// 		height: 340px;
	// 	}
	// }
}

.text-absolute-b2b-work {
	position: relative;
	z-index: 2;
	padding-left: 15px;
	.h5 {
		@include media-breakpoint-down(sm) {
			max-width: 100px;
		}
	}
}

.text-white.absolute-text-work-b2b {
	position: absolute;
	bottom: 20px;
	right: 10px;
	z-index: 2;
	font-size: 12px;
	max-width: 300px;
	margin-bottom: 0;
	@include media-breakpoint-down(lg) {
		right: 0;
	}
	@include media-breakpoint-down(md) {
		bottom: 10px;
	}
	@include media-breakpoint-down(xs) {
		bottom: 20px;
	}
}

.b2b__img {
	&-min {
		height: 170px;
		width: calc(100% - 2px);
		object-fit: cover;
		margin: 1px;
	}
	&-max {
		height: 340px;
		width: calc(100% - 2px);
		object-fit: cover;
		margin: 1px;
	}
}

.text-decoration-none {
	text-decoration: none !important;
}

.bg-dark-completo {
	background-color: #212121;
	border-radius: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	//max-width: 420px;
	@include media-breakpoint-down(lg) {
		position: initial;
	}
	@include media-breakpoint-down(md) {
		max-width: initial;
	}
}