section.make-sites
	.container
		.row
			.col-md-12
				h2.h2.mb-4.form-h2 Лучшая экспертиза по разработке digital-стратегий для 
					span.yellow-border b2b-компаний
						span.border-container.animation.visible.animated(data-animate="newline")
			.col-lg-6.mb-4
				p.font-weight-normal.mb-5 Мы - маркетинговая группа. В штате работает около 30 дипломированных специалистов с европейским дипломом маркетинга NIMA
				.row
					.col-md-6.mb-4
						.h3.text-warning Обучаем
						p в собственном учебном центре
					.col-md-6.mb-4
						.h3.text-warning Разрабатываем
						p digital-стратегии уже более 10 лет
					.col-md-6.mb-4
						.h3.text-warning Сертифицируем
						p маркетологов по европейским стандартам EMC
					.col-md-6.mb-4
						.h3.text-warning Реализуем
						p стратегию после защиты
			.col-lg-6.mb-4
				a(href="https://www.youtube.com/watch?v=YrpgRJnTc9E" data-fancybox).make-sites__video.d-block.mb-3
					img(src="picture/upload/background_davydov.jpg", alt="").w-100
				a(href="https://www.youtube.com/watch?v=YrpgRJnTc9E" data-fancybox).text-underline Смотрите наш мастер-класс об особенностях стратегии для b2b-рынков
