.pt-5
	.container.my-md-5.my-4
		.row
			.col-md-12.my-md-4
				h2.h2.mb-md-5.mb-4.form-h2.form-h2-new 
					span.yellow-border.nowrap-text Кратко
						span.border-container.animation.visible.animated(data-animate="newline")
					span 
					span о нашем опыте в цифрах
		.row.no-gutters
			.col-md-6.col-lg-3.mb-4.mb-lg-3
				.dealers-fast__card.h-100.px-2
					.dealers-fast__card-head
						.dealers-fast__card-head-num 9
					p.mb-0.text-center лет проводим вебинары и онлайн конференции
			.col-md-6.col-lg-3.mb-4.mb-lg-3
				.dealers-fast__card.dealers-fast__card-no-border.h-100.px-2
					.dealers-fast__card-head
						.dealers-fast__card-head-num 624
					p.mb-0.text-center вебинара провели
			.col-md-6.col-lg-3.mb-4.mb-lg-3
				.dealers-fast__card.h-100.px-2
					.dealers-fast__card-head
						.dealers-fast__card-head-num 9 823
					p.mb-0.text-center максимальное количество одновременных слушателей
			.col-md-6.col-lg-3.mb-4.mb-lg-3
				.dealers-fast__card.dealers-fast__card-right-border.dealers-fast__card-top-border.h-100.px-2
					.dealers-fast__card-head
						.dealers-fast__card-head-num 95 745
					p.mb-0.text-center уникальных посетителей наших мероприятий за все время