.by-marketing
	.container
		.row
			.col-md-12
				h3.h3.mb-4 #{result_title}
		.row
			.col-md-6.col-lg-3.mb-4.by-marketing__border-1
				.by-marketing__num в 18 раз
				p.mb-0 увеличилось количество заявок благодаря переработке УТП продукта
			.col-md-6.col-lg-3.mb-4.by-marketing__border-2
				.by-marketing__num на 31%
				p.mb-0 увеличили оборот благодаря 12 новым сегментам целевой аудитории
			.col-md-6.col-lg-3.mb-4.by-marketing__border-1
				.by-marketing__num в 330 раз
				p.mb-0 увеличилась посещаемость ресурса — до 1 млн человек в месяц
			.col-md-6.col-lg-3.mb-4
				.by-marketing__num 8 млн руб
				p.mb-0 сэкономили на рекламу, при этом конверсия выросла в 9 раз
		.row.mt-4.align-items-center
			.col-lg-4.col-md-6.mb-3
				button.btn.btn-warning.data-scroll.mt-4.mb-4(data-scroll="form-content") #{result_btn}
			.col-lg-8.col-md-6.mb-3
				.d-flex.justify-content-end
					a(href="https://www.completo.ru/cases/?_ga=2.147232759.1998974493.1582659695-433447864.1582659695" target="_blank").by-marketing__link
						span Смотреть другие наши кейсы
						svg(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 31.49 31.49' style='enable-background:new 0 0 31.49 31.49;')
							path(d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
