.dealers-problems
	.container
		.row
			.col-md-12
				nav.breadcrumb
					ol.breadcrumb
						li.breadcrumb-item
							a(href="/").text-secondary Главная
						li.breadcrumb-item.active.text-dark(aria-current="page") Система дилерских сайтов
		.row
			.col-md-12.col-xl-8
				h2.mb-4
					span.heading-gradient Что не так
					span 
					span с дилерами?
				p.mb-4 Больше 10 лет мы работаем с компаниями-производителями с сетями дилеров. У таких компаний много проблем:
		.row.dealers-problems__card-container-main.mobile_slider
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-1
					p.h4.mb-3
						span.text-danger Сайты 
						span дилеров не очень
					p Старый дизайн, нет мобильных версий, разный фирстиль...
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card
					p.h4.mb-3
						span.text-danger Каталог 
						span товаров не обновляется
					p Новинки рассылаются по почте, но выгружаются не сразу...
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card
					p.h4.mb-3
						span На сайтах даже в одном регионе 
						span.text-danger разные цены 
					p Дилеры назначают цены без оглядки на рынок...
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-2
					p.h4.mb-3
						span.text-danger Контролировать 
						span всех дилеров невозможно
					p Нет сквозной отчетности, продают не только ваш товар...
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-3
					p.h4.mb-3
						span Продвигаться 
						span.text-danger в регионах 
						span сложно
					p А ведь там — до 70% возможного трафика!
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card
					p.h4.mb-3
						span Прибыль завода обеспечивают 
						span.text-danger дилеры 
					p Пока дилеры не продали всё, они не закажут больше...
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card
					p.h4.mb-3
						span.text-danger Новые дилеры 
						span прибавляются с трудом
					p А как увеличить доходы завода?
			.col-md-6.col-lg-3.dealers-problems__card-container
				.dealers-problems__card.dealers-problems__card-4
					p.h4.mb-3
						span.text-danger Реклама 
						span сама себя не запустит
					p Дилеры не готовы тратить деньги на специалистов...
		.row
			.col-md-12
				.dealers-problems__main-card
					img(src="picture/upload/facepalm.png", alt="").dealers-problems__main-card__img
					.dealers-problems__quote
						.dealers-problems__quote-main-text
							span Все не так...
						.dealers-problems__quote-text Но именно дилеры обеспечивают прибыль завода! Если вы хотите увеличить доход, придётся помогать дистрибьюторам с маркетингом и продажами
