section.best
	.container.quote
		.row
			.col-lg-3.col-md-4.mb-3
				img(src="picture/upload/vladimir.png", alt="").quote__img
				p.font-weight-bold.mb-0.text-center Владимир Давыдов,
				p.text-center.mb-0 главный по цифрам
			.col-xl-7.col-md-8.mb-3
				h3.h3.mb-5 Лучше всех в России разрабатываем стратегии для b2b-компаний с филиальной сетью:
				.row
					.col-lg-4.mb-4.col-sm-6
						.best__circle.mb-3
							img(src="picture/upload/analysis.svg", alt="")
						p Найдем новые сегменты b2b-аудитории
					.col-lg-4.mb-4.col-sm-6
						.best__circle.mb-3
							img(src="picture/upload/retail.svg", alt="")
						p Распишем сложный цикл сделки по этапам
					.col-lg-4.mb-4.col-sm-6
						.best__circle.mb-3
							img(src="picture/upload/good.svg", alt="")
						p Настроим систему привлечения b2b-клиентов.
				.row
					.col-lg-12
						button.btn.btn-warning.data-scroll.mb-4(data-scroll="form-content") Заказать b2b-стратегию