- var title = "Продажи для производителей и поставщиков с дилерской сетью";
doctype html
html(lang="ru")
	head
		include modules/head/index.pug
	body
		.header-black-bg
			include modules/header/index.pug
		include modules/dealers/head/index.pug
		include modules/dealers/dealers-head/index.pug
		include modules/dealers/system-modules/index.pug
		include modules/dealers/internet-system/index.pug
		include modules/dealers/fast/index.pug
		include modules/dealers/level/index.pug
		include modules/dealers/expert/index.pug
		.about__wrapper-razrabotka
			include modules/about/index.pug
		.form-container
			.container#new-form-main
				.row.pt-5.pb-5#form-content
					.col-md-12
						.h2.mb-4.form-h2
							span.yellow-border Обсудить ваши задачи!
								span.border-container.animation.visible.animated(data-animate="newline")
					include modules/form/index.pug
		include modules/footer/index.pug
		include modules/foot/index.pug
