- var title = "Digital marketing and sales transformation for industrial and b2b companies.";
doctype html
html(lang="en")
	head
		include modules/head/index.pug
	body
		include modules/header/index-eng.pug
		include modules/page-english/main-section/index.pug
		include modules/page-english/what-we-do/index.pug
		include modules/page-english/digital-transformation/index.pug
		include modules/page-english/product/index.pug
		include modules/page-english/power/index.pug
		include modules/page-english/cases/index.pug
		include modules/page-english/marketing/index.pug
		include modules/page-english/remove/index.pug
		include modules/page-english/research/index.pug
		include modules/page-english/clients/index.pug
		include modules/page-english/saas/index.pug
		include modules/page-english/maed/index.pug
		include modules/page-english/education/index.pug
		include modules/page-english/webinar/index.pug
		include modules/page-english/blog/index.pug
		include modules/page-english/community/index.pug
		include modules/page-english/follow/index.pug
		.container#new-form-main
			.row.pt-5.pb-5#form-content
				.col-md-12
					.h2.mb-4.form-h2
						span.yellow-border Discuss the task!
							span.border-container.animation.visible.animated(data-animate="newline")
				include modules/form/index-eng.pug
		include modules/footer/index-eng.pug
		include modules/foot/index.pug
