.container.py-5.my-4.position-relative
	.row 
		.col-lg-8.col-xl-7
			h2.h2__b2b.mb-4.form-h2.text-uppercase.mb-lg-5
				span Улучшаем 
				span.yellow-border.nowrap-text отделы продаж
					span.border-container.animation.visible.animated(data-animate="newline")
			.row 
				.col-md-3.mb-4
					+check__dot('Внедрение', 'CRM-систем')
				.col-md-3.mb-4
					+check__dot('Внедрение', 'скриптов')
				.col-md-6.mb-4
					+check__dot('Комплексное решения для', 'производителей с сетью дилеров')
			.d-lg-none.position-relative
				img(src="picture/upload/b2b__qote.svg", alt="").b2b__right-quote
				img(src="picture/upload/Group_24170.png", alt="").w-100.position-relative.z-index-2
				p.h5.mb-2
					span Системный digital-маркетинг 
					span.font-weight-normal должен объединять всю воронку продаж до этапа заключения сделки и upsale.
				p.h5.mb-4
					span.font-weight-normal Стратегия, perfomance и идеальный сайт 
					span не дадут эффекта, если отдел продаж сливает лиды.
				p 
					span.h6.mb-0 Роман Цветков, 
					br
					span.text-opacity-5 коммерческий директор 
					br
					span.text-opacity-5 COMPLETO
			.h4.pt-3.mb-4.pb-lg-3 Чек-лист успешного отдела продаж:
			.row.mb-4
				.col-md-6 
					ul.pl-0.mb-0.font-weight-bold.list-unstyled
						li.mb-4 1. Используете CRM
						li.mb-4 2. Внедрили регламенты и скрипты продаж
						li.mb-4 3. Связали продажи и маркетинг через мотивацию
				.col-md-6 
					ul.pl-0.mb-0.font-weight-bold.list-unstyled
						li.mb-4 5. Проводите аналитику продаж
						li.mb-4 6. Выстроили систему обучения
		.col-lg-4.d-none.d-lg-block.col-xl-5
			.position-relative
				img(src="picture/upload/b2b__qote.svg", alt="").b2b__right-quote
				img(src="picture/upload/Group_24170.png", alt="").w-100.position-relative.z-index-2
				p.h5.mb-2
					span Системный digital-маркетинг 
					span.font-weight-normal должен объединять всю воронку продаж до этапа заключения сделки и upsale.
				p.h5.mb-4
					span.font-weight-normal Стратегия, perfomance и идеальный сайт 
					span не дадут эффекта, если отдел продаж сливает лиды.
				p.b2b__right-text-absolute
					span.h6.mb-0 Роман Цветков, 
					br
					span.text-opacity-5 коммерческий директор 
					br
					span.text-opacity-5 COMPLETO
	.row.pt-sm-4.align-items-end
		.col-lg-9
			.row.align-items-end
				.col-lg-3.mb-4.pb-sm-3
					span.h4.form-h2.mb-3.nowrap-text
						span.yellow-border Выстраивание
							span.border-container.animation.visible.animated(data-animate="newline")
						br
					span.h5.font-weight-normal процессов в ОП позволит:
				.col-lg-9
					.row
						.col-md-3.mb-4
							span.h5.font-weight-normal на
							span.h3.h3__big.form-h2.nowrap-text
								span.yellow-border 36%
									span.border-container.animation.visible.animated(data-animate="newline")
							p.mb-0
								small увеличить продажи на том же потоке заявок
						.col-md-3.mb-4
							span.h5.font-weight-normal до 
							span.h3.h3__big.form-h2.nowrap-text
								span.yellow-border 15%
									span.border-container.animation.visible.animated(data-animate="newline")
							p.mb-0
								small увеличить повторные продажи по вашей базе
						.col-md-3.mb-4
							span.h5.font-weight-normal в
							span.h3.h3__big.form-h2.nowrap-text
								span.yellow-border 1,5
									span.border-container.animation.visible.animated(data-animate="newline")
								span 
							span раз
							p.mb-0
								small сократить срок обработки заявок
						.col-md-3.mb-4
							span.h5.font-weight-normal до 
							span.h3.h3__big.form-h2
								span.yellow-border 30%
									span.border-container.animation.visible.animated(data-animate="newline")
							p.mb-0
								small увеличить повторные продажи из рассылок
		.col-lg-3
				button.btn.btn-warning.px-4.b2b__header__btn-full.mb-5.data-scroll(data-scroll="form-content")
					span Улучшить отдел продаж
	.row.pt-4.align-items-end
		.col-lg-3.mb-3.pb-3
			.h4.mb-md-4.mb-0 Как мы это делаем, читайте в наших кейсах:
			a(href="#").btn.btn-warning.px-4.d-none.d-md-inline-block.text-warning
				span.text-dark Все кейсы улучшению ОП
		.col-lg-9
			.d-md-none
				.slick-slider-mob.b2b__slider-mob.mb-4
					+b2b-case('Rectangle_2875.jpg', 'alta-2.png', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
					+b2b-case('Rectangle_2876.jpg', 'logo_site.svg', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
					+b2b-case('Rectangle_2877.jpg', 'Motorola_new_logo.svg', 'Разработка landing-page для сбора заявок в России заявок в России и Европе для СИБУР')
				a(href="#").btn.btn-warning.px-4.b2b__header__btn-full.text-warning
					span.text-dark Все кейсы улучшению ОП
			.row.d-none.d-md-flex
				.col-md-4.mb-4
					+b2b-case('Rectangle_2875.jpg', 'alta-2.png', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
				.col-md-4.mb-4
					+b2b-case('Rectangle_2876.jpg', 'logo_site.svg', 'Как сделать охват в соцсетях 1 млн. человек для стройматериалов')
				.col-md-4.mb-4
					+b2b-case('Rectangle_2877.jpg', 'Motorola_new_logo.svg', 'Разработка landing-page для сбора заявок в России заявок в России и Европе для СИБУР')