section.dealers#dealers-content
	.container
		.row
			.col-lg-12.col-xl-10
				h2.mb-4
					span Как быть с дилерами?
					br
					span.heading-gradient Вы решаете. Мы даем рабочий инструмент
		.row
			.col-md-12
				.dealers__table.custom-scrollbar
					table.table
						tbody
							tr
								th
								th Модель
									br
									strong Мультибренд
								th Модель
									br
									strong Мультибренд
										br
										| Контроль
								th Модель
									br
									strong Мультибренд
										br
										| Контроль+
								th Модель
									br
									strong
										| Монобренд
										br
										| Контроль
								th Модель
									br
									strong
										| Монобренд
										br
										| Контроль+
							tr
								td Дилеры продают только товар завода
								td
									.table-no ✖ Нет
								td
									.table-no ✖ Нет
								td
									.table-no ✖ Нет
								td
									.table-yes ✔ Да
								td
									.table-yes ✔ Да
							tr
								td Дилеры работают с сайтом
									
								td
									.table-no ✖ Нет
								td
									.table-yes ✔ Да
								td
									.table-no ✖ Нет
								td
									.table-no ✖ Нет
								td
									.table-no ✖ Нет
							tr
								td Завод контролирует дилеров
								td
									.table-no ✖ Нет
								td
									.table-no ✖ Нет
								td
									.table-no ✖ Нет
								td
									.table-yes ✔ Да
								td
									.table-yes ✔ Да
							tr
								td Завод контролирует заявки
								td
									.table-no ✖ Нет
								td
									.table-yes ✔ Да
								td
									.table-yes ✔ Да
								td
									.table-yes ✔ Да
								td
									.table-yes ✔ Да
							tr
								td Завод дает деньги на рекламу
								td
									.table-yes ✔ Да
								td
									.table-no ✖ Нет
								td
									.table-yes ✔ Да
								td
									.table-no ✖ Нет
								td
									.table-yes ✔ Да
		.row
			.col-lg-6.mb-3
				.dealers__card.dealers__card-1
					i.icon.icon-question.text-warning.h1.font-weight-normal.mr-3
					.dealers__card-text
						h3 А что, если дилеры продают не только продукцию бренда?
						p.mb-0 В первую очередь, система заботится о продажах вашей продукции. Но при желании, мы можем сделать так, чтобы дилеры выгружали на сайт продукцию других товарных категорий. Или нет.
			.col-lg-6.mb-3
				.dealers__card.dealers__card-2
					i.icon.icon-website-2.text-warning.h1.font-weight-normal.mr-3
					.dealers__card-text
						h3.text-warning Настроим систему под вас
						p.text-white Мы работаем с дилерскими сетями больше 10 лет и знаем, какие нюансы учесть, чтобы увеличить вашу прибыль
						button.btn.btn-warning.data-scroll.mb-4.mt-2(data-scroll="form-content") Навести порядок у дилеров!
