.new-cases
	.container
		.row.justify-content-between
			.col-md-7.col-lg-6
				.d-flex.flex-column.justify-content-between.h-100.align-items-start
					.new-cases__container
						.new-cases__text Услуга
						h1.new-cases__title.text-white.mt-3.text-uppercase.mb-4 Как повысить
							br
							| в 18 раз количество заявок
							br
							| и загрузить производство на год вперёд
					a(href="#" data-scroll="results").mb-4.new-cases__link.data-scroll Смотреть результаты
			.col-md-5
				.new-cases__bg
					.new-cases__bg-img
					.new-cases__bg-text
						h5.text-white.new-cases__bg-text-title О клиенте&nbsp;&mdash; производитель аэросаней &laquo;Патруль&raquo;
						ul.text-white.list-unstyled.pl-4
							li.mb-3 &#8226; Производство с 2006 года
							li.mb-3 &#8226; «ПАТРУЛЬ» прошел сертификацию в ГИМСе и выпускается серийно
							li.mb-3 &#8226; 300+ машин продано до нас (до 2014 года)
							li.mb-3 &#8226; Поставки по всей России
							li.mb-3 &#8226; Уникальная конструкция, подтвержденная 5 патентами
							li.mb-3 &#8226; Средний чек около 2 000 000 рублей

a(href="#" data-scroll="form-content").data-scroll.new-cases__fixed
	span.new-cases__fixed-circle
		img(src="../../picture/upload/speech-bubble.svg", alt="")
	span.new-cases__fixed-text.text-dark Обсудить задачу с Комплето

