.clients.clients-xs
	.container.mt-md-5
		.row
			.col-md-9
				.sub-title.text-uppercase гордимся клиентами
		.row
			.col-md-12
				h2.h2.mb-4.form-h2
					span.yellow-border Работаем
						span.border-container.animation.visible.animated(data-animate='newline')
					span 
					span с клиентами в среднем 6 лет
		.row
			.col-md-8.col-lg-6
				p Наши клиенты - это производители с сетями дилеров, поставщики сложных товаров и услуг, b2b-компании
		.row
			.col-md-12.clients-container
				.clients-container__custom-scrollbar
					.clients-container__scrollbar
						.d-flex
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/alta-2.png", alt="").clients__card-img
								p.clients__card-text Завод стройматериалов с сетью дилеров
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/torextorex.png", alt="").clients__card-img
								p.clients__card-text Завод стальных дверей с сетью дилеров
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image_29.png", alt="").clients__card-img
								p.clients__card-text Горнодобывающая и металлургическая промышленность
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image_30.png", alt="").clients__card-img
								p.clients__card-text Завод бытовой и химической продукции
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image_136.png", alt="").clients__card-img
								p.clients__card-text Дистрибьютор спецтехники
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/logo_megaflex.svg", alt="").clients__card-img
								p.clients__card-text Производитель изоляционных материалов 
							//.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow").d-block.d-md-none
								img(src="picture/upload/Lafarge_(Unternehmen)_logo.svg", alt="").clients__card-img
								p.clients__card-text Мировой производитель бетона, асфальта
							//.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow").d-block.d-md-none
								img(src="picture/upload/image_42.png", alt="").clients__card-img
								p.clients__card-text Завод стальных дверей
							//.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow").d-block.d-md-none
								img(src="picture/upload/maria.png", alt="").clients__card-img
								p.clients__card-text Производство кухонь и мебели для дома
							//.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow").d-block.d-md-none
								img(src="picture/upload/vectooor2.png", alt="").clients__card-img
								p.clients__card-text Сеть медицинских центров
							//.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow").d-block.d-md-none
								img(src="picture/upload/image_35.png", alt="").clients__card-img
								p.clients__card-text Ведущий производитель мансардных окон
							//.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow").d-block.d-md-none
								img(src="picture/upload/image_36.png", alt="").clients__card-img
								p.clients__card-text Оператор сотовой связи
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image13.png", alt="").clients__card-img
								p.clients__card-text Немецкий хостинг-провайдер, IT и сетевые решения
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image6.png", alt="").clients__card-img
								p.clients__card-text Телекоммуникационная компания
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image16.png", alt="").clients__card-img
								p.clients__card-text Производитель шиноремонтных материалов с дилерской сетью по России и странам СНГ
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image25.png", alt="").clients__card-img
								p.clients__card-text Производитель радиотехники и телекоммуникационного оборудования
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/Motorola_new_logo.svg", alt="").clients__card-img
								p.clients__card-text Производитель сотовых телефонов и раций
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/logo_site.svg", alt="").clients__card-img
								p.clients__card-text Производитель кровельных и фасадных материалов
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/favorit-motors-logo.png", alt="").clients__card-img
								p.clients__card-text Крупнейший автомобильный дилерский холдинг
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/ugg.png", alt="").clients__card-img
								p.clients__card-text Российский оператор корпоративного питания
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/20162619_124_1.png", alt="").clients__card-img
								p.clients__card-text Телекоммуникационная компания
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/logo22.png", alt="").clients__card-img
								p.clients__card-text Лизинговая компания
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/aristo.png", alt="").clients__card-img
								p.clients__card-text Производитель алюминиевого профиля, фурнитуры с дилерской сетью
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/Layer-12.png", alt="").clients__card-img
								p.clients__card-text Завод железобетонных и строительных материалов
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/edim.png", alt="").clients__card-img
								p.clients__card-text Производитель кухонной мебели
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/Layer-8.png", alt="").clients__card-img
								p.clients__card-text Программное обеспечение
						.d-flex.mt-5
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/Lafarge_(Unternehmen)_logo.svg", alt="").clients__card-img
								p.clients__card-text Мировой производитель бетона, асфальта
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image_42.png", alt="").clients__card-img
								p.clients__card-text Завод стальных дверей
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/maria.png", alt="").clients__card-img
								p.clients__card-text Производство кухонь и мебели для дома
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/vectooor2.png", alt="").clients__card-img
								p.clients__card-text Сеть медицинских центров
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image_35.png", alt="").clients__card-img
								p.clients__card-text Ведущий производитель мансардных окон
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image_36.png", alt="").clients__card-img
								p.clients__card-text Оператор сотовой связи
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image12.png", alt="").clients__card-img
								p.clients__card-text Производитель окон
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/logo_transparent.png", alt="").clients__card-img
								p.clients__card-text Сеть магазинов спортивной одежды и инвентаря
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/Mat-i-ditya.png", alt="").clients__card-img
								p.clients__card-text Сеть медицинских центров
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image40.png", alt="").clients__card-img
								p.clients__card-text Дата-центры, сетевое оборудование
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image7.png", alt="").clients__card-img
								p.clients__card-text Международная IT-компания, разработчик программного обеспечения
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/image43.png", alt="").clients__card-img
								p.clients__card-text Разработчик программного обеспечения
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/owen_logo-1024x298.png", alt="").clients__card-img
								p.clients__card-text Производитель оборудования для автоматизации с сетью дилеров
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/logo_small3.png", alt="").clients__card-img
								p.clients__card-text Асфальтобетонные заводы
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/Logo_IVF_Hartmann.png", alt="").clients__card-img
								p.clients__card-text Медицинские изделия и расходные материалы
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/logointerflora.png", alt="").clients__card-img
								p.clients__card-text Международная доставка цветов
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/Layer-9.png", alt="").clients__card-img
								p.clients__card-text Кондитерская фабрика
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/lapino.png", alt="").clients__card-img
								p.clients__card-text Сеть клинических госпиталей
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/unipharm-logo-color.png", alt="").clients__card-img
								p.clients__card-text Фармацевтическая компания
							.clients__card.animation.big_shadow_before.visible(data-animate="big_shadow")
								img(src="picture/upload/Layer-7.png", alt="").clients__card-img
								p.clients__card-text Сеть спортивных клубов
		.row.mb-sm-4.justify-content-between.mt-4
			.col-md-4.col-sm-6.mb-4
				button.btn.btn-warning.clients__btn(data-scroll="new-form-main").data-scroll Стать клиентом
			.col-md-4.col-sm-6.d-sm-flex.align-items-center.justify-content-end.mb-0.mb-sm-4
				a(href="#").clients__link.d-inline-flex.align-items-center.mt-4.mt-sm-0
					i.icon.icon-case
					u.d-inline-block.mx-1 Больше клиентов
					small
						i.icon.icon-arrow-right