.py-5.overflow-hidden.position-relative
	.container.my-md-4
		.row
			.col-md-12
				nav.breadcrumb
					ol.breadcrumb
						li.breadcrumb-item
							a(href="/").text-secondary Главная
						li.breadcrumb-item.active.text-dark(aria-current="page") Digital-стратегия
			.col-md-12
				h2.h2.mb-4.form-h2 Что такое 
					span.yellow-border digital-стратегия
						span.border-container.animation.visible.animated(data-animate="newline")
					br
					| и зачем она нужна?
		.row
			.col-lg-6.mb-4
				p.font-weight-normal.mb-5 Интернет - это не рекламный канал, а целый виртуальный мир, в котором представлена ваша компания. Вот почему интернет-маркетинг должен быть интегрирован с маркетинговой стратегией вашей компании. Digital-стратегия свяжет цели бизнеса со всеми онлайн-каналами и поможет вам увеличить прибыль бизнеса. 
					br
					| Вам нужна digital-стратегия, если:
				.row
					.col-md-6
						ul.mb-0.pl-3
							li.text-warning.mb-2
								span.text-dark Вы не знаете свой 
									strong лучший канал привлечения
							li.text-warning.mb-2
								span.text-dark Вы поработали с подрядчиками, но 
									strong результаты не устраивают
							li.text-warning.mb-2
								span.text-dark Вы хотите 
									strong снизить стоимость привлечения
									span , но не знаете как (и возможно ли?)
							li.text-warning.mb-2
								span.text-dark Вы хотите сделать ваше 
									strong торговое предложение привлекательным 
									span для аудитории
					.col-md-6
						ul.mb-0.pl-3
							li.text-warning.mb-2
								span.text-dark SEO перестало приносить результаты, но 
									strong нужно больше лидов
							li.text-warning.mb-2
								span.text-dark Объем продаж через интернет падает, но ведь еще 
									strong не время закрывать бизнес?
				.row.align-items-center.mt-4
					.col-md-6.mb-4
						button.btn.btn-warning.data-scroll.d-block(data-scroll="form-content") Заказать стратегию
					.col-md-6.mb-4
						p.mb-0.make-sites__custom-text Проводим защиту, дорабатываем стратегию по вашим пожеланиям
			.col-lg-6.mb-4
				.form__alarm.w-100
					.h1.mb-2 83%
					p.mb-2.text-dark.make-sites__custom-item успеха бизнеса зависят от правильно выбранной стратегии
				+video-item('https://youtu.be/ql9hNMo6yhY?t=185', 'background_gavrikov.jpg')
				.mt-3
					a(href="https://youtu.be/ql9hNMo6yhY?t=185" data-fancybox).text-underline Смотрите наш мастер-класс по разработке digital стратегии
