section.profit.bg-white
	.profit__title.profit__title-absolute
		.container
			.row
				.col-md-12.profit__title-container.bg-white
					.row
						.col-lg-9.col-xl-7
							h2.mb-4 Как мы помогаем развивать CRM-систему
	.profit__list-block
		.container
			.row
				.col-xl-3.col-lg-4.profit__list-container
					ul.list-unstyled.profit__list.d-none.d-lg-block
						li.profit__list-active
							a(href="#dealers-site") 1. Вводим в процесс и обучаем продавцов продукту
						li
							a(href="#personal-seo") 2. Обучаем правильной работе с CRM и ПО
						li
							a(href="#ad-item") 3. Контроль соблюдения методологии продаж и работы по процессу
						li
							a(href="#dealers-control") 4. Контроль работы продавцов в части ведения CRM
						li
							a(href="#dealers-control-2") 5. Коучинг продавцов - наставничество
						li
							a(href="#dealers-control-3") 6. Продажи в соц.сетях
						li
							a(href="#dealers-control-4") 7. Как узнать, когда правильно позвонить клиенту
					.d-block.d-lg-none.align-items-center.mt-2.mb-4
						.profit__select-container
							select#profit__nav-mobile.profit__select(name='profit__nav-mobile')
								option(value='#dealers-site') 1. Вводим в процесс и обучаем продавцов продукту
								option(value='#personal-seo')  2. Обучаем правильной работе с CRM и ПО
								option(value='#ad-item') 3. Контроль соблюдения методологии продаж и работы по процессу
								option(value='#dealers-control')  4. Контроль работы продавцов в части ведения CRM
								option(value='#dealers-control-2') 5. Коучинг продавцов - наставничество
								option(value='#dealers-control-3') 6. Продажи в соц.сетях
								option(value='#dealers-control-4') 7. Как узнать, когда правильно позвонить клиенту
	.profit__container
		.container
			.row
				.offset-xl-3.offset-lg-4.col-xl-9.col-lg-8.profit__container-initial
					#dealers-site.profit__calc-container-item.profit__calc-container-item-active
						h3.text-uppercase.mb-4 Потоково обучаем и контролируем процесс
						.row
							.col-md-6.mb-4
								ul.pl-3
									li.mb-3
										span.d-block.mb-3 Используем программное обеспечение
										ul.pl-0.list-unstyled
											li.mb-3 - Getcourse - SAAS решение
											li.mb-3 - Moodle - бесплатная для установки на свой сервер
							.col-md-6.mb-4
								ul.pl-3
									li.mb-3
										span.d-block.mb-3 Один раз подготавливаем:
										ul.pl-0.list-unstyled
											li.mb-3 - программу
											li.mb-3 - серию материалов
											li.mb-3 - дополнительные материалы
											li.mb-3 - тесты на каждый из модулей и общий
							.col-md-12.col-xl-8
								.system-consist__img-container
									img(src="picture/upload/crm-wehelp-1.png", alt="")
					#personal-seo.profit__calc-container-item
						.row
							.col-xl-8.col-lg-7.mb-4
								h3.text-uppercase.mb-4  Пошаговый помощник для обучения сложным интерфейсам
								p.mb-4 Решение для корпоративного сегмента.
								ul.pl-3.mb-4
									li.mb-3 Устанавливается как на корпоративные решения (1С, Microsoft, Bitrix Корпоративный портал), так и на веб приложения
									li.mb-3 Не изменяет код продукта, не получает доступ к данным и не нарушает корпоративных политик безопасности.
								a(href="http://setuper.ru" target="_blank") http://setuper.ru
							.col-xl-4.col-lg-5.mb-4
								.p-3.border.border-warning.bg-white.profit__shadow.mb-4
									small
										em Время поиска данных в 2-3 раза меньше, чем при "слепом тыканье" - не нужно запоминать последовательность шагов и пытаться их повторить.
								a(href="https://docs.google.com/presentation/d/1qv9_pl3ueR29KOlkI1jvbmGw_2zhRCLzN13bjhvN1c8/edit#slide=id.g6d5e8519a1_0_0")
									i.icon.icon-crm-download.text-dark
									u Скачать презентацию
								.d-flex.align-items-center.mt-4
									img(src="picture/upload/crm-funnel.svg", alt="").mr-3
									p.mb-0 Интеграция <br> c CRM
						.row
							.col-md-12.col-xl-8
								.system-consist__img-container
									img(src="picture/upload/crm-wehelp-2.png", alt="")
					#ad-item.profit__calc-container-item
						.row
							.col-xl-8.col-lg-7.mb-4
								h3.text-uppercase.mb-4 Аудит и рекомендации для ваших продавцов
								p.mb-4 Решение для корпоративного сегмента
								ul.pl-3.mb-4
									li.mb-3 Разовый удаленный аудит отдела продаж по записям разговоров
									li.mb-3 Транскрибатор звонков (подключаемся по IP к АТС, распознаем звонок с помощью Yandex SpeechKit, добавляем в события CRM)
									li.mb-3 Услуга прослушивания звонков операторов и подготовка отчетности (Услуга у Completo).
							.col-xl-4.col-lg-5.mb-4
								.p-3.border.border-warning.bg-white.profit__shadow
									small
										em По результатам аудита и рекомедаций формируется база знаний с успешными приемами от ваших продавцов или книга продаж.
						.row
							.col-md-12.col-xl-8
								.system-consist__img-container
									img(src="picture/upload/crm-wehelp-3.png", alt="")
					#dealers-control.profit__calc-container-item
						.row
							.col-xl-8.col-lg-7.mb-4
								h3.text-uppercase.mb-4 Планирование продаж
								p.mb-4 Решение для корпоративного сегмента.
								ul.pl-3.mb-4
									li.mb-3
										span Продавцы готовятся к планерке
										ul.pl-3
											li.mb-3
												span фильтр по наиболее важному статусу
												ul.pl-3
													li.mb-3 проверяем статус клиентов в воронке
													li.mb-3 ставим задачи, выполнение которых подвинет 
											li.mb-3
												span фильтр по менее важному статусу
												ul.pl-3
													li.mb-3 повтор действий
													li.mb-3 ...
									li.mb-3 Руководитель проверяет визуально, задает вопросы по важным клиентам, фиксируем в задачах
							.col-xl-4.col-lg-5.mb-4
								.p-3.border.border-warning.bg-white.profit__shadow
									small
										em План продаж не равняется выручке, помним об этом! План продаж - это детализация выручки и декомпозиция очерёдности действий для её достижения.
						.row
							.col-md-12.col-xl-8
								.system-consist__img-container
									img(src="picture/upload/crm-wehelp-4.png", alt="")
					#dealers-control-2.profit__calc-container-item
						.row
							.col-xl-8.col-lg-7.mb-4
								h3.text-uppercase.mb-4 Лев продаж - приложение в WhatsApp для помощи и мотивации продавцов
								p.mb-4 Лев продаж - умный ежедневник для продавца.
								ul.pl-3.mb-4
									li.mb-3 Помощник в продажах
									li.mb-3 Мотиватор продавца
									li.mb-3 Напоминание о необходимых действиях
									li.mb-3 Подсказывает, кому лучше уделить внимание, чтобы выполнить план продаж
								a(href="http://saleslion.ru" target="_blank") http://saleslion.ru
							.col-xl-4.col-lg-5.mb-4
								.p-3.border.border-warning.bg-white.profit__shadow.mb-4
									.mb-3
										small
											em Быстрый ввод данных, напоминания, подсказки, графики - в одном месте, удобно, наглядно.
									small
										em На основе интеллектуального движка и системы оценки встреч лев подсказывает что, когда и в каком объёме нужно сделать.
								//- a(href="#")
								//- 	i.icon.icon-crm-download.text-dark
								//- 	u Скачать презентацию
						.row
							.col-md-12.col-xl-8
								.system-consist__img-container
									img(src="picture/upload/crm-wehelp-5.png", alt="")
					#dealers-control-3.profit__calc-container-item
						.row
							.col-xl-8.col-lg-7.mb-4
								h3.text-uppercase.mb-4 Веб-сервис для мониторинга комментариев
								ul.pl-3.mb-4
									li.mb-3 Отфильтрует и покажет вам только те комментарии, которые принесут продажи.
									li.mb-3 Ведите базу потенциальных покупателей, следите за комментариями и сохраняйте историю общения.
									li.mb-3 Сервис собирает комментарии о заказах со всех аккаунтов в одну ленту. Там же вы можете отвечать клиентам.
								a(href="https://www.socsale.ru" target="_blank") https://www.socsale.ru
							.col-xl-4.col-lg-5.mb-4
								.p-3.border.border-warning.bg-white.profit__shadow.mb-4
									small
										em Чем быстрее вы увидите комментарий о заказе и ответите, тем больше вероятность продать. Чтобы найти комментарии от потенциальных покупателей, понадобится не более 30 минут в день.
								//- a(href="#")
								//- 	i.icon.icon-crm-download.text-dark
								//- 	u Скачать презентацию
								.d-flex.align-items-center.mt-4
									img(src="picture/upload/crm-funnel.svg", alt="").mr-3
									p.mb-0 Интеграция <br> c CRM
						.row
							.col-md-12.col-xl-8
								.system-consist__img-container
									img(src="picture/upload/crm-wehelp-6.png", alt="")
					#dealers-control-4.profit__calc-container-item.border-bottom-0.pb-0
						.row
							.col-xl-8.col-lg-7.mb-4
								h3.text-uppercase.mb-4 Сервис отправки электронных коммерческих предложений
								p.mb-4 Поможет увеличить количество сделок и сэкономит время.
								ul.pl-3.mb-4
									li.mb-3 Продавец тратит на 30% меньше времени на отправку КП и холодные звонки.
									li.mb-3 Сделки проходят на 40% быстрее
									li.mb-3 Вы всегда знаете, в какой момент лучше отправить КП и перезвонить клиенту.
									li.mb-3 Количество открытых КП увеличивается на 20%
								a(href="https://www.socsale.ru" target="_blank") https://www.socsale.ru
							.col-xl-4.col-lg-5.mb-4
								.p-3.border.border-warning.bg-white.profit__shadow.mb-4
									small
										em Ваше КП — это полноценная посадочная страница, к которой подключается Google Analytics и Яндекс. Метрика. И вы будете знать что конкретно изучает на вашей странице клиент и как сделать КП более конверсионным.
								//- a(href="#")
								//- 	i.icon.icon-crm-download.text-dark
								//- 	u Скачать презентацию
								.d-flex.align-items-center.mt-4
									img(src="picture/upload/crm-funnel.svg", alt="").mr-3
									p.mb-0 Интеграция <br> c CRM
						.row
							.col-md-12.col-xl-8
								.system-consist__img-container
									img(src="picture/upload/crm-wehelp-7.png", alt="")