.position-relative.py-5.whitepapers-evolution
	.container.my-md-4
		.row
			.col-md-12.col-lg-10.col-xl-8
				h2.h2.mb-4.mb-md-5.position-relative.z-index-2.form-h2
					span.yellow-border Поможем
						span.border-container.animation.visible.animated(data-animate="newline")
					span 
					span эволюционировать
		.row
			.col-md-5.col-lg-6.col-sm-8.mb-4.col-xl-7
				img(src="picture/upload/whitepapers-evolution.png", alt="").w-100
			.col-md-7.col-lg-6.mb-4.col-xl-5
				.videocourse__review-carousel-title-block
					p.videocourse__review-carousel-title Скачайте пошаговую инструкцию анализа конкурентов, и тогда вы сможете помочь своей компании быстро эволюционировать от новичка до супергероя на рынке.
				.d-flex.justify-content-center.mt-4.mt-md-5 
					button.btn.btn-warning.data-scroll(data-scroll='form-content') Получить инструкцию