.container
	.row
		.col-lg-4.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/kak-v-kompleto-upravljaut-proektami-po-veb-razrabotke/', 'blog-completo-1.jpg', 'Как управлять проектами по веб-разработке')
		.col-lg-4.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/instruktsiya-po-razrabotke-sayta-chto-nuzhno-znat-chtobyi-sayt-realno-prodaval/', 'blog-completo-2.png', 'Инструкция по разработке сайта: что нужно знать, чтобы сайт реально продавал')
		.col-lg-4.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/b2b-polnotsennyiy-sayt-ili-prodayushhiy-odnostranichnik/', 'b2b-site.png', 'B2B: полноценный сайт или продающий одностраничник?')
		.col-lg-4.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/sistemnyiy-podhod-k-razrabotke-sayta-pochemu-klassicheskie-veb-studii-i-ih-klientyi-obrechenyi/', 'what-b2b-site.jpg', 'Системный подход к разработке сайта: почему классические веб-студии и их клиенты обречены')
		.col-lg-4.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/kakim-dolzhen-byit-sayt-b2b-kompanii/', 'site-b2b-company.jpg', 'Каким должен быть сайт B2B-компании?')
		.col-lg-4.col-md-6.mb-4
			+blog-link('https://blog.completo.ru/kak-myi-zastavili-sayt-proizvoditelya-stroymaterialov-prodavat-produktsiyu-silami-dilerov-keys/', 'system-order.png', 'Как мы заставили сайт производителя продавать продукцию силами дилеров')