.py-5
	.container.my-md-4
		.row
			.col-md-12
				nav.breadcrumb
					ol.breadcrumb
						li.breadcrumb-item
							a(href="/").text-secondary Главная
						li.breadcrumb-item.active.text-dark(aria-current="page") Онлайн мероприятия
			.col-md-12
				h1.h2.mb-5.form-h2
					span.yellow-border Профессионально проводим
						span.border-container.animation.visible.animated(data-animate='newline')
					span 
					span онлайн мероприятия
		.row
			.col-lg-6.mb-4
				p.mb-4 Мы - маркетинговая группа. Наша работа - выстраивать качественный маркетинг в онлайне. 
				p.mb-5 В штате работает 30 дипломированных специалистов с европейским дипломом маркетинга NIMA
				.row
					.col-md-6
						.h4.text-secondary.mb-4 Обучаем рынок маркетингу
						p.mb-4 9 лет организуем вебинары и онлайн конференции
					.col-md-6
						.h4.text-secondary.mb-4 Выступаем
						p.mb-4 и участвуем в крупных конференциях и хорошо знаем всю внутреннюю кухню
					.col-md-6
						.h4.text-secondary.mb-4 Собственный учебный центр
						p.mb-4 
							a(href="https://maed.ru/" target="_blank") MAED
							span 
							span , где множество онлайн программ и все обучение проходит удаленно
					.col-md-6
						.h4.text-secondary.mb-4 Ведем сообщество
						p.mb-4
							a(href="https://www.facebook.com/groups/tyzhmarketolog" target="_blank") #Тыжмаркетолог
							span
							span  - паблик на 40к человек в FB
			.col-lg-6.mb-4
				a(href="https://www.youtube.com/user/Completoru/videos" target="_blank").d-block.mb-3
					img(src="picture/upload/goonline-image19.gif", alt="").w-100
				.text-center
					a(href="https://www.youtube.com/user/Completoru/videos" target="_blank")
						em
							u Смотрите наш Youtube канал с вебинарами и конференциями
