.marketing#marketing
	.container.marketing__container
		.absolute-circle.marketing__circle
			span.marketing__circle-child-1
			span.marketing__circle-child-2
			span.marketing__circle-child-3
			span.marketing__circle-child-4
			span.marketing__circle-child-5
			span.marketing__circle-child-6
			span.marketing__circle-child-7
		.row
			.col-lg-8
				.sub-title.text-uppercase 2. Other strong points
				h2.h2.mb-4.marketing__main-text Marketing
					br
					| digital approach for B2B
		.row.mb-4
			.col-lg-6
				p Completo`s Marketing managers have EMC и NIMA certificates. Internet for us is a channel that should be integrated in a total marketing business strategy
		.row
			.col-md-5.col-lg-4.col-xl-3
				.d-block.d-md-none.marketing__select.mb-4
					//select#myTabselect.select2(name="select2" style="width: 100%")
						option(value="strategy") Стратегии маркетинга и продаж
						option(value="sites") Сайты как инструмент бизнеса
						option(value="analytics") Сквозная аналитика
						option(value="seo") SEO от спроса рынка
						option(value="sell") Строим отделы продаж
						option(value="system") Система подогрева клиентов
					select#myTabselect.select2(name="select2" style="width: 100%")
						option(value="0") The marketing and sales strategy
						option(value="1") Websites as a business tool
						option(value="2") End-to-end analytics
						option(value="3") SEO for market demand
						option(value="4") Building sales teams
						option(value="5") Customer warm up system
				ul.nav.marketing__nav-tabs.d-none.d-md-block#myTab(role="tablist")
					li.marketing__nav-item
						a.marketing__nav-link.active#strategy-tab(data-toggle="tab" href="#strategy" role="tab" aria-controls="strategy" aria-selected="true") The marketing and sales strategy
					li.marketing__nav-item
						a.marketing__nav-link#sites-tab(data-toggle="tab" href="#sites" role="tab" aria-controls="sites" aria-selected="false") Websites as a business tool
					li.marketing__nav-item
						a.marketing__nav-link#analytics-tab(data-toggle="tab" href="#analytics" role="tab" aria-controls="analytics" aria-selected="false") End-to-end analytics
					li.marketing__nav-item
						a.marketing__nav-link#seo-tab(data-toggle="tab" href="#seo" role="tab" aria-controls="seo" aria-selected="false") SEO for market demand
					li.marketing__nav-item
						a.marketing__nav-link#sell-tab(data-toggle="tab" href="#sell" role="tab" aria-controls="sell" aria-selected="false") Building sales teams
					li.marketing__nav-item
						a.marketing__nav-link#system-tab(data-toggle="tab" href="#system" role="tab" aria-controls="system" aria-selected="false") Customer warm up system
			.col-md-7.col-lg-8.col-xl-9.tab-content.marketing__tab-content#myTabContet
				.absolute-circle.marketing__circle-2.d-none.d-md-block
					span.marketing__circle-child-2-1
					span.marketing__circle-child-2-2
					span.marketing__circle-child-2-3
					span.marketing__circle-child-2-4
					span.marketing__circle-child-2-5
					span.marketing__circle-child-2-6
					span.marketing__circle-child-2-7
				.row.marketing__macbook
					.col-lg-8
						img(src="picture/upload/mac.png", alt="").w-100
				#strategy(role="tabpanel" aria-labelledby="strategy-tab").tab-pane.show.active.w-100
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-1
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?v=6arDnjClcd0").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-6.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white The marketing and sales strategy
										p.text-white.marketing__desktop-text
											strong Andrew Gavrikov
											br
											span CEO
									.col-6.d-flex.align-items-end.h-100
										img(src="picture/upload/4.png", alt="").w-100
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text We study business processes, market, product, demand, USP and give a digital sales-boosting strategy. We have already developed
							.marketing__num-block
								.digital-transformation__card-num.text-warning.font-weight-bold 426
								.h5.text-warning strategies
							a(href="https://www.completo.ru/digital-strategy/" target="_blank").btn.btn-warning.marketing__btn Know more
				#sites(role="tabpanel" aria-labelledby="sites-tab").tab-pane
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-2
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?v=2H6sGCQMLNg").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-6.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white Sites as a business tool
										p.text-white.marketing__desktop-text
											strong Vladimir Davydov
											br
											span Сo-owner
									.col-6.d-flex.align-items-end.h-100
										img(src="picture/upload/2.png", alt="").w-100
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text  The sites are integrated in the marketing strategy, designed to meet the demand, manage the objections and help visitors go through the sales funnel
							.marketing__num-block.marketing__num-block__custom
								.digital-transformation__card-num.text-warning.font-weight-bold
									small
										small
											small.font-weight-bold 284 880 000 RUB.
								.h5.text-warning  per year revenue from the website
							a(href="https://www.completo.ru/razrabotka-sajta/" target="_blank").btn.btn-warning.marketing__btn Know more
				#analytics(role="tabpanel" aria-labelledby="analytics-tab").tab-pane
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-3
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?time_continue=877&v=PJXLw_R3z9Q").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-6.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white End-to-end analytics
										p.text-white.marketing__desktop-text
											strong Vladimir Davydov
											br
											span Co-owner
									.col-6.d-flex.align-items-end.h-100
										img(src="picture/upload/5.png", alt="").w-100
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text  We develop the assessment methodology of RAEK digital analytics. You will see all the important indicators, as ROI and LTV, in our visual report
							.marketing__num-block.marketing__num-block__custom
								.digital-transformation__card-num.text-warning.font-weight-bold
									small
										small.font-weight-bold for 4 months
								.h5.text-warning   the system pay off
							a(href="https://www.completo.ru/analytics/" target="_blank").btn.btn-warning.marketing__btn Know more
				#seo(role="tabpanel" aria-labelledby="seo-tab").tab-pane
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-4
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?v=ck2GogvXtMk").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-6.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white SEO for market demand
										p.text-white.marketing__desktop-text
											strong Michael Fedorov
											br
											span Co-owner
									.col-6.d-flex.align-items-end.h-100
										img(src="picture/upload/6.png", alt="").w-100
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text  We work with all kinds of demand and even with unformed one. Reporting on the dynamics of demand in the industry by positions, applications from organic and final sales.
							.marketing__num-block.marketing__num-block__custom
								.digital-transformation__card-num.text-warning.font-weight-bold  68% growth
								.h5.text-warning   of a non-brand traffic
							a(href="https://www.completo.ru/seo/" target="_blank").btn.btn-warning.marketing__btn Know more
				#sell(role="tabpanel" aria-labelledby="sell-tab").tab-pane
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-5
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?v=0-jlm9leHKo").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-8.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white Building sales teams
									.col-4.d-flex.align-items-end.h-100
										img(src="picture/upload/1.png", alt="")
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text  We make audits, develop call centers, set up soft tools, teach employees and monitor their efficiency.
							.marketing__num-block.marketing__num-block__custom
								.digital-transformation__card-num.text-warning.font-weight-bold  27% growth
								.h5.text-warning   of manager’s efficiency
				#system(role="tabpanel" aria-labelledby="system-tab").tab-pane
					.row.d-none.d-md-flex
						.col-lg-8
							.marketing__desktop.marketing__desktop-6
								.row.h-100.flex-nowrap
									a(data-fancybox href="https://www.youtube.com/watch?v=EUS7KhS7m9o").marketing__desktop-play
										span.main-section__case-link-circle
											i.icon.icon-play.text-white
									.col-6.h-100.d-flex.flex-column.justify-content-between
										.h4.text-white Customer warm up system
										p.text-white.marketing__desktop-text
											strong Andrew Gavrikov
											br
											span CEO
									.col-6.d-flex.align-items-end.h-100
										img(src="picture/upload/4.png", alt="").w-100
						.col-lg-4.marketing__right-block
							p.marketing__right-block-text  We make audits, develop call centers, set up soft tools, teach employees and monitor their efficiency
							.marketing__num-block.marketing__num-block__custom
								.digital-transformation__card-num.text-warning.font-weight-bold  87 times
								.h5.text-warning   growth of sales conversion
							a(href="https://www.completo.ru/salesfarm/" target="_blank").btn.btn-warning.marketing__btn Know more
			.marketing__slick.d-block.d-md-none
				.slick-slider-mob
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-1
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?v=6arDnjClcd0").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-6.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white The marketing and sales strategy
											p.text-white.marketing__desktop-text
												strong Andrew Gavrikov
												br
												span CEO
										.col-6.d-flex.align-items-end.h-100
											img(src="picture/upload/4.png", alt="").w-100
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text We study business processes, market, product, demand, USP and give a digital sales-boosting strategy. We have already developed
								.marketing__num-block
									.digital-transformation__card-num.text-warning.font-weight-bold 426
									.h5.text-warning strategies.
								a(href="https://www.completo.ru/digital-strategy/" target="_blank").btn.btn-warning.marketing__btn Know more
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-2
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?v=2H6sGCQMLNg").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-6.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white Sites as a business tool
											p.text-white.marketing__desktop-text
												strong Vladimir Davydov
												br
												span Сo-owner
										.col-6.d-flex.align-items-end.h-100
											img(src="picture/upload/2.png", alt="").w-100
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text  The sites are integrated in the marketing strategy, designed to meet the demand, manage the objections and help visitors go through the sales funnel
								.marketing__num-block.marketing__num-block__custom
									.digital-transformation__card-num.text-warning.font-weight-bold
										small
											small
												small.font-weight-bold 284 880 000 RUB.
									.h5.text-warning  per year revenue from the website
								a(href="https://www.completo.ru/razrabotka-sajta/" target="_blank").btn.btn-warning.marketing__btn Know more
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-3
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?time_continue=877&v=PJXLw_R3z9Q").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-6.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white End-to-end analytics
											p.text-white.marketing__desktop-text
												strong Vladimir Davydov
												br
												span Co-owner
										.col-6.d-flex.align-items-end.h-100
											img(src="picture/upload/5.png", alt="").w-100
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text  We develop the assessment methodology of RAEK digital analytics. You will see all the important indicators, as ROI and LTV, in our visual report.
								.marketing__num-block.marketing__num-block__custom
									.digital-transformation__card-num.text-warning.font-weight-bold
										small
											small.font-weight-bold for 4 months
									.h5.text-warning   the system pays off
								a(href="https://www.completo.ru/analytics/" target="_blank").btn.btn-warning.marketing__btn Know more
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-4
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?v=ck2GogvXtMk").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-6.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white SEO for market demand
											p.text-white.marketing__desktop-text
												strong Michael Fedorov
												br
												span Co-owner
										.col-6.d-flex.align-items-end.h-100
											img(src="picture/upload/6.png", alt="").w-100
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text  We work with all kinds of demand and even with unformed one. Reporting on the dynamics of demand in the industry by positions, applications from organic and final sales.
								.marketing__num-block.marketing__num-block__custom
									.digital-transformation__card-num.text-warning.font-weight-bold  68% growth
									.h5.text-warning   of a non-brand traffic
								a(href="https://www.completo.ru/seo/" target="_blank").btn.btn-warning.marketing__btn Know more
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-5
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?v=0-jlm9leHKo").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-8.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white Building sales teams
										.col-4.d-flex.align-items-end.h-100
											img(src="picture/upload/1.png", alt="")
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text  We make audits, develop call centers, set up soft tools, teach employees and monitor their efficiency
								.marketing__num-block.marketing__num-block__custom
									.digital-transformation__card-num.text-warning.font-weight-bold  27% growth
									.h5.text-warning   of manager’s efficiency
					.tab-pane
						.row
							.col-lg-8
								.marketing__desktop.marketing__desktop-6
									.row.h-100.flex-nowrap
										a(data-fancybox href="https://www.youtube.com/watch?v=EUS7KhS7m9o").marketing__desktop-play
											span.main-section__case-link-circle
												i.icon.icon-play.text-white
										.col-6.h-100.d-flex.flex-column.justify-content-between
											.h4.text-white Customer warm up system
											p.text-white.marketing__desktop-text
												strong Andrew Gavrikov
												br
												span CEO
										.col-6.d-flex.align-items-end.h-100
											img(src="picture/upload/4.png", alt="").w-100
							.col-lg-4.marketing__right-block
								p.marketing__right-block-text  We make audits, develop call centers, set up soft tools, teach employees and monitor their efficiency
								.marketing__num-block.marketing__num-block__custom
									.digital-transformation__card-num.text-warning.font-weight-bold 87 times
									.h5.text-warning   growth of sales conversion
								a(href="https://www.completo.ru/salesfarm/" target="_blank").btn.btn-warning.marketing__btn Know more